<template>
  <div>
    <div>
      <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <select id="tabs" name="tabs"
                class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-slate-600 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm rounded-md">
          <option @click="onTabChange(tab)" v-for="tab in tabs.filter(t => t.enabled)" :key="tab.name"
                  :selected="tab.name === charts.currentTab">{{
              tab.name
            }}
          </option>
        </select>
      </div>
      <div class="hidden sm:block">
        <div class="border-b border-gray-200 dark:border-slate-700">
          <nav class="-mb-px flex space-x-8" aria-label="Tabs">
            <a v-for="tab in tabs.filter(t => t.enabled)" :key="tab.name" :href="tab.href"
               @click="onTabChange(tab)"
               :class="[tab.name === charts.currentTab ? 'border-violet-500 text-violet-600' : 'border-transparent text-gray-500 dark:text-slate-200 hover:text-gray-700 hover:border-gray-200 dark:border-slate-700', 'whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm']"
               :aria-current="tab.name === charts.currentTab ? 'page' : undefined">
              {{ tab.name }}
              <span v-if="tab.count"
                    :class="[tab.name === charts.currentTab ? 'bg-violet-100 text-violet-600' : 'bg-gray-100 text-gray-900', 'hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block']">{{
                  tab.count
                }}</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div v-for="(sC, index) in currentGraphs" :key="`shared_chart_${index}`"
         class="bg-white dark:bg-slate-900 px-4 py-5 border-b border-gray-200 dark:border-slate-700 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
        {{ sC.name }}
      </h3>
      <p v-if="sC.description" class="mt-1 text-lg text-gray-500">
        {{ sC.description }}
      </p>
      <base-bar-chart :dataset="[
      {
        name: sC.name,
        data: sort($page.props.data.filter(s => s.most_played_class === activeClass)).desc(sC.field).map(s => s[sC.field])
      }
  ]"
                      :height="$page.props.data.filter(s => s.most_played_class === activeClass).length * 24"
                      :labels="sort($page.props.data.filter(s => s.most_played_class === activeClass)).desc(sC.field).map(s => s.common_name)"/>
    </div>
  </div>
</template>

<script>
import BaseBarChart from "../../Charts/BaseBarChart";
import {sort} from "fast-sort";
import {computed, reactive} from "vue";
import {Inertia} from "@inertiajs/inertia";

export default {
  name      : "CombinedCharts",
  components: {
    BaseBarChart
  },
  setup() {
    const charts = reactive(
        {
          currentTab: 'Scouts'
        }
    );

    // Filtered by classes
    const scouts = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'scout');
    })

    const soldiers = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'soldier');
    })

    const pyros = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'pyro');
    })

    const demomen = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'demoman');
    })

    const heavies = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'heavyweapons');
    })

    const engineers = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'engineer');
    })

    const medics = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'medic');
    })

    const snipers = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'sniper');
    })

    const spies = computed(() => {
      return Inertia.page.props.data.filter(s => s.most_played_class === 'spy');
    })

    const activeClass = computed(() => {
      const mapping = new Map(
          [
            ['Scouts', 'scout'],
            ['Soldiers', 'soldier'],
            ['Pyros', 'pyro'],
            ['Demomen', 'demoman'],
            ['Heavies', 'heavyweapons'],
            ['Engineers', 'engineer'],
            ['Medics', 'medic'],
            ['Snipers', 'sniper'],
            ['Spies', 'spy'],
          ]
      )
      return mapping.get(charts.currentTab);
    })

    const classCharts = [
      {
        name : 'Total Scouts killed',
        field: 'total_scouts_killed'
      },
      {
        name : 'Scouts killed per minute',
        field: 'total_scouts_killed_per_minute'
      },
      {
        name : 'Total Soldiers killed',
        field: 'total_soldiers_killed'
      },
      {
        name : 'Soldiers killed per minute',
        field: 'total_soldiers_killed_per_minute'
      },
      {
        name : 'Total Pyros killed',
        field: 'total_pyros_killed'
      },
      {
        name : 'Pyros killed per minute',
        field: 'total_pyros_killed_per_minute'
      },
      {
        name : 'Total Demomen killed',
        field: 'total_demomen_killed'
      },
      {
        name : 'Demomen killed per minute',
        field: 'total_demomen_killed_per_minute'
      },
      {
        name : 'Total Heavies killed',
        field: 'total_heavies_killed'
      },
      {
        name : 'Heavies killed per minute',
        field: 'total_heavies_killed_per_minute'
      },
      {
        name : 'Total Engineers killed',
        field: 'total_engineers_killed'
      },
      {
        name : 'Engineers killed per minute',
        field: 'total_engineers_killed_per_minute'
      },
      {
        name : 'Total Medics killed',
        field: 'total_medics_killed'
      },
      {
        name : 'Medics killed per minute',
        field: 'total_medics_killed_per_minute'
      },
      {
        name : 'Total Snipers killed',
        field: 'total_snipers_killed'
      },
      {
        name : 'Snipers killed per minute',
        field: 'total_snipers_killed_per_minute'
      },
      {
        name : 'Total Spies killed',
        field: 'total_spies_killed'
      },
      {
        name : 'Spies killed per minute',
        field: 'total_spies_killed_per_minute'
      },
    ]

    const tabs = computed(() => {
      return [
        {
          name    : 'Scouts',
          href    : '#scouts',
          tf_class: 'scout',
          enabled : scouts.value.length > 0,
          count   : scouts.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Soldiers',
          href    : '#soldiers',
          tf_class: 'soldier',
          enabled : soldiers.value.length > 0,
          count   : soldiers.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Airshots',
              field: 'total_airshots'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Sentries destroyed',
              field: 'total_sentries_destroyed'
            },
            {
              name : 'Sentries destroyed per minute',
              field: 'average_sentries_destroyed_per_minute'
            },
            {
              name : 'Dispensers destroyed',
              field: 'total_dispensers_destroyed'
            },
            {
              name : 'Dispensers destroyed per minute',
              field: 'average_dispensers_destroyed_per_minute'
            },
            {
              name : 'Teleporters destroyed',
              field: 'total_teleporters_destroyed'
            },
            {
              name : 'Teleporters destroyed per minute',
              field: 'average_teleporters_destroyed_per_minute'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Pyros',
          href    : '#pyros',
          tf_class: 'pyro',
          enabled : pyros.value.length > 0,
          count   : pyros.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Extinguishes',
              field: 'total_extinguishes'
            },
            {
              name : 'Extinguishes per minute',
              field: 'average_extinguishes_per_minute'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Demomen',
          href    : '#demomen',
          tf_class: 'demoman',
          enabled : demomen.value.length > 0,
          count   : demomen.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Airshots',
              field: 'total_airshots'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Sentries destroyed',
              field: 'total_sentries_destroyed'
            },
            {
              name : 'Sentries destroyed per minute',
              field: 'average_sentries_destroyed_per_minute'
            },
            {
              name : 'Dispensers destroyed',
              field: 'total_dispensers_destroyed'
            },
            {
              name : 'Dispensers destroyed per minute',
              field: 'average_dispensers_destroyed_per_minute'
            },
            {
              name : 'Teleporters destroyed',
              field: 'total_teleporters_destroyed'
            },
            {
              name : 'Teleporters destroyed per minute',
              field: 'average_teleporters_destroyed_per_minute'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Heavies',
          href    : '#heavies',
          tf_class: 'heavyweapons',
          enabled : heavies.value.length > 0,
          count   : heavies.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            }
          ].concat(classCharts)
        },
        {
          name    : 'Engineers',
          href    : '#engineers',
          tf_class: 'engineer',
          enabled : engineers.value.length > 0,
          count   : engineers.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Sentries built',
              field: 'total_sentries_built'
            },
            {
              name : 'Average sentries built per minute',
              field: 'average_sentries_built'
            },
            {
              name : 'Dispensers built',
              field: 'total_dispensers_built'
            },
            {
              name : 'Average dispensers built per minute',
              field: 'average_dispensers_built'
            },
            {
              name : 'Teleporters built',
              field: 'total_teleporters_built'
            },
            {
              name : 'Average teleporters built per minute',
              field: 'average_teleporters_built'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Medics',
          href    : '#medics',
          tf_class: 'medic',
          enabled : medics.value.length > 0,
          count   : medics.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Total charges',
              field: 'total_charges'
            },
            {
              name : 'Total charges (Medigun)',
              field: 'total_charges_uber'
            },
            {
              name : 'Total charges (Kritzkrieg)',
              field: 'total_charges_kritzkrieg'
            },
            {
              name : 'Total charges (Vaccinator)',
              field: 'total_charges_vaccinator'
            },
            {
              name : 'Total charges (Quick-Fix)',
              field: 'total_charges_quickfix'
            },
            {
              name : 'Total drops',
              field: 'total_drops'
            },
            {
              name : 'Biggest advantage lost (in seconds)',
              field: 'biggest_advantage_lost'
            },
            {
              name : 'Average charge length',
              field: 'average_charge_length'
            },
            {
              name : 'Average time before using',
              field: 'average_time_before_using'
            },
            {
              name : 'Average time to build',
              field: 'average_time_to_build'
            },
            {
              name : 'Average time before healing',
              field: 'average_time_before_healing'
            },
          ].concat(classCharts)
        },
        {
          name    : 'Snipers',
          href    : '#snipers',
          tf_class: 'sniper',
          enabled : snipers.value.length > 0,
          count   : snipers.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Total headshots',
              field: 'total_headshots'
            },
            {
              name : 'Headshots per minute',
              field: 'average_headshots_per_minute'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            }
          ].concat(classCharts)
        },
        {
          name    : 'Spies',
          href    : '#spies',
          tf_class: 'spy',
          enabled : spies.value.length > 0,
          count   : spies.value.length,
          charts  : [
            {
              name : 'Kills',
              field: 'total_kills'
            },
            {
              name : 'Kills per minute',
              field: 'average_kills_per_minute'
            },
            {
              name : 'Kills per death',
              field: 'average_kills_per_death'
            },
            {
              name : 'Kills assists per death',
              field: 'average_kills_assists_per_death'
            },
            {
              name : 'Assists',
              field: 'total_assists'
            },
            {
              name : 'Assists per minute',
              field: 'average_assists_per_minute'
            },
            {
              name : 'Deaths',
              field: 'total_deaths'
            },
            {
              name : 'Deaths per minute',
              field: 'average_deaths_per_minute'
            },
            {
              name : 'Damage',
              field: 'total_damage'
            },
            {
              name : 'Damage per minute',
              field: 'average_damage_per_minute'
            },
            {
              name : 'Damage taken',
              field: 'total_damage_taken'
            },
            {
              name : 'Damage taken per minute',
              field: 'average_damage_taken_per_minute'
            },
            {
              name : 'Heals received',
              field: 'total_heals_received'
            },
            {
              name : 'Total headshots',
              field: 'total_headshots'
            },
            {
              name : 'Average headshots per minute',
              field: 'average_headshots_per_minute'
            },
            {
              name : 'Total backstabs',
              field: 'total_backstabs'
            },
            {
              name : 'Average backstabs per minute',
              field: 'average_backstabs_per_minute'
            },
            {
              name : 'Dead Ringer feigns',
              field: 'total_feigns'
            },
            {
              name : 'Dead Ringer feigns per minute',
              field: 'average_feigns_per_minute'
            },
            {
              name : 'Capture points captured',
              field: 'total_point_captures'
            },
            {
              name : 'Sentries destroyed',
              field: 'total_sentries_destroyed'
            },
            {
              name : 'Sentries destroyed per minute',
              field: 'average_sentries_destroyed_per_minute'
            },
            {
              name : 'Dispensers destroyed',
              field: 'total_dispensers_destroyed'
            },
            {
              name : 'Dispensers destroyed per minute',
              field: 'average_dispensers_destroyed_per_minute'
            },
            {
              name : 'Teleporters destroyed',
              field: 'total_teleporters_destroyed'
            },
            {
              name : 'Teleporters destroyed per minute',
              field: 'average_teleporters_destroyed_per_minute'
            },
          ].concat(classCharts)
        },
      ]
    })

    const currentGraphs = computed(() => {
      const tab = tabs.value.find(t => t.name === charts.currentTab);
      //console.log({tab})
      if (tab && tab.hasOwnProperty('charts')) {
        return tab.charts;
      }
      return [];
    })

    /*const sharedCharts = [
     {
     name : 'Kills',
     field: 'total_kills'
     },
     {
     name : 'Kills per minute',
     field: 'average_kills_per_minute'
     },
     {
     name : 'Kills per death',
     field: 'average_kills_per_death'
     },
     {
     name : 'Kills assists per death',
     field: 'average_kills_assists_per_death'
     },
     {
     name : 'Assists',
     field: 'total_assists'
     },
     {
     name : 'Assists per minute',
     field: 'average_assists_per_minute'
     },
     {
     name : 'Deaths',
     field: 'total_deaths'
     },
     {
     name : 'Deaths per minute',
     field: 'average_deaths_per_minute'
     },
     {
     name : 'Damage',
     field: 'total_damage'
     },
     {
     name : 'Damage per minute',
     field: 'average_damage_per_minute'
     },
     {
     name : 'Damage taken',
     field: 'total_damage_taken'
     },
     {
     name : 'Damage taken per minute',
     field: 'average_damage_taken_per_minute'
     },
     {
     name : 'Heals received',
     field: 'total_heals_received'
     },
     {
     name : 'Airshots',
     field: 'total_airshots'
     },
     {
     name : 'Capture points captured',
     field: 'total_point_captures'
     }
     ]*/

    function onTabChange(tab) {
      charts.currentTab = tab.name;
      //console.log({tab})
    }

    return {
      charts,
      onTabChange,
      currentGraphs,
      tabs,
      sort,
      scouts,
      soldiers,
      pyros,
      demomen,
      heavies,
      engineers,
      medics,
      snipers,
      spies,
      activeClass
    }
  }
}
</script>

<style scoped>

</style>