<template>
  <base-table
      :overflow-hidden="false"
      table-header-cell-class="bg-white dark:bg-slate-900 z-10"
      identifier="logs"
      table-body-cell-class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
      @sort-changed="sortChanged"
      v-model:columns="charts.columns"
      v-model:visible="charts.visible"
      :data="charts.data"
      :meta="charts.meta"
      :loading="charts.loading"
      row-key="id">
    <template v-slot:header-cell-class_played="props">
              <span content="Class played"
                    v-tippy="{ placement : 'top' }">
                C
              </span>
    </template>
    <template v-slot:header-cell-kills="props">
              <span content="Kills"
                    v-tippy="{ placement : 'top' }">
                K
              </span>
    </template>
    <template v-slot:header-cell-damage="props">
              <span content="Damage"
                    v-tippy="{ placement : 'top' }">
                DA
              </span>
    </template>
    <template v-slot:header-cell-shots="props">
              <span content="Shots"
                    v-tippy="{ placement : 'top' }">
                Shots
              </span>
    </template>
    <template v-slot:header-cell-hits="props">
              <span content="Hits"
                    v-tippy="{ placement : 'top' }">
                Hits
              </span>
    </template>
    <template v-slot:header-cell-accuracy="props">
              <span content="Accuracy"
                    v-tippy="{ placement : 'top' }">
                Acc.
              </span>
    </template>
    <template v-slot:body-cell-value-class_played="props">
      <div class="flex items-center space-x-2">
        <div class="flex flex-shrink-0 -space-x-1">
          <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white dark:bg-white"
               :src="`/assets/${props.row.class_played}_icon.png`"
               :alt="props.row.class_played"/>
        </div>
      </div>
    </template>
    <template v-slot:body-cell-value-weapon_name="props">
      <span class="block">
      {{ `${getWeaponName(props.row.weapon_name)}` }}
      </span>
      <span class="block text-xs">
        {{ props.row.weapon_name }}
      </span>
    </template>
    <template v-slot:body-cell-value-common_name="props">
      <jet-dropdown align="right" width="48">
        <template #trigger>
          <button
              class="flex gap-x-2 text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
            <img class="h-6 w-6 rounded-full object-cover" :src="props.row.img"
                 :alt="props.row.common_name"/>
            <span :content="props.row.common_name"
                  v-tippy="{ placement : 'top' }">
                    {{ props.row.common_name }}
                  </span>
          </button>
        </template>

        <template #content>
          <div class="block px-4 py-2 text-xs text-gray-300">
            Links
          </div>
          <jet-dropdown-link as="a" :href="route('player.detail', {user: props.row.steam_id})">
            Profile
          </jet-dropdown-link>
          <jet-dropdown-link as="a" :href="`https://logs.tf/profile/${props.row.steam_id}`">
            logs.tf
          </jet-dropdown-link>
          <jet-dropdown-link as="a" :href="`https://steamcommunity.com/profiles/${props.row.steam_id}`">
            Steam
          </jet-dropdown-link>
          <jet-dropdown-link as="a" :href="`https://etf2l.org/search/${props.row.steam_id}`">
            ETF2L
          </jet-dropdown-link>
          <jet-dropdown-link as="a"
                             :href="`https://www.ugcleague.com/players_page.cfm?player_id=${props.row.steam_id}`">
            UGC
          </jet-dropdown-link>
          <jet-dropdown-link as="a"
                             :href="`https://rgl.gg/Public/PlayerProfile.aspx?p=${props.row.steam_id}`">
            RGL
          </jet-dropdown-link>
          <jet-dropdown-link as="a"
                             :href="`https://warzone.ozfortress.com/users/steam_id/${props.row.steam_id}`">
            ozfortress
          </jet-dropdown-link>
          <jet-dropdown-link as="a" :href="`https://tf2center.com/profile/${props.row.steam_id}`">
            TF2Center
          </jet-dropdown-link>
        </template>
      </jet-dropdown>
    </template>
  </base-table>
</template>

<script>
import BaseTable from "../../Tables/BaseTable";
import {getClassName} from "../../../Functions/classes";
import {getWeaponName} from "../../../Functions/weapons";
import {sort} from "fast-sort/dist/sort";
import {reactive} from "vue";
import {Inertia} from "@inertiajs/inertia";
import JetDropdown from "../../../Jetstream/Dropdown";
import JetDropdownLink from "../../../Jetstream/DropdownLink";

export default {
  name      : "CombinedWeapons",
  components: {
    BaseTable,
    JetDropdown,
    JetDropdownLink
  },
  setup() {
    const charts = reactive(
        {
          data       : Inertia.page.props.weapons,
          tableHeight: 700,
          visible    : ['common_name', 'class_played', 'weapon_name', 'kills', 'damage', 'accuracy'],
          columns    : [
            {
              name        : "common_name",
              field       : "common_name",
              label       : 'Player',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 100,
            },
            {
              name        : "class_played",
              field       : "class_played",
              label       : 'C',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 40,
            },
            {
              name        : "weapon_name",
              field       : "weapon_name",
              label       : 'Weapon',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 90,
            },
            {
              name        : "kills",
              field       : "kills",
              label       : 'Kills',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 90,
            },
            {
              name        : "damage",
              field       : "damage",
              label       : 'Damage',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 90,
            },
            {
              name        : "accuracy",
              field       : "accuracy",
              label       : 'Accuracy',
              align       : 'left',
              sortable    : true,
              headerFilter: "text",
              width       : 90,
            },
          ]
        }
    )

    function sortChanged(props) {
      const {order, column} = props;
      console.log({order, column})
      if (order === 'asc') {
        if (column !== 'class_played') {
          charts.data = sort(Inertia.page.props.weapons).asc(column)
        } else {
          sortByClass(order)
        }
      } else {
        if (column !== 'class_played') {
          charts.data = sort(Inertia.page.props.weapons).desc(column)
        } else {
          sortByClass(order)
        }
      }
    }

    function sortByClass(order) {
      // Order classes in this order.
      const tfClassImportance = {
        scout       : 1,
        soldier     : 2,
        pyro        : 3,
        demoman     : 4,
        heavyweapons: 5,
        engineer    : 6,
        medic       : 7,
        sniper      : 8,
        spy         : 9
      };

      if (order === 'asc') {
        charts.data = sort(Inertia.page.props.weapons).asc(tfClass => tfClassImportance[tfClass.class_played] || 0)
      } else {
        charts.data = sort(Inertia.page.props.weapons).desc(tfClass => tfClassImportance[tfClass.class_played] || 0)
      }
    }

    return {
      getClassName,
      getWeaponName,
      sortChanged,
      sort,
      charts
    }
  }
}
</script>

<style scoped>

</style>