<template>
  <ul role="list" class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <li v-for="(log, index) in $page.props.collection.data.logs" :key="`log_${log.id}`" class="col-span-1 bg-white dark:bg-slate-900 rounded-lg shadow divide-y divide-gray-200 dark:divide-slate-700">
      <div class="w-full flex items-center justify-between p-6 space-x-6">
        <div class="flex-1 truncate">
          <div class="flex items-center space-x-3">
            <h3 class="text-gray-900 dark:text-slate-200 text-sm font-medium truncate">{{ log.title }}</h3>
            <span class="flex-shrink-0 inline-block px-2 py-0.5 text-violet-800 text-xs font-medium bg-violet-100 rounded-full">{{ log.date_h }}</span>
          </div>
          <p v-if="log.home && log.away" class="mt-1 text-gray-500 dark:text-slate-200 text-sm truncate">{{ log.home }} vs {{ log.away }}</p>
          <p class="mt-1 text-gray-500 dark:text-slate-200 text-sm truncate" v-else>? (not registered)</p>
          <p class="mt-1 text-gray-500 dark:text-slate-200 text-sm truncate">{{ log.map }}</p>
          <!--<p v-if="log.demos.length > 0" class="mt-3 text-gray-500 dark:text-slate-100 text-sm leading-tight truncate">Demos</p>
          <a :href="demo.demostf_url" v-for="(demo, demoIndex) in log.demos" :key="`demo_${demoIndex}`" class="block mt-1 text-violet-500 dark:text-violet-300 hover:underline text-sm truncate">{{ demo.demostf_url }}</a>-->
        </div>
      </div>
      <div>
        <div class="-mt-px flex divide-x divide-gray-200 dark:divide-slate-700">
          <div class="w-0 flex-1 flex">
            <a :href="`https://logs.tf/${log.id}`" target="_blank" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 dark:text-slate-200">
              logs.tf
            </a>
          </div>
          <div v-if="log.vod" class="w-0 flex-1 flex">
            <a :href="log.vod.url" target="_blank" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 dark:text-slate-200">
              VOD ({{ log.vod.channel }})
            </a>
          </div>
          <div v-for="(demo, demoIndex) in log.demos" :key="`demo_${demoIndex}`" class="w-0 flex-1 flex">
            <a :href="demo.demostf_url" target="_blank" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500 dark:text-slate-200">
              Demo {{ demoIndex + 1 }}
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
import {Link} from "@inertiajs/inertia-vue3";

export default {
  name: "CombinedLogOverview",
  components: {
    Link
  }
}
</script>

<style scoped>

</style>