<template>
  <button type="button"
          class="inline-flex items-center p-2 border border-transparent rounded-full shadow-sm text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
    <SunIcon class="h-6 w-6" aria-hidden="true"/>
  </button>
</template>

<script>
import {SunIcon} from "@heroicons/vue/solid"

export default {
  name      : "LightThemeButton",
  components: {
    SunIcon
  }
}
</script>

<style scoped>

</style>