<template>
  <div>
    <apexchart
        :height="height"
        type="bar"
        :options="chartOptions"
        :series="dataset"
    ></apexchart>
  </div>
</template>

<script>
import {computed} from "vue";

export default {
  name : "BaseBarChart",
  props: {
    labels : {
      required: true,
      type    : Array,
      default : () => {
        return [1, 2, 3]
      }
    },
    height : {
      type    : Number,
      required: false,
      default : 300
    },
    dataset: {
      required: true,
      type    : Array,
      default : () => {
        return [
          {
            name: "Placeholder",
            data: [1, 2, 3]
          }
        ]
      }
    }
  },
  setup(props) {
    const chartOptions = computed(() => {
      return {
        chart      : {
          foreColor: localStorage.getItem('theme') && localStorage.getItem('theme') === 'dark' ? 'white' : 'black',
          id        : "base-bar-chart-tf",
          toolbar   : {
            show : false,
            tools: {
              download: false,
            }
          },
          dropShadow: {
            enabled: true,
            top    : 0,
            left   : 0,
            blur   : 1,
            opacity: 0.5
          },
        },
        fontFamily : 'Inter, Helvetica, Arial, sans-serif',
        plotOptions: {
          bar: {
            horizontal: true
          }
        },
        fill       : {
          colors: "#8B5CF6"
        },
        /*dataLabels : {
          enabled: true,
          style  : {
            colors: ['white']
          },
          offsetX: 30
        },*/
        xaxis      : {
          categories: props.labels
        },
      }
    })
    return {
      chartOptions
    }
  }
};
</script>

<style scoped>

</style>