<template>
  <app-layout :title="$page.props.collection.data.name">
    <template #header>
      <div class="flex items-center justify-between gap-x-2">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-100 leading-tight">
          {{ $page.props.collection.data.name }}
        </h2>
        <button @click="downloadExcel" type="button"
                class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
          <DocumentDownloadIcon class="h-6 w-6" aria-hidden="true"/>
        </button>
      </div>
    </template>
    <div class="py-12">
      <div class="max-w-full mx-auto sm:px-6 lg:px-8">
        <div>
          <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <select id="tabs" name="tabs"
                    class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-slate-600 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm rounded-md">
              <option @click="onTabChange(tab)" v-for="tab in tabs" :key="tab.name"
                      :selected="tab.name === charts.currentTab">{{
                  tab.name
                }}
              </option>
            </select>
          </div>
          <div class="hidden sm:block">
            <div class="border-b border-gray-200 dark:border-slate-700">
              <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <a v-for="tab in tabs" :key="tab.name" :href="tab.href"
                   @click="onTabChange(tab)"
                   :class="[tab.name === charts.currentTab ? 'border-violet-500 text-violet-600' : 'border-transparent text-gray-500 dark:text-slate-200 hover:text-gray-700 hover:border-gray-200 dark:border-slate-700', 'whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm']"
                   :aria-current="tab.name === charts.currentTab ? 'page' : undefined">
                  {{ tab.name }}
                  <span v-if="tab.count"
                        :class="[tab.name === charts.currentTab ? 'bg-violet-100 text-violet-600' : 'bg-gray-100 text-gray-900', 'hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block']">{{
                      tab.count
                    }}</span>
                </a>
              </nav>
            </div>
          </div>
        </div>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <div v-if="charts.currentTab === 'Players'">
            <div class="sm:hidden">
              <label for="class_tabs" class="sr-only">Select a class</label>
              <select id="class_tabs" name="class_tabs"
                      class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-slate-600 focus:outline-none focus:ring-violet-500 focus:border-violet-500 sm:text-sm rounded-md">
                <option @click="onClassTabChange(classTab)" v-for="classTab in classTabs.filter(ct => ct.enabled)"
                        :key="classTab.value"
                        :selected="classTab.value === charts.currentClassTab">{{
                    classTab.label
                  }}
                </option>
              </select>
            </div>
            <div class="hidden sm:block">
              <div class="border-b border-gray-200 dark:border-slate-700">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                  <a v-for="classTab in classTabs.filter(ct => ct.enabled)" :key="classTab.value"
                     :href="classTab.href"
                     @click="onClassTabChange(classTab)"
                     :class="[classTab.value === charts.currentClassTab ? 'border-violet-500 text-violet-600' : 'border-transparent text-gray-500 dark:text-slate-200 hover:text-gray-700 hover:border-gray-200 dark:border-slate-700', 'whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm cursor-pointer']"
                     :aria-current="classTab.value === charts.currentClassTab ? 'page' : undefined">
                    {{ classTab.label }}
                    <span v-if="classTab.count"
                          :class="[classTab.value === charts.currentClassTab ? 'bg-violet-100 text-violet-600' : 'bg-gray-100 text-gray-900', 'hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block']">{{
                        classTab.count
                      }}</span>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <div
              class="players-section"
              v-if="charts.currentTab === 'Players'">
            <base-table
                :overflow-hidden="false"
                table-header-cell-class="bg-white dark:bg-slate-900 z-10"
                identifier="logs"
                table-body-cell-class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                @sort-changed="sortChanged"
                v-model:columns="chartColumns"
                v-model:visible="charts.visible"
                :data="charts.data"
                :meta="charts.meta"
                :loading="charts.loading"
                row-key="id">

              <template v-slot:body-cell-value-total_kills="props">
                <span :class="[getMax('total_kills', charts.data) === props.row.total_kills ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_kills', charts.data) === props.row.total_kills ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_kills', charts.data) === props.row.total_kills  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_kills }}
                </span>
              </template>
              <template v-slot:header-cell-most_played_class="props">
              <span content="Classes played"
                    v-tippy="{ placement : 'top' }">
                C
              </span>
              </template>
              <template v-slot:header-cell-total_kills="props">
              <span content="Kills"
                    v-tippy="{ placement : 'top' }">
                K
              </span>
              </template>
              <template v-slot:header-cell-average_kills_per_minute="props">
              <span content="Kills per minute"
                    v-tippy="{ placement : 'top' }">
                K/M
              </span>
              </template>
              <template v-slot:body-cell-value-average_kills_per_minute="props">
                <span :class="[getMax('average_kills_per_minute', charts.data) === props.row.average_kills_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('average_kills_per_minute', charts.data) === props.row.average_kills_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('average_kills_per_minute', charts.data) === props.row.average_kills_per_minute  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_kills_per_minute }}
                </span>
              </template>
              <template v-slot:body-cell-value-average_kills_per_death="props">
                <span :class="[getMax('average_kills_per_death', charts.data) === props.row.average_kills_per_death ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('average_kills_per_death', charts.data) === props.row.average_kills_per_death ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('average_kills_per_death', charts.data) === props.row.average_kills_per_death  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_kills_per_death }}
                </span>
              </template>
              <template v-slot:body-cell-value-average_kills_assists_per_death="props">
                <span :class="[getMax('average_kills_assists_per_death', charts.data) === props.row.average_kills_assists_per_death ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('average_kills_assists_per_death', charts.data) === props.row.average_kills_assists_per_death ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('average_kills_assists_per_death', charts.data) === props.row.average_kills_assists_per_death  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_kills_assists_per_death }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_assists="props">
                <span :class="[getMax('total_assists', charts.data) === props.row.total_assists ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_assists', charts.data) === props.row.total_assists ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_assists', charts.data) === props.row.total_assists  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_assists }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_point_captures="props">
                <span :class="[getMax('total_point_captures', charts.data) === props.row.total_point_captures ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_point_captures', charts.data) === props.row.total_point_captures ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_point_captures', charts.data) === props.row.total_point_captures  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_point_captures }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_deaths="props">
                <span  :class="[getMin('total_deaths', charts.data) === props.row.total_deaths ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecondMin('total_deaths', charts.data) === props.row.total_deaths ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThirdMin('total_deaths', charts.data) === props.row.total_deaths  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_deaths }}
                </span>
              </template>
              <template v-slot:body-cell-value-longest_killstreak="props">
                <span :class="[getMax('longest_killstreak', charts.data) === props.row.longest_killstreak ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('longest_killstreak', charts.data) === props.row.longest_killstreak ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('longest_killstreak', charts.data) === props.row.longest_killstreak  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.longest_killstreak }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_damage="props">
                <span :class="[getMax('total_damage', charts.data) === props.row.total_damage ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_damage', charts.data) === props.row.total_damage ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_damage', charts.data) === props.row.total_damage  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_damage }}
                </span>
              </template>
              <template v-slot:body-cell-value-average_damage_per_minute="props">
                <span :class="[getMax('average_damage_per_minute', charts.data) === props.row.average_damage_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('average_damage_per_minute', charts.data) === props.row.average_damage_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('average_damage_per_minute', charts.data) === props.row.average_damage_per_minute  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_damage_per_minute }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_damage_taken="props">
                <span :class="[getMax('total_damage_taken', charts.data) === props.row.total_damage_taken ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_damage_taken', charts.data) === props.row.total_damage_taken ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_damage_taken', charts.data) === props.row.total_damage_taken  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_damage_taken }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_backstabs="props">
                <span :class="[getMax('total_backstabs', charts.data) === props.row.total_backstabs ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_backstabs', charts.data) === props.row.total_backstabs ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_backstabs', charts.data) === props.row.total_backstabs  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_backstabs }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_headshots="props">
                <span :class="[getMax('total_headshots', charts.data) === props.row.total_headshots ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_headshots', charts.data) === props.row.total_headshots ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_headshots', charts.data) === props.row.total_headshots  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_headshots }}
                </span>
              </template>
              <template v-slot:body-cell-value-total_airshots="props">
                <span :class="[getMax('total_airshots', charts.data) === props.row.total_airshots ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('total_airshots', charts.data) === props.row.total_airshots ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('total_airshots', charts.data) === props.row.total_airshots  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.total_airshots }}
                </span>
              </template>
              <template v-slot:body-cell-value-average_damage_taken_per_minute="props">
                <span :class="[getMax('average_damage_taken_per_minute', charts.data) === props.row.average_damage_taken_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecond('average_damage_taken_per_minute', charts.data) === props.row.average_damage_taken_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThird('average_damage_taken_per_minute', charts.data) === props.row.average_damage_taken_per_minute  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_damage_taken_per_minute }}
                </span>
              </template>

              <template v-slot:body-cell-value-average_deaths_per_minute="props">
                <span :class="[getMin('average_deaths_per_minute', charts.data) === props.row.average_deaths_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-yellow-300 text-yellow-900' : (
                    getSecondMin('average_deaths_per_minute', charts.data) === props.row.average_deaths_per_minute ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-300 text-gray-900' : (
                      getThirdMin('average_deaths_per_minute', charts.data) === props.row.average_deaths_per_minute  ? 'inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-orange-300 text-orange-900' : ''
                    )
                )]">
                    {{ props.row.average_deaths_per_minute }}
                </span>
              </template>
              <template v-slot:header-cell-total_assists="props">
              <span content="Assists"
                    v-tippy="{ placement : 'top' }">
                A
              </span>
              </template>
              <template v-slot:header-cell-total_deaths="props">
              <span content="Deaths"
                    v-tippy="{ placement : 'top' }">
                D
              </span>
              </template>
              <template v-slot:header-cell-total_damage="props">
              <span content="Damage"
                    v-tippy="{ placement : 'top' }">
                DA
              </span>
              </template>
              <template v-slot:header-cell-average_damage_per_minute="props">
              <span content="Damage per minute"
                    v-tippy="{ placement : 'top' }">
                DPM
              </span>
              </template>
              <template v-slot:header-cell-total_damage_taken="props">
              <span content="Damage taken"
                    v-tippy="{ placement : 'top' }">
                DT
              </span>
              </template>
              <!--<template v-slot:header-cell-total_medkit_pickup="props">
              <span content="Medkit pickup"
                    v-tippy="{ placement : 'top' }">
                HP
              </span>
              </template>-->
              <!--<template v-slot:header-cell-total_suicides="props">
              <span content="Suicides"
                    v-tippy="{ placement : 'top' }">
                S
              </span>
              </template>-->
              <template v-slot:header-cell-total_backstabs="props">
              <span content="Backstabs"
                    v-tippy="{ placement : 'top' }">
                BS
              </span>
              </template>
              <template v-slot:header-cell-longest_killstreak="props">
              <span content="Longest killstreak"
                    v-tippy="{ placement : 'top' }">
                LKS
              </span>
              </template>
              <template v-slot:header-cell-total_headshots="props">
              <span content="Headshots"
                    v-tippy="{ placement : 'top' }">
                HS
              </span>
              </template>
              <template v-slot:header-cell-total_airshots="props">
              <span content="Airshots"
                    v-tippy="{ placement : 'top' }">
                AS
              </span>
              </template>
              <template v-slot:header-cell-total_point_captures="props">
              <span content="Capture points captured"
                    v-tippy="{ placement : 'top' }">
                CAP
              </span>
              </template>
              <template v-slot:header-cell-average_damage_taken_per_minute="props">
              <span content="Damage taken per minute"
                    v-tippy="{ placement : 'top' }">
                DT/M
              </span>
              </template>
              <template v-slot:header-cell-average_deaths_per_minute="props">
              <span content="Deaths per minute"
                    v-tippy="{ placement : 'top' }">
                D/M
              </span>
              </template>
              <template v-slot:header-cell-average_kills_per_death="props">
              <span content="Kills per death"
                    v-tippy="{ placement : 'top' }">
                K/D
              </span>
              </template>
              <template v-slot:header-cell-average_kills_assists_per_death="props">
              <span content="Kills/assists per death"
                    v-tippy="{ placement : 'top' }">
                KA/D
              </span>
              </template>
              <template v-slot:body-cell-value-most_played_class="props">
                <div class="flex items-center space-x-2">
                  <div class="flex flex-shrink-0 -space-x-1">
                    <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white dark:bg-white"
                         :src="`/assets/${props.row.most_played_class}_icon.png`"
                         :alt="props.row.most_played_class"/>
                  </div>
                </div>
              </template>
              <template v-slot:body-cell-value-lowercased_name="props">
                <jet-dropdown align="right" width="48">
                  <template #trigger>
                    <button
                        class="flex gap-x-2 text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                      <img class="h-6 w-6 rounded-full object-cover" :src="props.row.img"
                           :alt="props.row.common_name"/>
                      <span :content="props.row.common_name"
                            v-tippy="{ placement : 'top' }">
                    {{ props.row.common_name }}
                  </span>
                    </button>
                  </template>

                  <template #content>
                    <div class="block px-4 py-2 text-xs text-gray-300">
                      Links
                    </div>
                    <jet-dropdown-link as="a" :href="route('player.detail', {user: props.row.steam_id})">
                      Profile
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://logs.tf/profile/${props.row.steam_id}`">
                      logs.tf
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://steamcommunity.com/profiles/${props.row.steam_id}`">
                      Steam
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://etf2l.org/search/${props.row.steam_id}`">
                      ETF2L
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a"
                                       :href="`https://www.ugcleague.com/players_page.cfm?player_id=${props.row.steam_id}`">
                      UGC
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a"
                                       :href="`https://rgl.gg/Public/PlayerProfile.aspx?p=${props.row.steam_id}`">
                      RGL
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a"
                                       :href="`https://warzone.ozfortress.com/users/steam_id/${props.row.steam_id}`">
                      ozfortress
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://tf2center.com/profile/${props.row.steam_id}`">
                      TF2Center
                    </jet-dropdown-link>
                  </template>
                </jet-dropdown>
              </template>
            </base-table>
            <Disclosure default-open as="div" class="border-b border-gray-200 dark:border-slate-700 py-6"
                        v-slot="{ open }">
              <h3 class="-my-3 flow-root">
                <DisclosureButton
                    class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500 hover:dark:text-slate-200">
                    <span class="font-medium text-gray-900 dark:text-slate-200 px-6">
                      Class match-up (kills)
                    </span>
                  <span class="ml-6 px-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                    </span>
                </DisclosureButton>
              </h3>
              <DisclosurePanel class="pt-6">
                <base-table
                    :overflow-hidden="false"
                    table-header-cell-class="bg-white dark:bg-slate-900"
                    identifier="class_matchup_kills"
                    table-body-cell-class="px-4 py-0 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                    @sort-changed="classMatchupKillsSortChanged"
                    v-model:columns="charts.classMatchups.kills.columns"
                    v-model:visible="charts.classMatchups.kills.visible"
                    :data="charts.classMatchups.kills.data"
                    :loading="charts.loading"
                    row-key="id">
                  <template v-slot:header-cell-total_scouts_killed="props">
                <span content="Scout"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/scout_icon.png" alt="Scout">
                </span>
                  </template>
                  <template v-slot:header-cell-total_soldiers_killed="props">
                <span content="Soldier"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/soldier_icon.png" alt="Soldier">
                </span>
                  </template>
                  <template v-slot:header-cell-total_pyros_killed="props">
                <span content="Pyro"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/pyro_icon.png" alt="Pyro">
                </span>
                  </template>
                  <template v-slot:header-cell-total_demomen_killed="props">
                <span content="Demoman"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/demoman_icon.png" alt="Demoman">
                </span>
                  </template>
                  <template v-slot:header-cell-total_heavies_killed="props">
                <span content="Heavy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/heavyweapons_icon.png" alt="Heavy">
                </span>
                  </template>
                  <template v-slot:header-cell-total_engineers_killed="props">
                <span content="Engineer"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/engineer_icon.png" alt="Engineer">
                </span>
                  </template>
                  <template v-slot:header-cell-total_medics_killed="props">
                <span content="Medic"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/medic_icon.png" alt="Medic">
                </span>
                  </template>
                  <template v-slot:header-cell-total_snipers_killed="props">
                <span content="Sniper"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/sniper_icon.png" alt="Sniper">
                </span>
                  </template>
                  <template v-slot:header-cell-total_spies_killed="props">
                <span content="Spy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/spy_icon.png" alt="Spy">
                </span>
                  </template>
                  <template v-slot:body-cell-value-most_played_class="props">
                    <div class="flex items-center space-x-2">
                      <div class="flex flex-shrink-0 -space-x-1">
                        <img class="max-w-none h-4 w-4 rounded-full ring-2 ring-white dark:bg-white"
                             :src="`/assets/${props.row.most_played_class}_icon.png`"
                             :alt="props.row.most_played_class"/>
                      </div>
                    </div>
                  </template>
                </base-table>
              </DisclosurePanel>
            </Disclosure>
            <Disclosure as="div" class="border-b border-gray-200 dark:border-slate-700 py-6" v-slot="{ open }">
              <h3 class="-my-3 flow-root">
                <DisclosureButton
                    class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500 hover:dark:text-slate-200">
                    <span class="font-medium text-gray-900 dark:text-slate-200 px-6">
                      Class match-up (deaths)
                    </span>
                  <span class="ml-6 px-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                    </span>
                </DisclosureButton>
              </h3>
              <DisclosurePanel class="pt-6">
                <base-table
                    :overflow-hidden="false"
                    table-header-cell-class="bg-white dark:bg-slate-900"
                    identifier="class_matchup_deaths"
                    table-body-cell-class="px-4 py-0 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                    @sort-changed="classMatchupDeathsSortChanged"
                    v-model:columns="charts.classMatchups.deaths.columns"
                    v-model:visible="charts.classMatchups.deaths.visible"
                    :data="charts.classMatchups.deaths.data"
                    :loading="charts.loading"
                    row-key="id">
                  <template v-slot:header-cell-total_deaths_to_scouts="props">
                <span content="Scout"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/scout_icon.png" alt="Scout">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_soldiers="props">
                <span content="Soldier"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/soldier_icon.png" alt="Soldier">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_pyros="props">
                <span content="Pyro"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/pyro_icon.png" alt="Pyro">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_demomen="props">
                <span content="Demoman"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/demoman_icon.png" alt="Demoman">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_heavies="props">
                <span content="Heavy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/heavyweapons_icon.png" alt="Heavy">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_engineers="props">
                <span content="Engineer"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/engineer_icon.png" alt="Engineer">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_medics="props">
                <span content="Medic"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/medic_icon.png" alt="Medic">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_snipers="props">
                <span content="Sniper"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/sniper_icon.png" alt="Sniper">
                </span>
                  </template>
                  <template v-slot:header-cell-total_deaths_to_spies="props">
                <span content="Spy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/spy_icon.png" alt="Spy">
                </span>
                  </template>
                  <template v-slot:body-cell-value-most_played_class="props">
                    <div class="flex items-center space-x-2">
                      <div class="flex flex-shrink-0 -space-x-1">
                        <img class="max-w-none h-4 w-4 rounded-full ring-2 ring-white dark:bg-white"
                             :src="`/assets/${props.row.most_played_class}_icon.png`"
                             :alt="props.row.most_played_class"/>
                      </div>
                    </div>
                  </template>
                </base-table>
              </DisclosurePanel>
            </Disclosure>
          </div>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <combined-weapons v-if="charts.currentTab === 'Weapons'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <combined-charts v-if="charts.currentTab === 'Charts'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <combined-medic-stats v-if="charts.currentTab === 'Medic stats'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <combined-log-overview v-if="charts.currentTab === 'Logs'"/>
        </transition>
      </div>
    </div>
  </app-layout>
</template>

<script>
import {computed, defineComponent, onMounted, reactive} from 'vue'
import {getMax, getMin, getSecond, getSecondMin, getThird, getThirdMin} from "../Functions/placements";
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import {Inertia} from "@inertiajs/inertia";
import CombinedWeapons from "../Components/Collections/Detail/CombinedWeapons";
import CombinedMedicStats from "../Components/Collections/Detail/CombinedMedicStats";
import CombinedCharts from "../Components/Collections/Detail/CombinedCharts";
import CombinedLogOverview from "../Components/Collections/Detail/CombinedLogOverview";
import {
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverPanel
} from '@headlessui/vue'
import JetDropdown from "../Jetstream/Dropdown";
import JetDropdownLink from "../Jetstream/DropdownLink";
import BaseTable from "../Components/Tables/BaseTable";
import {
  CheckIcon,
  ChevronDownIcon,
  ChevronLeftIcon,
  ChevronRightIcon,
  DocumentDownloadIcon,
  MinusSmIcon,
  PlusSmIcon,
  XIcon
} from '@heroicons/vue/solid'
import {sort} from "fast-sort";
import {getClassName} from "../Functions/classes";
import {getWeaponName} from "../Functions/weapons";

export default defineComponent({
                                 components: {
                                   AppLayout,
                                   Welcome,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                   ChevronDownIcon,
                                   DocumentDownloadIcon,
                                   CheckIcon,
                                   XIcon,
                                   PlusSmIcon,
                                   MinusSmIcon,
                                   BaseTable,
                                   JetDropdown,
                                   JetDropdownLink,
                                   CombinedWeapons,
                                   CombinedMedicStats,
                                   CombinedLogOverview,
                                   Menu,
                                   MenuButton,
                                   MenuItem,
                                   MenuItems,
                                   Popover,
                                   PopoverButton,
                                   PopoverPanel,
                                   Disclosure,
                                   DisclosurePanel,
                                   DisclosureButton,
                                   CombinedCharts
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         currentTab     : 'Players',
                                         currentClassTab: 'all',
                                         classMatchups  : {
                                           kills : {
                                             columns: [
                                               {
                                                 name        : "lowercased_name",
                                                 field       : "common_name",
                                                 label       : 'Player',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 100,
                                               },
                                               {
                                                 name        : "most_played_class",
                                                 field       : "most_played_class",
                                                 label       : 'C',
                                                 align       : 'left',
                                                 sortable    : false,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_scouts_killed",
                                                 field       : "total_scouts_killed",
                                                 label       : 'Scout',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_soldiers_killed",
                                                 field       : "total_soldiers_killed",
                                                 label       : 'Soldier',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_pyros_killed",
                                                 field       : "total_pyros_killed",
                                                 label       : 'Pyro',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_demomen_killed",
                                                 field       : "total_demomen_killed",
                                                 label       : 'Demoman',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_heavies_killed",
                                                 field       : "total_heavies_killed",
                                                 label       : 'Heavy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_engineers_killed",
                                                 field       : "total_engineers_killed",
                                                 label       : 'Engineer',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_medics_killed",
                                                 field       : "total_medics_killed",
                                                 label       : 'Medic',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_snipers_killed",
                                                 field       : "total_snipers_killed",
                                                 label       : 'Sniper',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_spies_killed",
                                                 field       : "total_spies_killed",
                                                 label       : 'Spy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                             ],
                                             visible: ['lowercased_name', 'most_played_class', 'total_scouts_killed', 'total_soldiers_killed', 'total_pyros_killed', 'total_demomen_killed', 'total_heavies_killed', 'total_engineers_killed', 'total_medics_killed', 'total_snipers_killed', 'total_spies_killed'],
                                             data   : Inertia.page.props.data
                                           },
                                           deaths: {
                                             columns: [
                                               {
                                                 name        : "lowercased_name",
                                                 field       : "common_name",
                                                 label       : 'Player',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 100,
                                               },
                                               {
                                                 name        : "most_played_class",
                                                 field       : "most_played_class",
                                                 label       : 'C',
                                                 align       : 'left',
                                                 sortable    : false,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_scouts",
                                                 field       : "total_deaths_to_scouts",
                                                 label       : 'Scout',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_soldiers",
                                                 field       : "total_deaths_to_soldiers",
                                                 label       : 'Soldier',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_pyros",
                                                 field       : "total_deaths_to_pyros",
                                                 label       : 'Pyro',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_demomen",
                                                 field       : "total_deaths_to_demomen",
                                                 label       : 'Demoman',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_heavies",
                                                 field       : "total_deaths_to_heavies",
                                                 label       : 'Heavy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_engineers",
                                                 field       : "total_deaths_to_engineers",
                                                 label       : 'Engineer',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_medics",
                                                 field       : "total_deaths_to_medics",
                                                 label       : 'Medic',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_snipers",
                                                 field       : "total_deaths_to_snipers",
                                                 label       : 'Sniper',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "total_deaths_to_spies",
                                                 field       : "total_deaths_to_spies",
                                                 label       : 'Spy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                             ],
                                             visible: ['lowercased_name', 'most_played_class', 'total_deaths_to_scouts', 'total_deaths_to_soldiers', 'total_deaths_to_pyros', 'total_deaths_to_demomen', 'total_deaths_to_heavies', 'total_deaths_to_engineers', 'total_deaths_to_medics', 'total_deaths_to_snipers', 'total_deaths_to_spies'],
                                             data   : Inertia.page.props.data
                                           }
                                         },
                                         data           : Inertia.page.props.data,
                                         sidebar        : {
                                           opened: false
                                         },
                                         tableHeight    : 700,
                                         filters        : {
                                           page: 1
                                         },
                                         loading        : false,
                                         // 'medkit_health',
                                         visible   : ['lowercased_name', 'most_played_class', 'time_played', 'total_kills', 'average_kills_per_minute', 'total_backstabs', 'total_headshots', 'total_airshots', 'average_kills_per_death', 'average_kills_assists_per_death', 'total_assists', 'total_deaths', 'average_deaths_per_minute', 'total_damage', 'longest_killstreak', 'average_damage_per_minute', 'total_damage_taken', 'average_damage_taken_per_minute', 'total_point_captures'],
                                         meta      : [],
                                         pagination: {}
                                       }
                                   )

                                   const chartColumns = computed(() => {
                                     let defColumns = [
                                       {
                                         name        : "lowercased_name",
                                         field       : "common_name",
                                         label       : 'Player',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 100,
                                       },
                                       {
                                         name        : "most_played_class",
                                         field       : "most_played_class",
                                         label       : 'C',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 40,
                                       },
                                       {
                                         name        : "time_played",
                                         field       : "time_played",
                                         label       : 'T',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_kills",
                                         field       : "total_kills",
                                         label       : 'K',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_kills_per_minute",
                                         field       : "average_kills_per_minute",
                                         label       : 'K/M',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_kills_per_death",
                                         field       : "average_kills_per_death",
                                         label       : 'K/D',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_kills_assists_per_death",
                                         field       : "average_kills_assists_per_death",
                                         label       : 'KA/D',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_assists",
                                         field       : "total_assists",
                                         label       : 'A',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_deaths",
                                         field       : "total_deaths",
                                         label       : 'D',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_deaths_per_minute",
                                         field       : "average_deaths_per_minute",
                                         label       : 'D/M',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_damage",
                                         field       : "total_damage",
                                         label       : 'DA',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_damage_per_minute",
                                         field       : "average_damage_per_minute",
                                         label       : 'DA/M',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_damage_taken",
                                         field       : "total_damage_taken",
                                         label       : 'DT',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "average_damage_taken_per_minute",
                                         field       : "average_damage_taken_per_minute",
                                         label       : 'DT/M',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },

                                       {
                                         name        : "longest_killstreak",
                                         field       : "longest_killstreak",
                                         label       : 'LKS',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       },
                                       {
                                         name        : "total_point_captures",
                                         field       : "total_point_captures",
                                         label       : 'CAP',
                                         align       : 'left',
                                         sortable    : true,
                                         headerFilter: "text",
                                         width       : 30,
                                       }
                                     ];

                                     if (charts.currentClassTab === 'spy') {
                                       return defColumns.concat(
                                           [
                                             {
                                               name        : "total_headshots",
                                               field       : "total_headshots",
                                               label       : 'HS',
                                               align       : 'left',
                                               sortable    : true,
                                               headerFilter: "text",
                                               width       : 30,
                                             },
                                             {
                                               name        : "total_backstabs",
                                               field       : "total_backstabs",
                                               label       : 'BS',
                                               align       : 'left',
                                               sortable    : true,
                                               headerFilter: "text",
                                               width       : 30,
                                             }
                                           ]
                                       )
                                     }

                                     if (charts.currentClassTab === 'sniper') {
                                       return defColumns.concat(
                                           [
                                             {
                                               name        : "total_headshots",
                                               field       : "total_headshots",
                                               label       : 'HS',
                                               align       : 'left',
                                               sortable    : true,
                                               headerFilter: "text",
                                               width       : 30,
                                             }
                                           ]
                                       )
                                     }

                                     if (['demoman', 'soldier'].includes(charts.currentClassTab)) {
                                       return defColumns.concat(
                                           [
                                             {
                                               name        : "total_airshots",
                                               field       : "total_airshots",
                                               label       : 'AS',
                                               align       : 'left',
                                               sortable    : true,
                                               headerFilter: "text",
                                               width       : 30,
                                             }
                                           ]
                                       )
                                     }

                                     return defColumns;
                                   })

                                   function onCellClick(props) {
                                     const {row, column} = props;
                                   }

                                   function downloadExcel() {
                                     axios.get(route('export.collection', {
                                       collection: Inertia.page.props.collection.data.slug
                                     }), {
                                                 responseType: 'blob'
                                               })
                                          .then(response => {
                                            const url  = window.URL.createObjectURL(new Blob([response.data]));
                                            const link = document.createElement('a');
                                            link.href  = url;
                                            link.setAttribute('download', `${Inertia.page.props.collection.data.slug}.xlsx`);
                                            document.body.appendChild(link);
                                            link.click();
                                          })
                                   }


                                   function onTabChange(tab) {
                                     charts.currentTab = tab.name;
                                     //console.log({tab})
                                   }

                                   function onClassTabChange(tab) {
                                     charts.currentClassTab = tab.value;

                                     charts.data                      = Inertia.page.props.data.filter(d => tab.value === 'all' || d.most_played_class === tab.value);
                                     charts.classMatchups.kills.data  = Inertia.page.props.data.filter(d => tab.value === 'all' || d.most_played_class === tab.value);
                                     charts.classMatchups.deaths.data = Inertia.page.props.data.filter(d => tab.value === 'all' || d.most_played_class === tab.value);
                                     //console.log({tab})
                                   }

                                   // Filtered by classes
                                   const scouts = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'scout');
                                   })

                                   const soldiers = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'soldier');
                                   })

                                   const pyros = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'pyro');
                                   })

                                   const demomen = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'demoman');
                                   })

                                   const heavies = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'heavyweapons');
                                   })

                                   const engineers = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'engineer');
                                   })

                                   const medics = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'medic');
                                   })

                                   const snipers = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'sniper');
                                   })

                                   const spies = computed(() => {
                                     return Inertia.page.props.data.filter(s => s.most_played_class === 'spy');
                                   })

                                   const classTabs = [
                                     {
                                       label  : "All",
                                       value  : "all",
                                       href   : '#all-stats',
                                       enabled: true,
                                       count  : Inertia.page.props.data.length,
                                     },
                                     {
                                       label  : "Scout",
                                       value  : "scout",
                                       href   : '#scout-stats',
                                       enabled: scouts.value.length > 0,
                                       count  : scouts.value.length
                                     },
                                     {
                                       label  : "Soldier",
                                       value  : "soldier",
                                       href   : '#soldier-stats',
                                       enabled: soldiers.value.length > 0,
                                       count  : soldiers.value.length
                                     },
                                     {
                                       label  : "Pyro",
                                       value  : "pyro",
                                       href   : '#pyro-stats',
                                       enabled: pyros.value.length > 0,
                                       count  : pyros.value.length
                                     },
                                     {
                                       label  : "Demoman",
                                       value  : "demoman",
                                       href   : '#demoman-stats',
                                       enabled: demomen.value.length > 0,
                                       count  : demomen.value.length
                                     },
                                     {
                                       label  : "Heavy",
                                       value  : "heavyweapons",
                                       href   : '#heavy-stats',
                                       enabled: heavies.value.length > 0,
                                       count  : heavies.value.length
                                     },
                                     {
                                       label  : "Engineer",
                                       value  : "engineer",
                                       href   : '#engineer-stats',
                                       enabled: engineers.value.length > 0,
                                       count  : engineers.value.length
                                     },
                                     {
                                       label  : "Medic",
                                       value  : "medic",
                                       href   : '#medic-stats',
                                       enabled: medics.value.length > 0,
                                       count  : medics.value.length
                                     },
                                     {
                                       label  : "Snipers",
                                       value  : "sniper",
                                       href   : '#sniper-stats',
                                       enabled: snipers.value.length > 0,
                                       count  : snipers.value.length
                                     },
                                     {
                                       label  : "Spy",
                                       value  : "spy",
                                       href   : '#spy-stats',
                                       enabled: spies.value.length > 0,
                                       count  : spies.value.length
                                     },
                                   ]

                                   const tabs = computed(() => {
                                     return [
                                       {
                                         name : 'Players',
                                         href : '#players',
                                         count: Inertia.page.props.data.length,
                                       },
                                       {
                                         name: 'Charts',
                                         href: '#charts',
                                       },
                                       {
                                         name: 'Weapons',
                                         href: '#weapons',
                                       },
                                       {
                                         name: 'Medic stats',
                                         href: '#advanced-medic-stats'
                                       },
                                       {
                                         name: 'Logs',
                                         href: '#logs'
                                       },
                                     ]
                                   })

                                   function sortChanged(props) {
                                     const {order, column} = props;
                                     //console.log({order, column})
                                     if (order === 'asc') {
                                       if (column !== 'most_played_class') {
                                         charts.data = sort(charts.data).asc(column)
                                       } else {
                                         sortByClass(order)
                                       }
                                     } else {
                                       if (column !== 'most_played_class') {
                                         charts.data = sort(charts.data).desc(column)
                                       } else {
                                         sortByClass(order)
                                       }
                                     }
                                   }

                                   function classMatchupKillsSortChanged(props) {
                                     const {order, column} = props;
                                     if (order === 'asc') {
                                       if (column !== 'most_played_class') {
                                         charts.classMatchups.kills.data = sort(charts.classMatchups.kills.data).asc(column)
                                       }
                                     } else {
                                       if (column !== 'most_played_class') {
                                         charts.classMatchups.kills.data = sort(charts.classMatchups.kills.data).desc(column)
                                       }
                                     }
                                   }

                                   function classMatchupDeathsSortChanged(props) {
                                     const {order, column} = props;
                                     if (order === 'asc') {
                                       if (column !== 'most_played_class') {
                                         charts.classMatchups.deaths.data = sort(charts.classMatchups.deaths.data).asc(column)
                                       }
                                     } else {
                                       if (column !== 'most_played_class') {
                                         charts.classMatchups.deaths.data = sort(charts.classMatchups.deaths.data).desc(column)
                                       }
                                     }
                                   }

                                   function sortByClass(order) {
                                     // Order classes in this order.
                                     const tfClassImportance = {
                                       scout       : 1,
                                       soldier     : 2,
                                       pyro        : 3,
                                       demoman     : 4,
                                       heavyweapons: 5,
                                       engineer    : 6,
                                       medic       : 7,
                                       sniper      : 8,
                                       spy         : 9
                                     };

                                     if (order === 'asc') {
                                       charts.data = sort(charts.data).asc(tfClass => tfClassImportance[tfClass.most_played_class] || 0)
                                     } else {
                                       charts.data = sort(charts.data).desc(tfClass => tfClassImportance[tfClass.most_played_class] || 0)
                                     }
                                   }

                                   onMounted(() => {
                                     //const nav    = document.querySelector('.charts-navbar');
                                     //const header = document.querySelector('.charts-header');

                                     charts.tableHeight = window.innerHeight - 300;

                                     const hash = location.hash;
                                     if (!!hash) {
                                       if (classTabs.filter(ct => ct.count > 0).map(ct => ct.href).includes(hash)) {
                                         onClassTabChange(classTabs.find(ct => ct.href === hash));
                                         charts.currentTab      = 'Players';
                                       }
                                       if (tabs.value.map(t => t.href).includes(hash)) {
                                         charts.currentTab = tabs.value.find(t => t.href === hash).name;
                                       }
                                     }
                                   })

                                   return {
                                     scouts,
                                     soldiers,
                                     pyros,
                                     demomen,
                                     heavies,
                                     engineers,
                                     medics,
                                     snipers,
                                     spies,
                                     onTabChange,
                                     onClassTabChange,
                                     charts,
                                     tabs,
                                     sortChanged,
                                     classMatchupKillsSortChanged,
                                     classMatchupDeathsSortChanged,
                                     onCellClick,
                                     getClassName,
                                     getWeaponName,
                                     getMax,
                                     getSecond,
                                     getThird,
                                     getMin,
                                     getSecondMin,
                                     getThirdMin,
                                     classTabs,
                                     chartColumns,
                                     downloadExcel
                                   }
                                 },
                               })
</script>
