<template>
  <app-layout title="Create collection">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-100 leading-tight">
        Create collection
      </h2>
    </template>

    <div>
      <div class="max-w-7xl mx-auto py-4 sm:px-6 lg:px-8">
        <main class="py-2">
          <div
              class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
            <div class="space-y-6 lg:col-start-1 lg:col-span-3">
              <section aria-labelledby="collection-title">
                <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
                  <div class="px-4 py-5 sm:px-6">
                    <h2 id="collection-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                      New collection
                    </h2>
                  </div>
                  <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-6">
                    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                      <div class="sm:col-span-2">
                        <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                          Name *
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                          <jet-input ref="name" id="name" type="text" class="mt-1 block w-full"
                                     v-model="state.form.name" autocomplete="name"/>
                          <input-error :message="state.form.errors.name"/>
                        </dd>
                      </div>
                      <div class="sm:col-span-2 flex items-center gap-x-4">
                        <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                          Private
                        </dt>
                        <dd class="text-sm text-gray-900 dark:text-slate-200">
                          <jet-checkbox v-model="state.form.is_private" :checked="state.form.is_private"/>
                          <input-error :message="state.form.errors.is_private"/>
                        </dd>
                      </div>
                      <div class="sm:col-span-2">
                        <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                          League
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                          <Listbox as="div" v-model="state.form.league">
                            <div class="mt-1 relative">
                              <ListboxButton
                                  class="bg-white dark:bg-slate-800 h-12 relative w-full border border-gray-300 dark:border-slate-600 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm">
                                <span class="block truncate">{{ state.form.league }}</span>
                                <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
        </span>
                              </ListboxButton>

                              <transition leave-active-class="transition ease-in duration-100"
                                          leave-from-class="opacity-100" leave-to-class="opacity-0">
                                <ListboxOptions
                                    class="absolute z-10 mt-1 w-full bg-white dark:bg-slate-900 shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                  <ListboxOption as="template" v-for="(league, index) in leagues"
                                                 :key="`league_${index}`" :value="league"
                                                 v-slot="{ active, selected }">
                                    <li :class="[active ? 'text-white bg-violet-600' : 'text-gray-900 dark:text-slate-200', 'cursor-default select-none relative py-2 pl-3 pr-9']">
                                      <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">
                                        {{ league }}
                                      </span>
                                      <span v-if="selected"
                                            :class="[active ? 'text-white' : 'text-violet-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                                        <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                                      </span>
                                    </li>
                                  </ListboxOption>
                                </ListboxOptions>
                              </transition>
                            </div>
                          </Listbox>
                          <input-error :message="state.form.errors.league"/>
                        </dd>
                      </div>
                      <div class="sm:col-span-2">
                        <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                          Gamemode *
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                          <Listbox as="div" v-model="state.form.gamemode">
                            <div class="mt-1 relative">
                              <ListboxButton
                                  class="bg-white dark:bg-slate-800 h-12 relative w-full border border-gray-300 dark:border-slate-600 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm">
                                <span class="block truncate">{{ state.form.gamemode }}</span>
                                <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
        </span>
                              </ListboxButton>

                              <transition leave-active-class="transition ease-in duration-100"
                                          leave-from-class="opacity-100" leave-to-class="opacity-0">
                                <ListboxOptions
                                    class="absolute z-10 mt-1 w-full bg-white dark:bg-slate-900 shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                  <ListboxOption as="template" v-for="(gamemode, index) in gamemodes"
                                                 :key="`gamemode_${index}`" :value="gamemode"
                                                 v-slot="{ active, selected }">
                                    <li :class="[active ? 'text-white bg-violet-600' : 'text-gray-900 dark:text-slate-200', 'cursor-default select-none relative py-2 pl-3 pr-9']">
                                      <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">
                                        {{ gamemode }}
                                      </span>
                                      <span v-if="selected"
                                            :class="[active ? 'text-white' : 'text-violet-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                                        <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                                      </span>
                                    </li>
                                  </ListboxOption>
                                </ListboxOptions>
                              </transition>
                            </div>
                          </Listbox>
                          <input-error :message="state.form.errors.gamemode"/>
                        </dd>
                      </div>
                      <div class="sm:col-span-2">
                        <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                          <label for="logs">Logs *</label>
                        </dt>
                        <dd class="text-sm text-gray-900 dark:text-slate-200 py-2">
                          <div>
                            <textarea id="logs" name="logs" rows="3"
                                      v-model="state.form.logs"
                                      class="shadow-sm block w-full focus:ring-violet-500 focus:border-violet-500 sm:text-sm border border-gray-300 dark:border-slate-600 rounded-md dark:bg-slate-800"
                                      placeholder="Add a list of logs.tf URL's here."/>
                          </div>
                          <div class="mt-3 flex items-center justify-between">
                            <span
                                class="group inline-flex items-start text-sm space-x-2 text-gray-500 dark:text-slate-200 hover:text-gray-900 dark:text-slate-200">
                              <QuestionMarkCircleIcon
                                  class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-slate-200"
                                  aria-hidden="true"/>
                              <span>
                                Add a list of logs.tf URL's. Please only put one URL per line. There is a max amount of 100 URL's, so beware. Do not add a trailing slash to the end of the URL.
                              </span>
                            </span>
                          </div>
                          <input-error :message="state.form.errors.logs"/>
                        </dd>
                      </div>
                      <div class="sm:col-span-2 flex justify-end items-center">
                        <jet-button @click="save" :class="{ 'opacity-25': state.form.processing }"
                                    :disabled="state.form.processing">
                          Save
                        </jet-button>
                      </div>
                      <transition enter-active-class="ease-out duration-300"
                                  enter-from-class="opacity-0"
                                  enter-to-class="opacity-100"
                                  leave-active-class="ease-in duration-200"
                                  leave-from-class="opacity-100"
                                  leave-to-class="opacity-0">
                        <div v-if="state.form.processing" class="rounded-md sm:col-span-2 bg-violet-50 p-4">
                          <div class="flex">
                            <div class="flex-shrink-0">
                              <InformationCircleIcon class="h-5 w-5 text-violet-400" aria-hidden="true"/>
                            </div>
                            <div class="ml-3 flex-1 md:flex md:justify-between">
                              <p class="text-sm text-violet-700">
                                You can track the parsing below.
                              </p>
                            </div>
                          </div>
                          <div class="mt-5 py-1 prose font-mono">
                            <p v-for="(statusUpdate, index) in state.statusUpdates"
                               :key="`status_update_${index}`"
                               class="text-sm text-violet-700">
                              {{ statusUpdate }}
                            </p>
                          </div>
                        </div>
                      </transition>
                    </dl>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </main>
      </div>
    </div>

  </app-layout>
</template>

<script>
import {defineComponent, reactive} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import JetInput from "../Jetstream/Input";
import JetButton from "../Jetstream/Button";
import InputError from "../Jetstream/InputError";
import JetCheckbox from "../Jetstream/Checkbox";
import {Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions} from "@headlessui/vue";
import {Inertia} from "@inertiajs/inertia";
import {QuestionMarkCircleIcon, InformationCircleIcon, CheckIcon, SelectorIcon} from "@heroicons/vue/solid";

export default defineComponent({
                                 components: {
                                   InformationCircleIcon,
                                   QuestionMarkCircleIcon,
                                   CheckIcon,
                                   SelectorIcon,
                                   Listbox,
                                   ListboxButton,
                                   ListboxLabel,
                                   ListboxOption,
                                   ListboxOptions,
                                   AppLayout,
                                   Welcome,
                                   JetInput,
                                   JetButton,
                                   JetCheckbox,
                                   InputError
                                 },
                                 setup() {
                                   const state = reactive(
                                       {
                                         statusUpdates: [],
                                         form         : Inertia.form(
                                             {
                                               name      : "",
                                               is_private: false,
                                               gamemode  : "",
                                               logs      : "",
                                               league    : ""
                                             }
                                         ),
                                       }
                                   );

                                   const gamemodes = ['6v6', 'Highlander', '4v4', '2v2', 'BBall', 'Prolander']

                                   const leagues = ['ETF2L', 'RGL', 'ozfortress'];

                                   /*Echo.channel(`logs.parsed.${Inertia.page.props.user.id}`)
                                       .listen('LogParsed', (e) => {
                                         console.log({e})
                                         let {logId} = e;
                                         state.statusUpdates.push(`We successfully parsed log ${logId}.`);
                                       })

                                   Echo.channel(`logs.startParse.${Inertia.page.props.user.id}`)
                                       .listen('LogStartParse', (e) => {
                                         console.log({e})
                                         let {logId} = e;
                                         state.statusUpdates.push(`Started processing of ${logId}.`);
                                       })

                                   Echo.channel(`logs.parseError.${Inertia.page.props.user.id}`)
                                       .listen('LogErrorDuringParse', (e) => {
                                         console.log({e})
                                         let {logId} = e;
                                         state.statusUpdates.push(`Something went wrong during the parsing of ${logId}...`);
                                       })

                                   Echo.channel(`logs.alreadyParsed.${Inertia.page.props.user.id}`)
                                       .listen('LogAlreadyParsed', (e) => {
                                         console.log({e})
                                         let {logId} = e;
                                         state.statusUpdates.push(`Log ${logId} is already in our database. Skipping.`);
                                       })*/

                                   function save() {
                                     state.form.post(route('store.collection'), {
                                       errorBag      : 'storeCollection',
                                       preserveScroll: true,
                                       preserveState : true
                                     })
                                   }

                                   return {
                                     state,
                                     save,
                                     gamemodes,
                                     leagues
                                   }

                                 }
                               })
</script>
