<template>
  <main class="h-screen bg-cover bg-top sm:bg-top " style="background-image: url('/assets/product.jpg')">
    <div class="mx-auto max-w-7xl px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
      <p class="text-base font-semibold text-white text-opacity-50">404</p>
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">charts.tf is closed.</h1>
      <p class="mt-2 text-lg font-medium text-black text-opacity-50">See you around.</p>
      <!--<div class="mt-6">
        <button @click="count++"
                class="inline-flex items-center rounded-md border border-transparent bg-white bg-opacity-75 px-4 py-2 text-sm font-medium text-black text-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50">
          F ({{ count }})
        </button>
      </div>-->
    </div>
  </main>
</template>

<script>
import {defineComponent} from 'vue'

export default defineComponent({
                                 data() {
                                   return {
                                     count: 0
                                   }
                                 }
                               })
</script>
