<template>
  <app-layout title="Collections">
    <template #header>
      <div class="flex justify-between items-center">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-200 leading-tight">
          Collections
        </h2>
        <Link v-if="$page.props.user && $page.props.user.id === '76561198072250111'" :href="route('create.collection')">
          <jet-button>
            Create collection
          </jet-button>
        </Link>
      </div>
    </template>

    <div class="py-12">
      <div class="max-w-full mx-auto sm:px-6 lg:px-8">

        <notice />
        <div class="flex items-center search-bars mb-2 gap-x-4">
          <div class="w-full">
            <label for="name" class="sr-only">
              Name
            </label>
            <label for="name" class="block text-sm font-medium text-gray-700 dark:text-slate-200">Name</label>
            <div class="relative mt-1">
              <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
              </div>
              <input id="name"
                     v-model="charts.filters.name"
                     @input="filter('name', $event.target.value)"
                     name="name"
                     class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                     placeholder="Name"
                     type="search"/>
            </div>
          </div>
          <div class="w-full">
            <label class="sr-only">
              Format
            </label>
            <div class="relative">
              <Combobox as="div" @update:model-value="dropdownFilter('format', $event)" v-model="charts.filters.format">
                <ComboboxLabel class="block text-sm font-medium text-gray-700 dark:text-slate-200">Format
                </ComboboxLabel>
                <div class="relative mt-1">
                  <ComboboxInput
                      class="dark:text-slate-200 w-full dark:bg-slate-900 rounded-md border border-gray-300 dark:border-slate-600 bg-white py-2 pl-3 pr-10 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 sm:text-sm"
                      @change="formatQuery = $event.target.value" :display-value="(format) => format"/>
                  <ComboboxButton
                      class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                    <SelectorIcon class="h-5 w-5 text-gray-400 dark:text-slate-300" aria-hidden="true"/>
                  </ComboboxButton>
                  <ComboboxButton
                      v-if="!!charts.filters.format"
                      @click="dropdownFilter('format', undefined)"
                      class="absolute inset-y-0 right-8 flex items-center rounded-r-md px-2 focus:outline-none hover:bg-violet-500 focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 transition ease-in-out duration-150">
                    <XCircleIcon class="h-5 w-5 text-gray-400 dark:text-slate-300 hover:text-slate-200" aria-hidden="true"/>
                  </ComboboxButton>

                  <ComboboxOptions v-if="filteredFormats.length > 0"
                                   class="absolute z-40 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-slate-800 dark:text-slate-200 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                    <ComboboxOption v-for="(format, formatIndex) in filteredFormats" :key="format.id"
                                    :value="format.name" as="template" v-slot="{ active, selected }">
                      <li :class="['relative cursor-pointer select-none py-2 pl-3 pr-9', active ? 'bg-violet-600 text-white dark:text-slate-200' : 'text-gray-900 dark:text-slate-100']">
                        <span :class="['block truncate', selected && 'font-semibold']">
                          {{ format.name }}
                        </span>
                        <span v-if="selected"
                              :class="['absolute inset-y-0 right-0 flex items-center pr-4', active ? 'text-white dark:text-slate-200' : 'text-violet-600']">
                          <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                        </span>
                      </li>
                    </ComboboxOption>
                  </ComboboxOptions>
                </div>
              </Combobox>
            </div>
          </div>
          <div class="w-full">
            <label class="sr-only">
              Division
            </label>
            <div class="relative">
              <Combobox as="div" @update:model-value="dropdownFilter('division', $event)" v-model="charts.filters.division">
                <ComboboxLabel class="block text-sm font-medium text-gray-700 dark:text-slate-200">Division
                </ComboboxLabel>
                <div class="relative mt-1">
                  <ComboboxInput
                      class="dark:text-slate-200 w-full dark:bg-slate-900 rounded-md border border-gray-300 dark:border-slate-600 bg-white py-2 pl-3 pr-10 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 sm:text-sm"
                      @change="divisionQuery = $event.target.value" :display-value="(division) => division"/>
                  <ComboboxButton
                      class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                    <SelectorIcon class="h-5 w-5 text-gray-400 dark:text-slate-300" aria-hidden="true"/>
                  </ComboboxButton>
                  <ComboboxButton
                      v-if="!!charts.filters.division"
                      @click="dropdownFilter('division', undefined)"
                      class="absolute inset-y-0 right-8 flex items-center rounded-r-md px-2 focus:outline-none hover:bg-violet-500 focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 transition ease-in-out duration-150">
                    <XCircleIcon class="h-5 w-5 text-gray-400 dark:text-slate-300 hover:text-slate-200" aria-hidden="true"/>
                  </ComboboxButton>

                  <ComboboxOptions v-if="filteredDivisions.length > 0"
                                   class="absolute z-40 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-slate-800 dark:text-slate-200 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                    <ComboboxOption v-for="(division, divisionIndex) in filteredDivisions"
                                    :key="`division_${divisionIndex}`"
                                    :value="division" as="template" v-slot="{ active, selected }">
                      <li :class="['relative cursor-pointer select-none py-2 pl-3 pr-9', active ? 'bg-violet-600 text-white dark:text-slate-200' : 'text-gray-900 dark:text-slate-100']">
                        <span :class="['block truncate', selected && 'font-semibold']">
                          {{ division }}
                        </span>
                        <span v-if="selected"
                              :class="['absolute inset-y-0 right-0 flex items-center pr-4', active ? 'text-white dark:text-slate-200' : 'text-violet-600']">
                          <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                        </span>
                      </li>
                    </ComboboxOption>
                  </ComboboxOptions>
                </div>
              </Combobox>
            </div>
          </div>
          <div class="w-full">
            <label class="sr-only">
              Competition
            </label>
            <div class="relative">
              <Combobox as="div" @update:model-value="dropdownFilter('competition', $event)"
                        v-model="charts.filters.competition">
                <ComboboxLabel class="block text-sm font-medium text-gray-700 dark:text-slate-200">Competition
                </ComboboxLabel>
                <div class="relative mt-1">
                  <ComboboxInput
                      class="dark:text-slate-200 w-full dark:bg-slate-900 rounded-md border border-gray-300 dark:border-slate-600 bg-white py-2 pl-3 pr-10 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 sm:text-sm"
                      @change="competitionQuery = $event.target.value" :display-value="(comp) => comp"/>
                  <ComboboxButton
                      class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                    <SelectorIcon class="h-5 w-5 text-gray-400 dark:text-slate-300" aria-hidden="true"/>
                  </ComboboxButton>
                  <ComboboxButton
                      v-if="!!charts.filters.competition"
                      @click="dropdownFilter('competition', undefined)"
                      class="absolute inset-y-0 right-8 flex items-center rounded-r-md px-2 focus:outline-none hover:bg-violet-500 focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 transition ease-in-out duration-150">
                    <XCircleIcon class="h-5 w-5 text-gray-400 dark:text-slate-300 hover:text-slate-200" aria-hidden="true"/>
                  </ComboboxButton>
                  <ComboboxOptions v-if="filteredFormats.length > 0"
                                   class="absolute z-40 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-slate-800 dark:text-slate-200 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                    <ComboboxOption v-for="(comp, compIndex) in filteredCompetitions" :key="`comp_${compIndex}`"
                                    :value="comp" as="template" v-slot="{ active, selected }">
                      <li :class="['relative cursor-pointer select-none py-2 pl-3 pr-9', active ? 'bg-violet-600 text-white dark:text-slate-200' : 'text-gray-900 dark:text-slate-100']">
                        <span :class="['block truncate', selected && 'font-semibold']">
                          {{ comp }}
                        </span>
                        <span v-if="selected"
                              :class="['absolute inset-y-0 right-0 flex items-center pr-4', active ? 'text-white dark:text-slate-200' : 'text-violet-600']">
                          <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                        </span>
                      </li>
                    </ComboboxOption>
                  </ComboboxOptions>
                </div>
              </Combobox>
            </div>
          </div>
          <div class="w-full">
            <label class="sr-only">
              Date
            </label>
            <label class="block text-sm font-medium text-gray-700 dark:text-slate-200">Date</label>
            <div class="relative mt-1">
              <div class="flex items-center gap-x-2 justify-between">
                <date-picker placeholder="From" @update:model-value="dropdownFilter('from', $event)"
                             v-model="charts.filters.from"/>
                <date-picker placeholder="To" @update:model-value="dropdownFilter('to', $event)" v-model="charts.filters.to"/>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white dark:bg-slate-900 overflow-hidden shadow-xl sm:rounded-lg">
          <base-table
              table-header-cell-class="bg-white dark:bg-slate-900 z-10"
              identifier="collections"
              @sort-changed="sort"
              v-model:columns="charts.columns"
              v-model:visible="charts.visible"
              :data="$page.props.collections.data"
              :meta="charts.meta"
              :loading="charts.loading"
              row-key="id"
              :table-height="charts.tableHeight">
            <template v-slot:body-cell-value-name="props">
              <Link
                  class="hover:underline text-violet-600 hover:text-violet-900 dark:text-violet-400 dark:hover:text-violet-400"
                  :href="route('collection.detail', { collection: props.row.slug})">
                {{ props.row.name }}
              </Link>
            </template>
          </base-table>
          <div class="px-4 py-2 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
              <p class="text-sm text-gray-700 dark:text-slate-200">
                Showing
                {{ ' ' }}
                <span class="font-medium">{{ $page.props.collections.meta.from }}</span>
                {{ ' ' }}
                to
                {{ ' ' }}
                <span class="font-medium">{{ $page.props.collections.meta.to }}</span>
                {{ ' ' }}
                of
                {{ ' ' }}
                <span class="font-medium">{{ $page.props.collections.meta.total }}</span>
                {{ ' ' }}
                results
              </p>
            </div>
            <div>
              <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <Link v-for="(link, index) in $page.props.collections.meta.links" :href="link.url"
                      aria-current="page" :class="{
                  'z-10 bg-violet-50 border-violet-500 text-violet-600 dark:bg-slate-800': link.active,
                  'bg-white dark:bg-slate-900 border-gray-300 dark:border-slate-600 dark:text-slate-400 text-gray-500 hover:bg-gray-50 dark:hover:bg-slate-600': !link.active
                }" class="relative inline-flex items-center px-4 py-2 border text-sm font-medium" v-html="link.label">

                </Link>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import {computed, defineComponent, onMounted, reactive, ref} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import BaseTable from "../Components/Tables/BaseTable";
import {ChevronLeftIcon, ChevronRightIcon, SearchIcon, CheckIcon, SelectorIcon, XCircleIcon} from '@heroicons/vue/solid'
import {Inertia} from "@inertiajs/inertia";
import {Link} from "@inertiajs/inertia-vue3";
import debounce from "lodash/debounce";
import JetButton from "../Jetstream/Button";
import Notice from "../Components/Home/Notice";
import DatePicker from "../Components/DatePicker/DatePicker";
import {} from '@heroicons/vue/solid'
import {
  Combobox,
  ComboboxButton,
  ComboboxInput,
  ComboboxLabel,
  ComboboxOption,
  ComboboxOptions,
} from '@headlessui/vue'

export default defineComponent({
                                 components: {
                                   DatePicker,
                                   JetButton,
                                   AppLayout,
                                   Welcome,
                                   Link,
                                   BaseTable,
                                   Notice,
                                   SearchIcon,
                                   CheckIcon,
                                   SelectorIcon,
                                   XCircleIcon,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                   Combobox,
                                   ComboboxButton,
                                   ComboboxInput,
                                   ComboboxLabel,
                                   ComboboxOption,
                                   ComboboxOptions,
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         limit       : 50,
                                         sidebar     : {
                                           opened: false
                                         },
                                         tableHeight : 700,
                                         filters     : {
                                           page       : 1,
                                           name       : route().params.hasOwnProperty('name') ? route().params.name : undefined,
                                           format     : route().params.hasOwnProperty('format') ? route().params.format : undefined,
                                           competition: route().params.hasOwnProperty('competition') ? route().params.competition : undefined,
                                           division   : route().params.hasOwnProperty('division') ? route().params.division : undefined,
                                           from       : route().params.hasOwnProperty('from') ? route().params.from : undefined,
                                           to         : route().params.hasOwnProperty('to') ? route().params.to : undefined,
                                         },
                                         loading     : false,
                                         visible     : ['name', 'date', 'gamemode', 'actions'],
                                         meta        : Inertia.page.props.collections.meta,
                                         pagination  : {},
                                         competitions: ['ETF2L', 'UGC', 'RGL', 'ozfortress', 'Cup', 'LAN'],
                                         columns     : [
                                           {
                                             name        : "name",
                                             field       : "name",
                                             label       : 'Name',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           /*{
                                            name        : "created_by",
                                            field       : "created_by",
                                            label       : 'Created by',
                                            align       : 'left',
                                            sortable    : false,
                                            headerFilter: "text",
                                            width       : 100,
                                            },*/
                                           {
                                             name        : "date",
                                             field       : "date_l",
                                             label       : 'Finished at',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "gamemode",
                                             field       : "gamemode",
                                             label       : 'Gamemode',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                         ],
                                       }
                                   )

                                   function onCellClick(props) {
                                     const {row, column} = props;
                                     Inertia.get(route('log.detail', {log: row.id}))
                                   }

                                   const filter = debounce((key, value) => {
                                     //console.log({key, value})
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 500)

                                   const dropdownFilter = debounce((key, value) => {
                                     //console.log({key, value})
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 100)

                                   const resetFilters = () => {
                                     charts.sidebar.opened = false;
                                     charts.filters        = {page: 1}
                                     reset();
                                     getData();
                                   }

                                   const formatQuery      = ref('')
                                   const divisionQuery    = ref('')
                                   const competitionQuery = ref('')

                                   const filteredFormats = computed(() => {
                                     return !formatQuery.value
                                            ? Inertia.page.props.formats
                                            : Inertia.page.props.formats.filter(format => {
                                           return format.name.toLowerCase().includes(formatQuery.value.toLowerCase())
                                         })
                                   })

                                   const filteredCompetitions = computed(() => {
                                     return !competitionQuery.value
                                            ? charts.competitions
                                            : charts.competitions.filter(comp => {
                                           return comp.toLowerCase().includes(competitionQuery.value.toLowerCase())
                                         })
                                   })

                                   const filteredDivisions = computed(() => {
                                     return !divisionQuery.value
                                            ? Inertia.page.props.divisions
                                            : Inertia.page.props.divisions.filter(division => {
                                           return division.toLowerCase().includes(divisionQuery.value.toLowerCase())
                                         })
                                   })

                                   const sort = debounce((order) => {
                                     //console.log({order})
                                     charts.filters.sort = order;
                                     reset();
                                     getData();
                                   }, 150)

                                   function getData() {
                                     Inertia.get(route('collections'), {
                                       ...route().params,
                                       ...charts.filters
                                     }, {
                                                   preserveScroll: true,
                                                   preserveState : true,
                                                   replace       : false
                                                 })
                                   }

                                   function reset() {
                                     charts.filters.page = 1;
                                   }

                                   onMounted(() => {
                                     //const nav    = document.querySelector('.charts-navbar');
                                     //const header = document.querySelector('.charts-header');

                                     charts.tableHeight = window.innerHeight - 300;
                                   })

                                   return {
                                     charts,
                                     filter,
                                     sort,
                                     resetFilters,
                                     onCellClick,
                                     formatQuery,
                                     competitionQuery,
                                     divisionQuery,
                                     dropdownFilter,
                                     filteredFormats,
                                     filteredCompetitions,
                                     filteredDivisions
                                   }
                                 },
                               })
</script>
