<template>
  <app-layout :title="$page.props.log.data.title">
    <template #header>
      <div class="flex items-center justify-between">
        <h2 class="font-semibold sm:text-lg md:text-xl text-gray-800 dark:text-slate-200 leading-tight">
          {{ $page.props.log.data.title }} <span class="sm:block md:inline-block">- <span class="font-normal">played on</span> {{ $page.props.log.data.map }}
          <span class="font-normal">about</span> <span v-tippy="{placement: 'top'}"
                                                       :content="$page.props.log.data.date_l">{{
              $page.props.log.data.date_h
            }}</span></span>
        </h2>
        <scores>
          <template v-slot:red_score>
            {{ $page.props.log.data.red_score }}
          </template>
          <template v-slot:blu_score>
            {{ $page.props.log.data.blu_score }}
          </template>
        </scores>
      </div>
    </template>

    <div class="py-12">
      <div class="max-w-full mx-auto sm:px-6 lg:px-8">
        <div>
          <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <select id="tabs" name="tabs"
                    class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 dark:border-slate-600 focus:outline-none focus:ring-violet-500 focus:border-violet-500 dark:text-slate-200 sm:text-sm rounded-md">
              <option @click="onTabChange(tab)" v-for="tab in tabs" :key="tab.name" :selected="tab.name === charts.currentTab">{{
                  tab.name
                }}
              </option>
            </select>
          </div>
          <div class="hidden sm:block">
            <div class="border-b border-gray-200 dark:border-slate-700">
              <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <a v-for="tab in tabs" :key="tab.name" :href="tab.href"
                   @click="onTabChange(tab)"
                   :class="[tab.name === charts.currentTab ? 'border-violet-500 text-violet-600' : 'border-transparent text-gray-500 dark:text-slate-400 hover:text-gray-700 hover:border-gray-200 dark:border-slate-700', 'whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm']"
                   :aria-current="tab.name === charts.currentTab ? 'page' : undefined">
                  {{ tab.name }}
                  <span v-if="tab.count"
                        :class="[tab.name === charts.currentTab ? 'bg-violet-100 text-violet-600' : 'bg-gray-100 text-gray-900', 'hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block']">{{
                      tab.count
                    }}</span>
                </a>
              </nav>
            </div>
          </div>
        </div>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <div
              class="players-section"
              v-if="charts.currentTab === 'Players'">
            <base-table
                :overflow-hidden="false"
                table-header-cell-class="bg-white dark:bg-slate-900 z-10"
                identifier="logs"
                table-body-cell-class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                @sort-changed="sortChanged"
                @cell-click="onCellClick"
                @infinite-scroll="onInfiniteScroll"
                v-model:columns="charts.columns"
                v-model:visible="charts.visible"
                :data="charts.data"
                :meta="charts.meta"
                :loading="charts.loading"
                row-key="id">
              <template v-slot:header-cell-class_played="props">
              <span content="Classes played"
                    v-tippy="{ placement : 'top' }">
                C
              </span>
              </template>
              <template v-slot:header-cell-kills="props">
              <span content="Kills"
                    v-tippy="{ placement : 'top' }">
                K
              </span>
              </template>
              <template v-slot:header-cell-kills_per_minute="props">
              <span content="Kills per minute"
                    v-tippy="{ placement : 'top' }">
                K/M
              </span>
              </template>
              <template v-slot:header-cell-assists="props">
              <span content="Assists"
                    v-tippy="{ placement : 'top' }">
                A
              </span>
              </template>
              <template v-slot:header-cell-deaths="props">
              <span content="Deaths"
                    v-tippy="{ placement : 'top' }">
                D
              </span>
              </template>
              <template v-slot:header-cell-damage="props">
              <span content="Damage"
                    v-tippy="{ placement : 'top' }">
                DA
              </span>
              </template>
              <template v-slot:header-cell-damage_per_minute="props">
              <span content="Damage per minute"
                    v-tippy="{ placement : 'top' }">
                DPM
              </span>
              </template>
              <template v-slot:header-cell-damage_taken="props">
              <span content="Damage taken"
                    v-tippy="{ placement : 'top' }">
                DT
              </span>
              </template>
              <template v-slot:header-cell-medkit_pickup="props">
              <span content="Medkit pickup"
                    v-tippy="{ placement : 'top' }">
                HP
              </span>
              </template>
              <template v-slot:header-cell-suicides="props">
              <span content="Suicides"
                    v-tippy="{ placement : 'top' }">
                S
              </span>
              </template>
              <template v-slot:header-cell-backstabs="props">
              <span content="Backstabs"
                    v-tippy="{ placement : 'top' }">
                BS
              </span>
              </template>
              <template v-slot:header-cell-longest_killstreak="props">
              <span content="Longest killstreak"
                    v-tippy="{ placement : 'top' }">
                LKS
              </span>
              </template>
              <template v-slot:header-cell-headshots="props">
              <span content="Headshots"
                    v-tippy="{ placement : 'top' }">
                HS
              </span>
              </template>
              <template v-slot:header-cell-airshots="props">
              <span content="Airshots"
                    v-tippy="{ placement : 'top' }">
                AS
              </span>
              </template>
              <template v-slot:header-cell-cpc="props">
              <span content="Capture points captured"
                    v-tippy="{ placement : 'top' }">
                CAP
              </span>
              </template>
              <template v-slot:header-cell-prec_enabled="props">
              <span content="P-REC enabled"
                    v-tippy="{ placement : 'top' }">
                P-REC
              </span>
              </template>
              <template v-slot:header-cell-damage_taken_per_minute="props">
              <span content="Damage taken per minute"
                    v-tippy="{ placement : 'top' }">
                DT/M
              </span>
              </template>
              <template v-slot:header-cell-deaths_per_minute="props">
              <span content="Deaths per minute"
                    v-tippy="{ placement : 'top' }">
                D/M
              </span>
              </template>
              <template v-slot:header-cell-kills_per_death="props">
              <span content="Kills per death"
                    v-tippy="{ placement : 'top' }">
                K/D
              </span>
              </template>
              <template v-slot:header-cell-kills_assists_per_death="props">
              <span content="Kills/assists per death"
                    v-tippy="{ placement : 'top' }">
                KA/D
              </span>
              </template>
              <template v-slot:body-cell-value-class_played="props">
                <div class="flex items-center justify-center gap-x-2">
                  <Popover v-for="(tfClass, index) in props.row.classes_played"
                           :key="`${props.row.steam_id}_${index}_${tfClass}`" v-slot="{ open }" class="relative">
                    <PopoverButton>
                      <div class="flex items-center space-x-2">
                        <div class="flex flex-shrink-0 -space-x-1">
                          <img :class="[props.row.team === 'Blue' ? 'bg-blue-100': 'bg-red-100']"
                               class="max-w-none h-6 w-6 rounded-full ring-2 ring-white"
                               :src="`/assets/${tfClass}_icon.png`"
                               :alt="tfClass"/>
                        </div>
                      </div>
                    </PopoverButton>

                    <transition
                        enter-active-class="transition duration-200 ease-out"
                        enter-from-class="translate-y-1 opacity-0"
                        enter-to-class="translate-y-0 opacity-100"
                        leave-active-class="transition duration-150 ease-in"
                        leave-from-class="translate-y-0 opacity-100"
                        leave-to-class="translate-y-1 opacity-0"
                    >
                      <PopoverPanel
                          class="absolute z-10 w-screen max-w-sm px-4 mt-3 transform -translate-x-1/2 left-3/4 sm:px-0 lg:max-w-3xl"
                      >
                        <div
                            class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5"
                        >
                          <div class="relative grid gap-8 bg-white dark:bg-slate-900 p-7 lg:grid-cols-2">
                            <a
                                class="flex items-center p-2 -m-3 transition duration-150 ease-in-out rounded-lg hover:bg-gray-50 hover:dark:bg-slate-800 focus:outline-none focus-visible:ring focus-visible:ring-orange-500 focus-visible:ring-opacity-50"
                            >
                              <div
                                  class="flex items-center justify-center flex-shrink-0 w-10 h-10 text-white sm:h-12 sm:w-12"
                              >
                                <img class="h-10 w-10 rounded-full" :src="`/assets/${tfClass}.png`" :alt="tfClass">
                              </div>
                              <div class="ml-4">
                                <p class="text-sm font-medium text-gray-900 dark:text-slate-100">
                                  {{ getClassName(tfClass) }}
                                </p>
                                <p class="text-sm text-gray-500 dark:text-slate-200">
                                  Played for {{ props.row[`time_as_${tfClass}`] }}
                                </p>
                              </div>
                            </a>
                          </div>
                          <div class="p-4 bg-gray-50 dark:bg-slate-800 grid grid-cols-2 gap-x-2">
                            <dl class="sm:divide-y sm:divide-gray-200 dark:divide-slate-700">
                              <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                                  Kills
                                </dt>
                                <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-100 sm:mt-0 sm:col-span-2">
                                  {{ props.row[`kills_as_${tfClass}`] }}
                                </dd>
                              </div>
                              <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                                  Assists
                                </dt>
                                <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-100 sm:mt-0 sm:col-span-2">
                                  {{ props.row[`assists_as_${tfClass}`] }}
                                </dd>
                              </div>
                              <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                                  Deaths
                                </dt>
                                <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-100 sm:mt-0 sm:col-span-2">
                                  {{ props.row[`deaths_as_${tfClass}`] }}
                                </dd>
                              </div>
                              <div class="py-1 sm:py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                                  Damage
                                </dt>
                                <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-100 sm:mt-0 sm:col-span-2">
                                  {{ props.row[`damage_as_${tfClass}`] }}
                                </dd>
                              </div>
                            </dl>
                            <div class="flex flex-col">
                              <div class="-my-2 overflow-x-auto sm:-mx-2 lg:-mx-4">
                                <div class="py-1 align-middle inline-block min-w-full sm:px-2 lg:px-4">
                                  <div class="shadow overflow-hidden border-b border-gray-200 dark:border-slate-700 sm:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700">
                                      <thead class="bg-gray-50 dark:bg-slate-800">
                                      <tr>
                                        <th scope="col"
                                            class="px-4 py-2 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                          Weapon
                                        </th>
                                        <th scope="col"
                                            class="px-4 py-2 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                          K
                                        </th>
                                        <th scope="col"
                                            class="px-4 py-2 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                          DA
                                        </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr v-for="(weapon, weaponIdx) in props.row.weapons" :key="`weapon_${weaponIdx}`"
                                          :class="weaponIdx % 2 === 0 ? 'bg-white dark:bg-slate-900' : 'bg-gray-50 dark:bg-slate-800'">
                                        <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200">
                                          {{ getWeaponName(weapon.name) }}
                                        </td>
                                        <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200">
                                          {{ weapon.kills }}
                                        </td>
                                        <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200">
                                          {{ weapon.damage }}
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </PopoverPanel>
                    </transition>
                  </Popover>
                </div>
              </template>
              <template v-slot:body-cell-value-team="props">
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                    :class="[props.row.team === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                {{ props.row.team }}
              </span>
              </template>
              <template v-slot:body-cell-value-prec_enabled="props">
              <span v-if="$page.props.log.data.has_zip_data">
                <CheckIcon v-if="props.row.prec_enabled" class="h-4 w-4 fill-current text-green-500"/>
                <XIcon v-else class="h-4 w-4 fill-current text-red-500"/>
              </span>
                <span v-else>
                ?
              </span>
              </template>
              <template v-slot:body-cell-value-in_game_name="props">
                <jet-dropdown align="right" width="48">
                  <template #trigger>
                    <button
                        class="flex gap-x-2 text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                      <img class="h-6 w-6 rounded-full object-cover" :src="props.row.img"
                           :alt="props.row.in_game_name"/>
                      <span :content="props.row.common_name"
                            v-tippy="{ placement : 'top' }">
                    {{ props.row.in_game_name }}
                  </span>
                    </button>
                  </template>

                  <template #content>
                    <div class="block px-4 py-2 text-xs text-gray-300 dark:text-slate-200">
                      Links
                    </div>
                    <jet-dropdown-link as="a" :href="route('player.detail', {user: props.row.steam_id})">
                      Profile
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://logs.tf/profile/${props.row.steam_id}`">
                      logs.tf
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://steamcommunity.com/profiles/${props.row.steam_id}`">
                      Steam
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://etf2l.org/search/${props.row.steam_id}`">
                      ETF2L
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a"
                                       :href="`https://www.ugcleague.com/players_page.cfm?player_id=${props.row.steam_id}`">
                      UGC
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://rgl.gg/Public/PlayerProfile.aspx?p=${props.row.steam_id}`">
                      RGL
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a"
                                       :href="`https://warzone.ozfortress.com/users/steam_id/${props.row.steam_id}`">
                      ozfortress
                    </jet-dropdown-link>
                    <jet-dropdown-link as="a" :href="`https://tf2center.com/profile/${props.row.steam_id}`">
                      TF2Center
                    </jet-dropdown-link>
                  </template>
                </jet-dropdown>
              </template>
            </base-table>
            <Disclosure default-open as="div" class="border-b border-gray-200 dark:border-slate-700 py-6" v-slot="{ open }">
              <h3 class="-my-3 flow-root">
                <DisclosureButton
                    class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500">
                    <span class="font-medium text-gray-900 dark:text-slate-200 px-6">
                      Class match-up (kills)
                    </span>
                  <span class="ml-6 px-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                    </span>
                </DisclosureButton>
              </h3>
              <DisclosurePanel class="pt-6">
                <base-table
                    :overflow-hidden="false"
                    table-header-cell-class="bg-white dark:bg-slate-900"
                    identifier="class_matchup_kills"
                    table-body-cell-class="px-4 py-0 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                    @sort-changed="classMatchupKillsSortChanged"
                    v-model:columns="charts.classMatchups.kills.columns"
                    v-model:visible="charts.classMatchups.kills.visible"
                    :data="charts.classMatchups.kills.data"
                    :loading="charts.loading"
                    row-key="id">
                  <template v-slot:header-cell-scouts_killed="props">
                <span content="Scout"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/scout_icon.png" alt="Scout">
                </span>
                  </template>
                  <template v-slot:header-cell-soldiers_killed="props">
                <span content="Soldier"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/soldier_icon.png" alt="Soldier">
                </span>
                  </template>
                  <template v-slot:header-cell-pyros_killed="props">
                <span content="Pyro"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/pyro_icon.png" alt="Pyro">
                </span>
                  </template>
                  <template v-slot:header-cell-demomen_killed="props">
                <span content="Demoman"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/demoman_icon.png" alt="Demoman">
                </span>
                  </template>
                  <template v-slot:header-cell-heavies_killed="props">
                <span content="Heavy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/heavyweapons_icon.png" alt="Heavy">
                </span>
                  </template>
                  <template v-slot:header-cell-engineers_killed="props">
                <span content="Engineer"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/engineer_icon.png" alt="Engineer">
                </span>
                  </template>
                  <template v-slot:header-cell-medics_killed="props">
                <span content="Medic"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/medic_icon.png" alt="Medic">
                </span>
                  </template>
                  <template v-slot:header-cell-snipers_killed="props">
                <span content="Sniper"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/sniper_icon.png" alt="Sniper">
                </span>
                  </template>
                  <template v-slot:header-cell-spies_killed="props">
                <span content="Spy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/spy_icon.png" alt="Spy">
                </span>
                  </template>
                  <template v-slot:body-cell-value-class_played="props">
                    <div class="flex items-center space-x-2">
                      <div class="flex flex-shrink-0 -space-x-1">
                        <img :class="[props.row.team === 'Blue' ? 'bg-blue-100': 'bg-red-100']"
                             class="max-w-none h-4 w-4 rounded-full ring-2 ring-white"
                             :src="`/assets/${props.row.class_played}_icon.png`"
                             :alt="props.row.class_played"/>
                      </div>
                    </div>
                  </template>
                  <template v-slot:body-cell-value-team="props">
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                    :class="[props.row.team === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                {{ props.row.team }}
              </span>
                  </template>
                </base-table>
              </DisclosurePanel>
            </Disclosure>
            <Disclosure as="div" class="border-b border-gray-200 dark:border-slate-700 py-6" v-slot="{ open }">
              <h3 class="-my-3 flow-root">
                <DisclosureButton
                    class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500">
                    <span class="font-medium text-gray-900 dark:text-slate-200 px-6">
                      Class match-up (deaths)
                    </span>
                  <span class="ml-6 px-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                    </span>
                </DisclosureButton>
              </h3>
              <DisclosurePanel class="pt-6">
                <base-table
                    :overflow-hidden="false"
                    table-header-cell-class="bg-white dark:bg-slate-900"
                    identifier="class_matchup_deaths"
                    table-body-cell-class="px-4 py-0 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 cursor-pointer"
                    @sort-changed="classMatchupDeathsSortChanged"
                    v-model:columns="charts.classMatchups.deaths.columns"
                    v-model:visible="charts.classMatchups.deaths.visible"
                    :data="charts.classMatchups.deaths.data"
                    :loading="charts.loading"
                    row-key="id">
                  <template v-slot:header-cell-deaths_to_scouts="props">
                <span content="Scout"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/scout_icon.png" alt="Scout">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_soldiers="props">
                <span content="Soldier"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/soldier_icon.png" alt="Soldier">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_pyros="props">
                <span content="Pyro"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/pyro_icon.png" alt="Pyro">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_demomen="props">
                <span content="Demoman"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/demoman_icon.png" alt="Demoman">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_heavies="props">
                <span content="Heavy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/heavyweapons_icon.png" alt="Heavy">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_engineers="props">
                <span content="Engineer"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/engineer_icon.png" alt="Engineer">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_medics="props">
                <span content="Medic"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/medic_icon.png" alt="Medic">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_snipers="props">
                <span content="Sniper"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/sniper_icon.png" alt="Sniper">
                </span>
                  </template>
                  <template v-slot:header-cell-deaths_to_spies="props">
                <span content="Spy"
                      v-tippy="{ placement : 'top' }">
                  <img class="h-4 w-4 rounded-full dark:bg-white" src="/assets/spy_icon.png" alt="Spy">
                </span>
                  </template>
                  <template v-slot:body-cell-value-class_played="props">
                    <div class="flex items-center space-x-2">
                      <div class="flex flex-shrink-0 -space-x-1">
                        <img :class="[props.row.team === 'Blue' ? 'bg-blue-100': 'bg-red-100']"
                             class="max-w-none h-4 w-4 rounded-full ring-2 ring-white"
                             :src="`/assets/${props.row.class_played}_icon.png`"
                             :alt="props.row.class_played"/>
                      </div>
                    </div>
                  </template>
                  <template v-slot:body-cell-value-team="props">
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                    :class="[props.row.team === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                {{ props.row.team }}
              </span>
                  </template>
                </base-table>
              </DisclosurePanel>
            </Disclosure>
          </div>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <killstreaks v-if="charts.currentTab === 'Killstreaks'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <rounds v-if="charts.currentTab === 'Rounds'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <spawns v-if="charts.currentTab === 'Spawns'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <chat v-if="charts.currentTab === 'Chat'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <dominations v-if="charts.currentTab === 'Dominations'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <revenges v-if="charts.currentTab === 'Revenges'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <class-switches v-if="charts.currentTab === 'Class switches'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <disconnects v-if="charts.currentTab === 'Disconnects'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <medic-stats v-if="charts.currentTab === 'Medic stats'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <charts v-if="charts.currentTab === 'Charts'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <vods v-if="charts.currentTab === 'VODs'"/>
        </transition>
        <transition enter-active-class="ease-out duration-300"
                    enter-from-class="opacity-0"
                    enter-to-class="opacity-100"
                    leave-active-class="ease-in duration-200"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0">
          <demos v-if="charts.currentTab === 'Demos'"/>
        </transition>
      </div>
    </div>
  </app-layout>
</template>

<script>
import {computed, defineComponent, onMounted, reactive} from 'vue'
import Rounds from "../Components/Logs/Detail/Rounds";
import Scores from "../Components/Logs/Detail/Scores";
import MedicStats from "../Components/Logs/Detail/MedicStats";
import Vods from "../Components/Logs/Detail/Vods";
import Demos from "../Components/Logs/Detail/Demos";
import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverPanel,
  Disclosure,
  DisclosurePanel,
  DisclosureButton
} from '@headlessui/vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import BaseTable from "../Components/Tables/BaseTable";
import {
  ChevronLeftIcon,
  ChevronRightIcon,
  ChevronDownIcon,
  CheckIcon,
  XIcon,
  PlusSmIcon,
  MinusSmIcon
} from '@heroicons/vue/solid'
import {Inertia} from "@inertiajs/inertia";
import debounce from "lodash/debounce";
import Killstreaks from "../Components/Logs/Detail/Killstreaks";
import Spawns from "../Components/Logs/Detail/Spawns";
import Chat from "../Components/Logs/Detail/Chat";
import Dominations from "../Components/Logs/Detail/Dominations";
import Revenges from "../Components/Logs/Detail/Revenges";
import ClassSwitches from "../Components/Logs/Detail/ClassSwitches";
import Disconnects from "../Components/Logs/Detail/Disconnects";
import JetDropdown from "../Jetstream/Dropdown";
import JetDropdownLink from "../Jetstream/DropdownLink";
import Charts from "../Components/Logs/Detail/Charts";
import {sort} from 'fast-sort';
import {getClassName} from "../Functions/classes";
import {getWeaponName} from "../Functions/weapons";

export default defineComponent({
                                 components: {
                                   Scores,
                                   Charts,
                                   MedicStats,
                                   Vods,
                                   Demos,
                                   PlusSmIcon,
                                   MinusSmIcon,
                                   DisclosureButton,
                                   Disclosure,
                                   DisclosurePanel,
                                   Menu,
                                   MenuButton,
                                   MenuItem,
                                   MenuItems,
                                   Chat,
                                   JetDropdown,
                                   JetDropdownLink,
                                   Disconnects,
                                   Rounds,
                                   ClassSwitches,
                                   Dominations,
                                   Revenges,
                                   Killstreaks,
                                   AppLayout,
                                   BaseTable,
                                   Spawns,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                   ChevronDownIcon,
                                   CheckIcon,
                                   XIcon,
                                   Popover,
                                   PopoverButton,
                                   PopoverPanel
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         currentTab   : 'Players',
                                         limit        : 50,
                                         classMatchups: {
                                           kills : {
                                             columns: [
                                               {
                                                 name        : "team",
                                                 field       : "team",
                                                 label       : 'Team',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "in_game_name",
                                                 field       : "in_game_name",
                                                 label       : 'Player',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 100,
                                               },
                                               {
                                                 name        : "class_played",
                                                 field       : "class_played",
                                                 label       : 'C',
                                                 align       : 'left',
                                                 sortable    : false,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "scouts_killed",
                                                 field       : "scouts_killed",
                                                 label       : 'Scout',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "soldiers_killed",
                                                 field       : "soldiers_killed",
                                                 label       : 'Soldier',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "pyros_killed",
                                                 field       : "pyros_killed",
                                                 label       : 'Pyro',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "demomen_killed",
                                                 field       : "demomen_killed",
                                                 label       : 'Demoman',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "heavies_killed",
                                                 field       : "heavies_killed",
                                                 label       : 'Heavy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "engineers_killed",
                                                 field       : "engineers_killed",
                                                 label       : 'Engineer',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "medics_killed",
                                                 field       : "medics_killed",
                                                 label       : 'Medic',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "snipers_killed",
                                                 field       : "snipers_killed",
                                                 label       : 'Sniper',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "spies_killed",
                                                 field       : "spies_killed",
                                                 label       : 'Spy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                             ],
                                             visible: ['team', 'in_game_name', 'class_played', 'scouts_killed', 'soldiers_killed', 'pyros_killed', 'demomen_killed', 'heavies_killed', 'engineers_killed', 'medics_killed', 'snipers_killed', 'spies_killed'],
                                             data   : Inertia.page.props.log.data.statlines
                                           },
                                           deaths: {
                                             columns: [
                                               {
                                                 name        : "team",
                                                 field       : "team",
                                                 label       : 'Team',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "in_game_name",
                                                 field       : "in_game_name",
                                                 label       : 'Player',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 100,
                                               },
                                               {
                                                 name        : "class_played",
                                                 field       : "class_played",
                                                 label       : 'C',
                                                 align       : 'left',
                                                 sortable    : false,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_scouts",
                                                 field       : "deaths_to_scouts",
                                                 label       : 'Scout',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_soldiers",
                                                 field       : "deaths_to_soldiers",
                                                 label       : 'Soldier',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_pyros",
                                                 field       : "deaths_to_pyros",
                                                 label       : 'Pyro',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_demomen",
                                                 field       : "deaths_to_demomen",
                                                 label       : 'Demoman',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_heavies",
                                                 field       : "deaths_to_heavies",
                                                 label       : 'Heavy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_engineers",
                                                 field       : "deaths_to_engineers",
                                                 label       : 'Engineer',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_medics",
                                                 field       : "deaths_to_medics",
                                                 label       : 'Medic',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_snipers",
                                                 field       : "deaths_to_snipers",
                                                 label       : 'Sniper',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                               {
                                                 name        : "deaths_to_spies",
                                                 field       : "deaths_to_spies",
                                                 label       : 'Spy',
                                                 align       : 'left',
                                                 sortable    : true,
                                                 headerFilter: "text",
                                                 width       : 30,
                                               },
                                             ],
                                             visible: ['team', 'in_game_name', 'class_played', 'deaths_to_scouts', 'deaths_to_soldiers', 'deaths_to_pyros', 'deaths_to_demomen', 'deaths_to_heavies', 'deaths_to_engineers', 'deaths_to_medics', 'deaths_to_snipers', 'deaths_to_spies'],
                                             data   : Inertia.page.props.log.data.statlines
                                           }
                                         },
                                         data         : Inertia.page.props.log.data.statlines,
                                         sidebar      : {
                                           opened: false
                                         },
                                         tableHeight  : 700,
                                         filters      : {
                                           page: 1
                                         },
                                         loading      : false,
                                         // 'medkit_health',
                                         visible   : ['team', 'in_game_name', 'class_played', 'kills', 'kills_per_minute', 'kills_per_death', 'kills_assists_per_death', 'assists', 'deaths', 'deaths_per_minute', 'damage', 'suicides', 'longest_killstreak', 'prec_enabled', 'damage_per_minute', 'damage_taken', 'damage_taken_per_minute', 'medkit_pickup', 'backstabs', 'headshots', 'airshots', 'cpc'],
                                         meta      : [],
                                         pagination: {},
                                         columns   : [
                                           {
                                             name        : "team",
                                             field       : "team",
                                             label       : 'Team',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "in_game_name",
                                             field       : "in_game_name",
                                             label       : 'Player',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "class_played",
                                             field       : "class_played",
                                             label       : 'C',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 40,
                                           },
                                           {
                                             name        : "kills",
                                             field       : "kills",
                                             label       : 'K',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "kills_per_minute",
                                             field       : "kills_per_minute",
                                             label       : 'K/M',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "kills_per_death",
                                             field       : "kills_per_death",
                                             label       : 'K/D',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "kills_assists_per_death",
                                             field       : "kills_assists_per_death",
                                             label       : 'KA/D',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "assists",
                                             field       : "assists",
                                             label       : 'A',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "deaths",
                                             field       : "deaths",
                                             label       : 'D',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "deaths_per_minute",
                                             field       : "deaths_per_minute",
                                             label       : 'D/M',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "damage",
                                             field       : "damage",
                                             label       : 'DA',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "damage_per_minute",
                                             field       : "damage_per_minute",
                                             label       : 'DA/M',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "damage_taken",
                                             field       : "damage_taken",
                                             label       : 'DT',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "damage_taken_per_minute",
                                             field       : "damage_taken_per_minute",
                                             label       : 'DT/M',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "medkit_pickup",
                                             field       : "medkit_pickup",
                                             label       : 'HP',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "medkit_health",
                                             field       : "medkit_health",
                                             label       : 'Health',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "suicides",
                                             field       : "suicides",
                                             label       : 'S',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "backstabs",
                                             field       : "backstabs",
                                             label       : 'BS',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "longest_killstreak",
                                             field       : "longest_killstreak",
                                             label       : 'LKS',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "headshots",
                                             field       : "headshots",
                                             label       : 'HS',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "airshots",
                                             field       : "airshots",
                                             label       : 'AS',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "cpc",
                                             field       : "cpc",
                                             label       : 'CAP',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                           {
                                             name        : "prec_enabled",
                                             field       : "prec_enabled",
                                             label       : 'P-REC',
                                             align       : 'left',
                                             sortable    : true,
                                             headerFilter: "text",
                                             width       : 30,
                                           },
                                         ],
                                       }
                                   )

                                   function onCardInViewport(isVisible, entry, index) {
                                     if (isVisible && shouldLoadMore(index)) {
                                       onInfiniteScroll();
                                     }
                                   }

                                   function onCellClick(props) {
                                     const {row, column} = props;
                                   }

                                   function shouldLoadMore(index) {
                                     //console.log(`Total: ${charts.meta.total} Data loaded: ${charts.data.length} Index: ${index}`)
                                     return (charts.meta.total > charts.data.length) && charts.data.length - 1 === index;
                                   }

                                   function onTabChange(tab) {
                                     charts.currentTab = tab.name;
                                     //console.log({tab})
                                   }

                                   // Filtered by classes
                                   const scouts = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'scout');
                                   })

                                   const soldiers = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'soldier');
                                   })

                                   const pyros = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'pyro');
                                   })

                                   const demomen = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'demoman');
                                   })

                                   const heavies = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'heavyweapons');
                                   })

                                   const engineers = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'engineer');
                                   })

                                   const medics = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'medic');
                                   })

                                   const snipers = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'sniper');
                                   })

                                   const spies = computed(() => {
                                     return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'spy');
                                   })

                                   const tabs = computed(() => {
                                     return [
                                       {
                                         name : 'Players',
                                         href : '#players',
                                         count: Inertia.page.props.log.data.statlines.length,
                                       },
                                       {
                                         name: 'Charts',
                                         href: '#charts',
                                       },
                                       {
                                         name : 'Rounds',
                                         href : '#rounds',
                                         count: Inertia.page.props.log.data.rounds.length,
                                       },
                                       {
                                         name: 'Medic stats',
                                         href: '#medic'
                                       },
                                       {
                                         name : 'Chat',
                                         href : '#chat',
                                         count: Inertia.page.props.log.data.chat.length,
                                       },
                                       {
                                         name : 'Killstreaks',
                                         href : '#killstreaks',
                                         count: Inertia.page.props.log.data.killstreaks.length,
                                       },
                                       {
                                         name : 'Spawns',
                                         href : '#spawns',
                                         count: Inertia.page.props.log.data.spawns.length,
                                       },
                                       {
                                         name : 'Dominations',
                                         href : '#dominations',
                                         count: Inertia.page.props.log.data.dominations.length,
                                       },
                                       {
                                         name : 'Revenges',
                                         href : '#revenges',
                                         count: Inertia.page.props.log.data.revenges.length,
                                       },
                                       {
                                         name : 'Class switches',
                                         href : '#switches',
                                         count: Inertia.page.props.log.data.class_switches.length,
                                       },
                                       {
                                         name : 'Disconnects',
                                         href : '#disconnects',
                                         count: Inertia.page.props.log.data.disconnects.length,
                                       },
                                       {
                                         name : 'VODs',
                                         href : '#vods',
                                         count: Inertia.page.props.vods.length,
                                       },
                                       {
                                         name : 'Demos',
                                         href : '#demos',
                                         count: Inertia.page.props.demos.length,
                                       },
                                     ]
                                   })

                                   function navigateToDetail(article) {
                                     /*Inertia.get(route('log.detail', {
                                      article: article.id
                                      }))*/
                                   }


                                   const filter = debounce((key, value) => {
                                     //console.log({key, value})
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 500)

                                   const resetFilters = () => {
                                     charts.sidebar.opened = false;
                                     charts.filters        = {page: 1}
                                     reset();
                                     getData();
                                   }

                                   function sortChanged(props) {
                                     const {order, column} = props;
                                     if (order === 'asc') {
                                       if (column !== 'class_played') {
                                         charts.data = sort(Inertia.page.props.log.data.statlines).asc(column)
                                       } else {
                                         sortByClass(order)
                                       }
                                     } else {
                                       if (column !== 'class_played') {
                                         charts.data = sort(Inertia.page.props.log.data.statlines).desc(column)
                                       } else {
                                         sortByClass(order)
                                       }
                                     }
                                   }

                                   function classMatchupKillsSortChanged(props) {
                                     const {order, column} = props;
                                     if (order === 'asc') {
                                       if (column !== 'class_played') {
                                         charts.classMatchups.kills.data = sort(Inertia.page.props.log.data.statlines).asc(column)
                                       }
                                     } else {
                                       if (column !== 'class_played') {
                                         charts.classMatchups.kills.data = sort(Inertia.page.props.log.data.statlines).desc(column)
                                       }
                                     }
                                   }

                                   function classMatchupDeathsSortChanged(props) {
                                     const {order, column} = props;
                                     if (order === 'asc') {
                                       if (column !== 'class_played') {
                                         charts.classMatchups.deaths.data = sort(Inertia.page.props.log.data.statlines).asc(column)
                                       }
                                     } else {
                                       if (column !== 'class_played') {
                                         charts.classMatchups.deaths.data = sort(Inertia.page.props.log.data.statlines).desc(column)
                                       }
                                     }
                                   }

                                   function sortByClass(order) {
                                     // Order classes in this order.
                                     const tfClassImportance = {
                                       scout       : 1,
                                       soldier     : 2,
                                       pyro        : 3,
                                       demoman     : 4,
                                       heavyweapons: 5,
                                       engineer    : 6,
                                       medic       : 7,
                                       sniper      : 8,
                                       spy         : 9
                                     };

                                     if (order === 'asc') {
                                       charts.data = sort(Inertia.page.props.log.data.statlines).asc(tfClass => tfClassImportance[tfClass.class_played] || 0)
                                     } else {
                                       charts.data = sort(Inertia.page.props.log.data.statlines).desc(tfClass => tfClassImportance[tfClass.class_played] || 0)
                                     }
                                   }

                                   function onInfiniteScroll() {
                                     charts.filters.page++;
                                     getData();
                                   }

                                   function getData() {

                                   }

                                   function reset() {
                                     charts.filters.page = 1;
                                     charts.data         = [];
                                   }

                                   onMounted(() => {
                                     //const nav    = document.querySelector('.charts-navbar');
                                     //const header = document.querySelector('.charts-header');

                                     charts.tableHeight = window.innerHeight - 300;
                                   })

                                   return {
                                     scouts,
                                     soldiers,
                                     pyros,
                                     demomen,
                                     heavies,
                                     engineers,
                                     medics,
                                     snipers,
                                     spies,
                                     navigateToDetail,
                                     onTabChange,
                                     charts,
                                     filter,
                                     tabs,
                                     sortChanged,
                                     classMatchupKillsSortChanged,
                                     classMatchupDeathsSortChanged,
                                     onInfiniteScroll,
                                     resetFilters,
                                     onCardInViewport,
                                     onCellClick,
                                     getClassName,
                                     getWeaponName
                                   }
                                 },
                               })
</script>
