<template>
  <app-layout title="Logs">
    <div class="bg-white dark:bg-slate-900">
      <div>
        <main class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
          <notice />
          <div class="relative z-10 flex items-baseline justify-between pt-4 pb-6 border-b border-gray-200 dark:border-slate-700">
            <div class="flex items-center search-bars gap-x-4">
              <div class="w-full">
                <label for="title" class="sr-only">
                  Title
                </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                  </div>
                  <input id="title"
                         v-model="charts.filters.title"
                         @input="filter('title', $event.target.value)"
                         name="title"
                         class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                         placeholder="Title"
                         type="search"/>
                </div>
              </div>
              <div class="w-full">
                <label for="map" class="sr-only">
                  Map
                </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                  </div>
                  <input id="map"
                         v-model="charts.filters.map"
                         @input="filter('map', $event.target.value)"
                         name="map"
                         class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                         placeholder="Map"
                         type="search"/>
                </div>
              </div>
              <div class="w-full">
                <label for="search_query" class="sr-only">
                  Player
                </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                  </div>
                  <input id="search_query"
                         v-model="charts.filters.search_query"
                         @input="filter('search_query', $event.target.value)"
                         name="search_query"
                         class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                         placeholder="Player name"
                         type="search"/>
                </div>
              </div>
            </div>
            <!--<div class="flex items-center">
              <Menu as="div" class="relative inline-block text-left">
                <div>
                  <MenuButton
                      class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-slate-200">
                    Sort
                    <ChevronDownIcon class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                     aria-hidden="true"/>
                  </MenuButton>
                </div>

                <transition enter-active-class="transition ease-out duration-100"
                            enter-from-class="transform opacity-0 scale-95"
                            enter-to-class="transform opacity-100 scale-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-from-class="transform opacity-100 scale-100"
                            leave-to-class="transform opacity-0 scale-95">
                  <MenuItems
                      class="origin-top-right absolute right-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                    <div class="py-1">
                      <MenuItem v-for="option in sortOptions" :key="option.value" v-slot="{ active }">
                        <span
                            :class="[charts.filters.sort ? 'font-medium text-gray-900 dark:text-slate-200' : 'text-gray-500', active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm']">
                          {{ option.label }}
                        </span>
                      </MenuItem>
                    </div>
                  </MenuItems>
                </transition>
              </Menu>
            </div>-->
          </div>

          <section aria-labelledby="logs-heading" class="pt-6 pb-24">
            <h2 id="logs-heading" class="sr-only">Logs</h2>

            <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-6">
              <form class="hidden lg:block">
                <ul role="list" class="text-sm font-medium text-gray-900 dark:text-slate-200 space-y-4 pb-6 border-b border-gray-200 dark:border-slate-700">
                  <!--<li v-for="category in subCategories" :key="category.name">
                    <a :href="category.href">
                      {{ category.name }}
                    </a>
                  </li>-->
                </ul>

                <Disclosure as="div" class="border-b border-gray-200 dark:border-slate-700 py-6"
                            v-slot="{ open }">
                  <h3 class="-my-3 flow-root">
                    <DisclosureButton
                        class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm dark:text-slate-500 text-gray-400 hover:text-gray-500">
                    <span class="font-medium text-gray-900 dark:text-slate-200">
                      Advanced filters
                    </span>
                      <span class="ml-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5" aria-hidden="true"/>
                    </span>
                    </DisclosureButton>
                  </h3>
                  <DisclosurePanel class="pt-6">
                    <div class="space-y-4">
                      <div
                          class="relative border border-gray-300 dark:border-slate-600 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-violet-600 focus-within:border-violet-600">
                        <label for="chat"
                               class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white dark:bg-slate-900 text-xs font-medium text-gray-900 dark:text-slate-200">
                          Chat
                        </label>
                        <input @input="filter('chat', $event.target.value)" v-model="charts.filters.chat" type="text"
                               name="chat" id="chat"
                               class="block w-full border-0 p-0 text-gray-900 dark:text-slate-200 placeholder-gray-500 focus:ring-0 sm:text-sm dark:bg-slate-900 dark:text-slate-200"
                               placeholder="Message"/>
                      </div>
                    </div>
                    <div class="space-y-4">
                      <Listbox as="div" v-model="charts.filters.weapon"
                               @update:model-value="v => filter('weapon', v)">
                        <div class="mt-1 relative">
                          <ListboxButton
                              class="bg-white dark:bg-slate-900 h-12 relative w-full border border-gray-300 dark:border-slate-600 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500 dark:text-slate-200 sm:text-sm">
                              <span class="block truncate">{{
                                  charts.filters.hasOwnProperty('weapon') ? charts.filters.weapon : 'Weapon'
                                }}</span>
                            <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
        </span>
                          </ListboxButton>

                          <transition leave-active-class="transition ease-in duration-100"
                                      leave-from-class="opacity-100" leave-to-class="opacity-0">
                            <ListboxOptions
                                class="absolute z-10 mt-1 w-full bg-white dark:bg-slate-900 dark:text-slate-200 shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                              <ListboxOption as="template" v-for="(weapon, index) in $page.props.weapons"
                                             :key="`wpn_${index}`" :value="weapon.name"
                                             v-slot="{ active, selected }">
                                <li :class="[active ? 'text-white bg-violet-600' : 'text-gray-900 dark:text-slate-200', 'cursor-default select-none relative py-2 pl-3 pr-9']">
                                      <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">
                                        {{ weapon.name }}
                                      </span>
                                  <span v-if="selected"
                                        :class="[active ? 'text-white' : 'text-violet-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                                        <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                                      </span>
                                </li>
                              </ListboxOption>
                            </ListboxOptions>
                          </transition>
                        </div>
                      </Listbox>
                    </div>
                  </DisclosurePanel>
                </Disclosure>
              </form>

              <div class="lg:col-span-3">
                <div class="max-w-full mx-auto sm:px-6 lg:px-8">
                  <div class="bg-white dark:bg-slate-900 overflow-hidden shadow-xl sm:rounded-lg">
                    <base-table
                        table-header-cell-class="bg-white dark:bg-slate-900 z-10"
                        identifier="logs"
                        @sort-changed="sort"
                        v-model:columns="charts.columns"
                        v-model:visible="charts.visible"
                        :data="$page.props.logs.data"
                        :meta="charts.meta"
                        :loading="charts.loading"
                        row-key="id"
                        :table-height="charts.tableHeight">
                      <template v-slot:body-cell-value-title="props">
                        <Link class="hover:underline text-violet-600 hover:text-violet-900 dark:text-violet-400 dark:hover:text-violet-400"
                              :href="route('log.detail', { log: props.row.id})">
                          {{ props.row.title }}
                        </Link>
                      </template>
                    </base-table>
                    <div class="px-4 py-2 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                      <div>
                        <p class="text-sm text-gray-700 dark:text-slate-200">
                          Showing
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.logs.meta.from }}</span>
                          {{ ' ' }}
                          to
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.logs.meta.to }}</span>
                          {{ ' ' }}
                          of
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.logs.meta.total }}</span>
                          {{ ' ' }}
                          results
                        </p>
                      </div>
                      <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                          <Link v-for="(link, index) in $page.props.logs.meta.links" :href="link.url"
                                aria-current="page" :class="{
                  'z-10 bg-violet-50 border-violet-500 text-violet-600 dark:bg-slate-800': link.active,
                  'bg-white dark:bg-slate-900 border-gray-300 dark:border-slate-600 dark:text-slate-400 text-gray-500 hover:bg-gray-50 dark:hover:bg-slate-600': !link.active
                }" class="relative inline-flex items-center px-4 py-2 border text-sm font-medium" v-html="link.label">

                          </Link>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-200 leading-tight">
        Logs
      </h2>
    </template>

  </app-layout>
</template>

<script>
import {computed, defineComponent, onMounted, reactive} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import BaseTable from "../Components/Tables/BaseTable";
import Notice from "../Components/Home/Notice";
import {
  SelectorIcon,
  CheckIcon,
  ChevronLeftIcon,
  ChevronRightIcon,
  ChevronDownIcon,
  FilterIcon,
  MinusSmIcon,
  PlusSmIcon,
  SearchIcon
} from '@heroicons/vue/solid'
import {Inertia} from "@inertiajs/inertia";
import {Link} from "@inertiajs/inertia-vue3";
import debounce from "lodash/debounce";
import {
  Dialog,
  DialogOverlay,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
  Listbox,
  ListboxButton,
  ListboxLabel,
  ListboxOption,
  ListboxOptions
} from '@headlessui/vue'
import {XIcon} from '@heroicons/vue/outline'

export default defineComponent({
                                 components: {
                                   Listbox,
                                   ListboxButton,
                                   ListboxLabel,
                                   ListboxOption,
                                   ListboxOptions,
                                   Notice,
                                   SelectorIcon,
                                   CheckIcon,
                                   Dialog,
                                   DialogOverlay,
                                   Disclosure,
                                   DisclosureButton,
                                   DisclosurePanel,
                                   Menu,
                                   MenuButton,
                                   MenuItem,
                                   MenuItems,
                                   TransitionChild,
                                   TransitionRoot,
                                   XIcon,
                                   SearchIcon,
                                   ChevronDownIcon,
                                   FilterIcon,
                                   MinusSmIcon,
                                   PlusSmIcon,
                                   AppLayout,
                                   Welcome,
                                   Link,
                                   BaseTable,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         limit      : 50,
                                         sidebar    : {
                                           opened: false
                                         },
                                         tableHeight: 700,
                                         filters    : {
                                           page  : 1,
                                           weapon: null
                                         },
                                         loading    : false,
                                         visible    : ['title', 'map', 'date', 'gamemode'],
                                         meta       : Inertia.page.props.logs.meta,
                                         pagination : {},
                                         columns    : [
                                           {
                                             name        : "title",
                                             field       : "title",
                                             label       : 'Title',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "map",
                                             field       : "map",
                                             label       : 'Map',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "date",
                                             field       : "date_l",
                                             label       : 'Finished at',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "gamemode",
                                             field       : "gamemode",
                                             label       : 'Gamemode',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           }
                                         ],
                                       }
                                   )

                                   function onCellClick(props) {
                                     const {row, column} = props;
                                     Inertia.get(route('log.detail', {log: row.id}))
                                   }

                                   function navigateToDetail(log) {
                                     /*Inertia.get(route('log.detail', {
                                      log: log.id
                                      }))*/
                                   }

                                   const sortOptions = [
                                     {
                                       label: 'Newest',
                                       value: 'newest'
                                     },
                                     {
                                       label: 'Oldest',
                                       value: 'oldest'
                                     }
                                   ]

                                   function setInitialFilters() {
                                     charts.filters = route().params;
                                   }

                                   const filter = debounce((key, value) => {
                                     //console.log({key, value})
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 500)

                                   const resetFilters = () => {
                                     charts.sidebar.opened = false;
                                     charts.filters        = {page: 1}
                                     reset();
                                     getData();
                                   }

                                   const sort = debounce((order) => {
                                     //console.log({order})
                                     charts.filters.sort = order;
                                     reset();
                                     getData();
                                   }, 150)

                                   function getData() {
                                     Inertia.get(route('logs'), {
                                       ...route().params,
                                       ...charts.filters
                                     }, {
                                                   preserveScroll: true,
                                                   preserveState : true,
                                                   replace       : false
                                                 })
                                   }

                                   function reset() {
                                     charts.filters.page = 1;
                                   }

                                   onMounted(() => {
                                     //const nav    = document.querySelector('.charts-navbar');
                                     //const header = document.querySelector('.charts-header');

                                     setInitialFilters();
                                     charts.tableHeight = window.innerHeight - 300;
                                   })

                                   return {
                                     navigateToDetail,
                                     charts,
                                     filter,
                                     sort,
                                     resetFilters,
                                     onCellClick,
                                     sortOptions
                                   }
                                 },
                               })
</script>
