<template>
  <app-layout :title="$page.props.player.data.name">
    <template #header>
      <div
          class="max-w-full mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
        <div class="flex items-center space-x-5">
          <div class="flex-shrink-0">
            <div class="relative">
              <img class="h-16 w-16 rounded-full"
                   :src="$page.props.player.data.steam_profile_picture_big"
                   :alt="$page.props.player.data.name"/>
              <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"/>
            </div>
          </div>
          <div>
            <h1 class="text-2xl font-bold text-gray-900 dark:text-slate-200">
              {{ $page.props.player.data.name }}
            </h1>
          </div>
        </div>
        <div
            v-if="$page.props.performance_metrics"
            class="flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          <dl class="mt-2 grid gap-5 sm:grid-cols-4">
            <div class="px-4 py-5 bg-white dark:bg-slate-900 dark:shadow-slate-500/50 shadow rounded-lg overflow-hidden sm:p-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-slate-200 truncate">
                Total logs
              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900 dark:text-slate-200">
                {{ $page.props.performance_metrics.total_logs }}
              </dd>
            </div>
            <!-- I need to verify the accuracy of this metric so I'll just not add it for now. -->
            <!--<div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
              <dt content="Ties and combined logs do not count for anything. Only King Of The Hill, Control Points & Payload count towards this winrate."
                  v-tippy="{ placement : 'top' }" class="text-sm font-medium text-gray-500 truncate">
                Winrate (logs)
                <QuestionMarkCircleIcon class="inline-block h-4 w-4 text-violet-500"/>

              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900 dark:text-slate-200">
                {{ $page.props.performance_metrics.average_winrate_percentage }} %
              </dd>
            </div>-->
            <div class="px-4 py-5 bg-white dark:bg-slate-900 dark:shadow-slate-500/50 shadow rounded-lg overflow-hidden sm:p-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-slate-200 truncate">
                Time played
              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900 dark:text-slate-200">
                {{ $page.props.performance_metrics.time_played }}
              </dd>
            </div>
            <!--<div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
              <dt class="text-sm font-medium text-gray-500 truncate">
                Most played class
              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900 dark:text-slate-200">
                {{ getClassName($page.props.performance_metrics.most_played_class) }}
              </dd>
            </div>-->
          </dl>
        </div>
      </div>
    </template>

    <div
        class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
      <div class="space-y-6 lg:col-start-1 lg:col-span-3">
        <section aria-labelledby="player-title">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <span class="relative z-0 inline-flex shadow-sm rounded-md">

                <a :href="`https://logs.tf/profile/${$page.props.player.data.id}`" target="_blank"
                   class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  logs.tf
                </a>
                <a :href="`https://steamcommunity.com/profiles/${$page.props.player.data.id}`" target="_blank"
                   class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  Steam
                </a>
                <a :href="`https://etf2l.org/search/${$page.props.player.data.id}`" target="_blank"
                   type="button"
                   class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  ETF2L
                </a>
                <a :href="`https://www.ugcleague.com/players_page.cfm?player_id=${$page.props.player.data.id}`"
                   target="_blank"
                   class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  UGC
                </a>
                <a :href="`https://rgl.gg/Public/PlayerProfile.aspx?p=${$page.props.player.data.id}`" target="_blank"
                   type="button"
                   class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  RGL
                </a>
                <a :href="`https://tf2center.com/profile/${$page.props.player.data.id}`" target="_blank"
                   type="button"
                   class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  TF2Center
                </a>
                <a :href="`https://warzone.ozfortress.com/users/steam_id/${$page.props.player.data.id}`" target="_blank"
                   type="button"
                   class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  ozfortress
                </a>
              </span>
            </div>
            <div v-if="$page.props.performance_metrics" class="border-t border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-6">
              <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-3">
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Total kills
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.total_kills }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Total assists
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.total_assists }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Total deaths
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.total_deaths }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Total damage
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.total_damage }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Average damage per minute
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.average_damage_per_minute }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Longest killstreak
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.performance_metrics.longest_killstreak }}
                  </dd>
                </div>
              </dl>
            </div>

          </div>
        </section>
        <section v-if="$page.props.teams.length > 0" aria-labelledby="team-information-title py-4">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="team-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                Teams
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-slate-200">
                Historic teams of {{ $page.props.player.data.name }}
              </p>
            </div>
            <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-6">
              <div class="bg-white dark:bg-slate-900 shadow overflow-hidden sm:rounded-md">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
                  <li v-for="(team, teamIdx) in $page.props.teams" :key="`team_${teamIdx}`">
                    <Link :href="route('team.detail', {
                      team: team.id
                    })" class="block hover:bg-gray-50 dark:hover:bg-slate-800">
                      <div class="flex items-center px-4 py-4 sm:px-6">
                        <div class="min-w-0 flex-1 flex items-center">
                          <div class="flex-shrink-0">
                            <img class="h-12 w-12 rounded-full" @error="onImageError" :src="team.team_picture" :alt="team.name" />
                          </div>
                          <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                            <div>
                              <p class="text-sm font-medium text-violet-600 dark:text-violet-400 truncate">{{ team.name }}</p>
                              <p class="mt-2 flex items-center text-sm text-gray-500 dark:text-slate-200">
                                <span class="truncate">{{ team.gamemode }}</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <ChevronRightIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                        </div>
                      </div>
                    </Link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section v-if="Object.keys($page.props.matches).length > 0" aria-labelledby="match-information-title py-4 mb-3">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="match-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                Matches
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-slate-200">
                Matches played by {{ $page.props.player.data.name }}
              </p>
            </div>
            <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-2 sm:px-4">
              <nav class="h-full overflow-y-auto" aria-label="Matches">
                <div v-for="competition in Object.keys($page.props.matches)" :key="competition" class="relative">
                  <div class="z-10 sticky top-0 border-t border-b border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 px-6 py-1 text-sm font-medium text-gray-500 dark:text-slate-200">
                    <h3>{{ competition }}</h3>
                  </div>
                  <div class="mt-8 sm:block">
                    <div class="align-middle inline-block min-w-full border-b border-gray-200 dark:border-slate-700">
                      <table class="min-w-full">
                        <tbody class="bg-white dark:bg-slate-900 divide-y divide-gray-100">
                        <tr v-for="(match, matchIdx) in $page.props.matches[competition]" :key="`match_${matchIdx}`">
                          <td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200">
                            <div class="flex items-center space-x-3 lg:pl-2">
                              <div :class="['flex-shrink-0 w-2.5 h-2.5 rounded-full']" aria-hidden="true" />
                              <a href="#" class="truncate hover:text-gray-600 dark:hover:text-slate-300">
                        <span>
                          {{ match.week }}
                          {{ ' ' }}
                          <span class="text-gray-500 dark:text-slate-200 font-normal">on {{ match.maps_played }}</span>
                        </span>
                              </a>
                            </div>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            <span>
                              <span :content="match.home_team_name"
                                    v-tippy="{ placement : 'top' }">{{ match.home_team_tag }}</span> vs. <span :content="match.away_team_name"
                                    v-tippy="{ placement : 'top' }">{{ match.away_team_tag }}</span>
                            </span>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            <span>
                              {{ match.home_team_score }} - {{ match.away_team_score }}
                            </span>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            {{ match.scheduled_date }}
                          </td>
                          <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                            <a :href="match.league_match_url" target="_blank" class="text-violet-600 dark:text-violet-400 hover:text-violet-900 dark:text-violet-400 dark:hover:text-violet-400">
                              Open
                            </a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </section>

        <section v-if="$page.props.demos.length > 0" aria-labelledby="demo-information-title py-4">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="demo-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                Demos
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-slate-200">
                Demos of {{ $page.props.player.data.name }}
              </p>
            </div>
            <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-6">
              <div class="bg-white dark:bg-slate-900 shadow overflow-hidden sm:rounded-md">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
                  <li v-for="(demo, demoIdx) in $page.props.demos" :key="`demo_${demoIdx}`">
                    <a :href="demo.demostf_url" target="_blank" class="block hover:bg-gray-50 dark:hover:bg-slate-800">
                      <div class="flex items-center px-4 py-4 sm:px-6">
                        <div class="min-w-0 flex-1 flex items-center">
                          <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                            <div>
                              <p class="text-sm font-medium text-violet-600 dark:text-violet-400 truncate">{{ demo.title }} - {{ demo.server }}</p>
                              <p class="mt-2 flex items-center text-sm text-gray-500 dark:text-slate-200">
                                <span class="truncate">{{ demo.map }}</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="hidden md:block">
                          <div>
                            <p class="text-sm text-gray-900 dark:text-slate-100">
                              <span>{{ demo.date }}</span>
                            </p>
                          </div>
                        </div>
                        <div>
                          <ChevronRightIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </app-layout>
</template>

<script>
import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverOverlay,
  PopoverPanel,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import {Link} from "@inertiajs/inertia-vue3";
import AppLayout from "../Layouts/AppLayout";
import {getClassName} from "../Functions/classes";
import {
  ArrowNarrowLeftIcon,
  HomeIcon,
  PaperClipIcon,
  QuestionMarkCircleIcon,
  SearchIcon,
  ChevronRightIcon
} from '@heroicons/vue/solid'
import {BellIcon, MenuIcon, XIcon} from '@heroicons/vue/outline'

export default {
  components: {
    Link,
    AppLayout,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    Popover,
    PopoverButton,
    PopoverOverlay,
    PopoverPanel,
    TransitionChild,
    TransitionRoot,
    ChevronRightIcon,
    ArrowNarrowLeftIcon,
    BellIcon,
    HomeIcon,
    MenuIcon,
    PaperClipIcon,
    QuestionMarkCircleIcon,
    SearchIcon,
    XIcon,
  },
  setup() {
    function onImageError(evt) {
      evt.target.src = "/assets/placeholder.png"
    }
    return {
      getClassName,
      onImageError
    }
  },
}
</script>
