<template>
  <app-layout title="Players">
    <div class="bg-white dark:bg-slate-900">
      <div>
        <main class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
          <notice />
          <div
              class="relative z-10 flex items-baseline justify-between pt-4 pb-6 border-b border-gray-200 dark:border-slate-700">
            <div class="flex items-center search-bars gap-x-4">
              <div class="w-full">
                <label for="name" class="sr-only">
                  Name
                </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                  </div>
                  <input id="map"
                         v-model="charts.filters.name"
                         @input="filter('name', $event.target.value)"
                         name="name"
                         class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                         placeholder="Name"
                         type="search"/>
                </div>
              </div>
            </div>
          </div>

          <section aria-labelledby="players-heading" class="pt-6 pb-24">
            <h2 id="players-heading" class="sr-only">Players</h2>

            <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-6">
              <div class="lg:col-span-3">
                <div class="max-w-full mx-auto sm:px-6 lg:px-8">
                  <div class="bg-white dark:bg-slate-900 overflow-hidden shadow-xl sm:rounded-lg">
                    <base-table
                        table-header-cell-class="bg-white dark:bg-slate-900 z-10"
                        identifier="players"
                        @cell-click="onCellClick"
                        @sort-changed="sort"
                        v-model:columns="charts.columns"
                        v-model:visible="charts.visible"
                        :data="$page.props.players.data"
                        :meta="charts.meta"
                        :loading="charts.loading"
                        row-key="id"
                        :table-height="charts.tableHeight">
                      <template v-slot:body-cell-value-name="props">
                        <div class="py-4 flex">
                          <img class="h-6 w-6 rounded-full" :src="props.row.img" :alt="props.row.name"/>
                          <div class="ml-3">
                            <p class="text-sm font-medium text-gray-900 dark:text-slate-100">{{ props.row.name }}</p>
                            <p class="text-sm text-gray-500 dark:text-slate-400">{{ props.row.id }} / {{ props.row.steamid2 }} / {{ props.row.steamid3 }}</p>
                          </div>
                        </div>
                      </template>
                    </base-table>
                    <div class="px-4 py-2 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                      <div>
                        <p class="text-sm text-gray-700 dark:text-slate-200">
                          Showing
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.players.meta.from }}</span>
                          {{ ' ' }}
                          to
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.players.meta.to }}</span>
                          {{ ' ' }}
                          of
                          {{ ' ' }}
                          <span class="font-medium">{{ $page.props.players.meta.total }}</span>
                          {{ ' ' }}
                          results
                        </p>
                      </div>
                      <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                          <Link v-for="(link, index) in $page.props.players.meta.links" :href="link.url"
                                aria-current="page" :class="{
                  'z-10 bg-violet-50 border-violet-500 text-violet-600 dark:bg-slate-800': link.active,
                  'bg-white dark:bg-slate-900 border-gray-300 dark:border-slate-600 dark:text-slate-400 text-gray-500 hover:bg-gray-50 dark:hover:bg-slate-600': !link.active
                }" class="relative inline-flex items-center px-4 py-2 border text-sm font-medium" v-html="link.label">

                          </Link>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-200 leading-tight">
        Players
      </h2>
    </template>

  </app-layout>
</template>

<script>
import {defineComponent, onMounted, reactive} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import BaseTable from "../Components/Tables/BaseTable";
import Notice from "../Components/Home/Notice";
import {
  SelectorIcon,
  CheckIcon,
  ChevronLeftIcon,
  ChevronRightIcon,
  ChevronDownIcon,
  FilterIcon,
  MinusSmIcon,
  PlusSmIcon,
  SearchIcon
} from '@heroicons/vue/solid'
import {Inertia} from "@inertiajs/inertia";
import {Link} from "@inertiajs/inertia-vue3";
import debounce from "lodash/debounce";
import {
  Dialog,
  DialogOverlay,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
  Listbox,
  ListboxButton,
  ListboxLabel,
  ListboxOption,
  ListboxOptions
} from '@headlessui/vue'
import {XIcon} from '@heroicons/vue/outline'

export default defineComponent({
                                 components: {
                                   Listbox,
                                   ListboxButton,
                                   ListboxLabel,
                                   ListboxOption,
                                   ListboxOptions,
                                   Notice,
                                   SelectorIcon,
                                   CheckIcon,
                                   Dialog,
                                   DialogOverlay,
                                   Disclosure,
                                   DisclosureButton,
                                   DisclosurePanel,
                                   Menu,
                                   MenuButton,
                                   MenuItem,
                                   MenuItems,
                                   TransitionChild,
                                   TransitionRoot,
                                   XIcon,
                                   SearchIcon,
                                   ChevronDownIcon,
                                   FilterIcon,
                                   MinusSmIcon,
                                   PlusSmIcon,
                                   AppLayout,
                                   Welcome,
                                   Link,
                                   BaseTable,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         limit      : 50,
                                         sidebar    : {
                                           opened: false
                                         },
                                         tableHeight: 700,
                                         filters    : {
                                           page  : 1,
                                           weapon: null
                                         },
                                         loading    : false,
                                         visible    : ['name'],
                                         meta       : Inertia.page.props.players.meta,
                                         pagination : {},
                                         columns    : [
                                           {
                                             name        : "name",
                                             field       : "name",
                                             label       : 'Name',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                           },
                                         ],
                                       }
                                   )

                                   function onCellClick(props) {
                                     const {row, column} = props;
                                     Inertia.get(route('player.detail', {user: row.id}))
                                   }

                                   function navigateToDetail(log) {
                                     /*Inertia.get(route('log.detail', {
                                      log: log.id
                                      }))*/
                                   }

                                   function setInitialFilters() {
                                     charts.filters = route().params;
                                   }

                                   const filter = debounce((key, value) => {
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 500)

                                   const resetFilters = () => {
                                     charts.sidebar.opened = false;
                                     charts.filters        = {page: 1}
                                     reset();
                                     getData();
                                   }

                                   const sort = debounce((order) => {
                                     charts.filters.sort = order;
                                     reset();
                                     getData();
                                   }, 150)

                                   function getData() {
                                     Inertia.get(route('players'), {
                                       ...route().params,
                                       ...charts.filters
                                     }, {
                                                   preserveScroll: true,
                                                   preserveState : true,
                                                   replace       : false
                                                 })
                                   }

                                   function reset() {
                                     charts.filters.page = 1;
                                   }

                                   onMounted(() => {
                                     //const nav    = document.querySelector('.charts-navbar');
                                     //const header = document.querySelector('.charts-header');

                                     setInitialFilters();
                                     charts.tableHeight = window.innerHeight - 300;
                                   })

                                   return {
                                     navigateToDetail,
                                     charts,
                                     filter,
                                     sort,
                                     resetFilters,
                                     onCellClick,
                                   }
                                 },
                               })
</script>
