<template>
  <app-layout title="Teams">
    <div class="bg-white dark:bg-slate-900">
      <div>
        <main class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
          <notice />
          <div
              class="relative z-10 flex items-baseline justify-between pt-4 pb-6 border-b border-gray-200 dark:border-slate-700">
            <div class="flex items-center search-bars gap-x-4">
              <div class="w-full">
                <label for="name" class="block text-sm font-medium text-gray-700 dark:text-slate-200">Name</label>
                <div class="relative mt-1">
                  <label for="name" class="sr-only">
                    Name
                  </label>
                  <div class="relative">
                    <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                      <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                    </div>
                    <input id="name"
                           v-model="charts.filters.name"
                           @input="filter('name', $event.target.value)"
                           name="name"
                           class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                           placeholder="Name"
                           type="search"/>
                  </div>
                </div>
              </div>
              <div class="w-full">
                <label class="sr-only">
                  Format
                </label>
                <div class="relative">
                  <Combobox as="div" @update:model-value="dropdownFilter('format', $event)"
                            v-model="charts.filters.format">
                    <ComboboxLabel class="block text-sm font-medium text-gray-700 dark:text-slate-200">Format
                    </ComboboxLabel>
                    <div class="relative mt-1">
                      <ComboboxInput
                          class="dark:text-slate-200 w-full dark:bg-slate-900 rounded-md border border-gray-300 dark:border-slate-600 bg-white py-2 pl-3 pr-10 shadow-sm focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 sm:text-sm"
                          @change="formatQuery = $event.target.value" :display-value="(format) => format"/>
                      <ComboboxButton
                          class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                        <SelectorIcon class="h-5 w-5 text-gray-400 dark:text-slate-300" aria-hidden="true"/>
                      </ComboboxButton>
                      <ComboboxButton
                          v-if="!!charts.filters.format"
                          @click="dropdownFilter('format', undefined)"
                          class="absolute inset-y-0 right-8 flex items-center rounded-r-md px-2 focus:outline-none hover:bg-violet-500 focus:border-violet-500 focus:outline-none focus:ring-1 focus:ring-violet-500 transition ease-in-out duration-150">
                        <XCircleIcon class="h-5 w-5 text-gray-400 dark:text-slate-300 hover:text-slate-200"
                                     aria-hidden="true"/>
                      </ComboboxButton>

                      <ComboboxOptions v-if="filteredFormats.length > 0"
                                       class="absolute z-40 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-slate-800 dark:text-slate-200 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                        <ComboboxOption v-for="(format, formatIndex) in filteredFormats" :key="format.id"
                                        :value="format.name" as="template" v-slot="{ active, selected }">
                          <li :class="['relative cursor-pointer select-none py-2 pl-3 pr-9', active ? 'bg-violet-600 text-white dark:text-slate-200' : 'text-gray-900 dark:text-slate-100']">
                        <span :class="['block truncate', selected && 'font-semibold']">
                          {{ format.name }}
                        </span>
                            <span v-if="selected"
                                  :class="['absolute inset-y-0 right-0 flex items-center pr-4', active ? 'text-white dark:text-slate-200' : 'text-violet-600']">
                          <CheckIcon class="h-5 w-5" aria-hidden="true"/>
                        </span>
                          </li>
                        </ComboboxOption>
                      </ComboboxOptions>
                    </div>
                  </Combobox>
                </div>
              </div>
              <!--<div class="w-full">
                <label for="gamemode" class="sr-only">
                  Gamemode
                </label>
                <div class="relative">
                  <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                    <SearchIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                  </div>
                  <input id="gamemode"
                         v-model="charts.filters.gamemode"
                         @input="filter('gamemode', $event.target.value)"
                         name="gamemode"
                         class="block w-full bg-white dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:outline-none focus:text-gray-900 dark:text-slate-200 focus:placeholder-gray-400 focus:ring-1 focus:ring-violet-500 focus:border-violet-500 sm:text-sm"
                         placeholder="Gamemode"
                         type="search"/>
                </div>
              </div>-->

            </div>
          </div>

          <section aria-labelledby="teams-heading" class="pt-6 pb-24">
            <h2 id="teams-heading" class="sr-only">Teams</h2>


            <div class="max-w-full mx-auto sm:px-6 lg:px-8">
              <div class="bg-white dark:bg-slate-900 overflow-hidden shadow-xl sm:rounded-lg">
                <base-table
                    table-header-cell-class="bg-white dark:bg-slate-900"
                    identifier="logs"
                    @sort-changed="sort"
                    v-model:columns="charts.columns"
                    v-model:visible="charts.visible"
                    :data="$page.props.teams.data"
                    :meta="charts.meta"
                    :loading="charts.loading"
                    row-key="id"
                    :table-height="charts.tableHeight">
                  <template v-slot:body-cell-value-name="props">
                    <Link
                        class="hover:underline text-violet-600 hover:text-violet-900 dark:text-violet-400 dark:hover:text-violet-400"
                        :href="route('team.detail', { team: props.row.id})">
                      {{ props.row.name }}
                    </Link>
                  </template>
                </base-table>
                <div class="px-4 py-2 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                  <div>
                    <p class="text-sm text-gray-700 dark:text-slate-200">
                      Showing
                      {{ ' ' }}
                      <span class="font-medium">{{ $page.props.teams.meta.from }}</span>
                      {{ ' ' }}
                      to
                      {{ ' ' }}
                      <span class="font-medium">{{ $page.props.teams.meta.to }}</span>
                      {{ ' ' }}
                      of
                      {{ ' ' }}
                      <span class="font-medium">{{ $page.props.teams.meta.total }}</span>
                      {{ ' ' }}
                      results
                    </p>
                  </div>
                  <div>
                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                      <Link v-for="(link, index) in $page.props.teams.meta.links" :href="link.url"
                            aria-current="page" :class="{
                  'z-10 bg-violet-50 border-violet-500 text-violet-600 dark:bg-slate-800': link.active,
                  'bg-white dark:bg-slate-900 border-gray-300 dark:border-slate-600 dark:text-slate-400 text-gray-500 hover:bg-gray-50 dark:hover:bg-slate-600': !link.active
                }" class="relative inline-flex items-center px-4 py-2 border text-sm font-medium" v-html="link.label">

                      </Link>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-slate-200 leading-tight">
        Teams
        <div class="py-2 text-sm font-normal text-gray-500 dark:text-slate-400 leading-tight">
          Note: only ETF2L teams are mentioned here for now. Other leagues might be supported once API's exist for
          those.
        </div>
      </h2>
    </template>
  </app-layout>
</template>

<script>
import {computed, defineComponent, onMounted, reactive, ref} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import BaseTable from "../Components/Tables/BaseTable";
import Notice from "../Components/Home/Notice";
import {
  SelectorIcon,
  CheckIcon,
  ChevronLeftIcon,
  ChevronRightIcon,
  ChevronDownIcon,
  FilterIcon,
  MinusSmIcon,
  PlusSmIcon,
  SearchIcon,
  XCircleIcon
} from '@heroicons/vue/solid'
import {Inertia} from "@inertiajs/inertia";
import {Link} from "@inertiajs/inertia-vue3";
import debounce from "lodash/debounce";
import {
  Dialog,
  DialogOverlay,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
  Listbox,
  ListboxButton,
  ListboxLabel,
  ListboxOption,
  ListboxOptions,
  Combobox,
  ComboboxButton,
  ComboboxInput,
  ComboboxLabel,
  ComboboxOption,
  ComboboxOptions,
} from '@headlessui/vue'
import {XIcon} from '@heroicons/vue/outline'

export default defineComponent({
                                 components: {
                                   Combobox,
                                   ComboboxButton,
                                   ComboboxInput,
                                   ComboboxLabel,
                                   ComboboxOption,
                                   ComboboxOptions,
                                   Notice,
                                   Listbox,
                                   ListboxButton,
                                   ListboxLabel,
                                   ListboxOption,
                                   ListboxOptions,
                                   SelectorIcon,
                                   XCircleIcon,
                                   CheckIcon,
                                   Dialog,
                                   DialogOverlay,
                                   Disclosure,
                                   DisclosureButton,
                                   DisclosurePanel,
                                   Menu,
                                   MenuButton,
                                   MenuItem,
                                   MenuItems,
                                   TransitionChild,
                                   TransitionRoot,
                                   XIcon,
                                   SearchIcon,
                                   ChevronDownIcon,
                                   FilterIcon,
                                   MinusSmIcon,
                                   PlusSmIcon,
                                   AppLayout,
                                   Welcome,
                                   Link,
                                   BaseTable,
                                   ChevronLeftIcon,
                                   ChevronRightIcon,
                                 },
                                 setup() {
                                   const charts = reactive(
                                       {
                                         limit      : 50,
                                         sidebar    : {
                                           opened: false
                                         },
                                         tableHeight: 700,
                                         filters    : {
                                           page: 1
                                         },
                                         loading    : false,
                                         visible    : ['name', 'gamemode', 'league'],
                                         meta       : Inertia.page.props.teams.meta,
                                         pagination : {},
                                         columns    : [
                                           {
                                             name        : "name",
                                             field       : "name",
                                             label       : 'Name',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "league",
                                             field       : "league",
                                             label       : 'League',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           },
                                           {
                                             name        : "gamemode",
                                             field       : "gamemode",
                                             label       : 'Gamemode',
                                             align       : 'left',
                                             sortable    : false,
                                             headerFilter: "text",
                                             width       : 100,
                                           }
                                         ],
                                       }
                                   )

                                   function setInitialFilters() {
                                     charts.filters = route().params;
                                   }

                                   const filter = debounce((key, value) => {
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 500)

                                   const resetFilters = () => {
                                     charts.sidebar.opened = false;
                                     charts.filters        = {page: 1}
                                     reset();
                                     getData();
                                   }

                                   const sort = debounce((order) => {
                                     charts.filters.sort = order;
                                     reset();
                                     getData();
                                   }, 150)


                                   const formatQuery = ref('')

                                   const filteredFormats = computed(() => {
                                     return !formatQuery.value
                                            ? Inertia.page.props.formats
                                            : Inertia.page.props.formats.filter(format => {
                                           return format.name.toLowerCase().includes(formatQuery.value.toLowerCase())
                                         })
                                   })

                                   function getData() {
                                     Inertia.get(route('teams'), {
                                       ...route().params,
                                       ...charts.filters
                                     }, {
                                                   preserveScroll: true,
                                                   preserveState : true,
                                                   replace       : false
                                                 })
                                   }


                                   const dropdownFilter = debounce((key, value) => {
                                     //console.log({key, value})
                                     charts.filters[key] = value;
                                     reset();
                                     getData();
                                   }, 100)

                                   function reset() {
                                     charts.filters.page = 1;
                                   }

                                   onMounted(() => {
                                     const nav    = document.querySelector('.charts-navbar');
                                     const header = document.querySelector('.charts-header');

                                     setInitialFilters();
                                     charts.tableHeight = window.innerHeight - 300;
                                   })

                                   return {
                                     charts,
                                     filter,
                                     dropdownFilter,
                                     sort,
                                     resetFilters,
                                     formatQuery,
                                     filteredFormats
                                   }
                                 },
                               })
</script>
