<template>
  <app-layout :title="$page.props.team.data.name">
    <template #header>
      <div
          class="max-w-full mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
        <div class="flex items-center space-x-5">
          <div class="flex-shrink-0">
            <div class="relative">
              <img class="h-16 w-16 rounded-full"
                   @error="onImageError"
                   :src="$page.props.team.data.team_picture"
                   :alt="$page.props.team.data.name"/>
              <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"/>
            </div>
          </div>
          <div>
            <h1 class="text-2xl font-bold text-gray-900 dark:text-slate-100">
              {{ $page.props.team.data.name }}
            </h1>
            <h3 class="text-md font-medium text-gray-500 dark:text-slate-200">
              {{ $page.props.team.data.tag }}
            </h3>
          </div>
        </div>
        <div
            class="flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
          <dl class="mt-2 grid gap-5 sm:grid-cols-4">
            <div class="px-4 py-5 bg-white dark:bg-slate-900 shadow dark:shadow-slate-500/50 rounded-lg overflow-hidden sm:p-6">
              <dt class="text-sm font-medium text-gray-500 dark:text-slate-200 dark:bg-slate-900 truncate">
                Match count
              </dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900 dark:text-slate-200">
                {{ $page.props.match_count }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </template>

    <div
        class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
      <div class="space-y-6 lg:col-start-1 lg:col-span-3">
        <section aria-labelledby="player-title">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <span class="relative z-0 inline-flex shadow-sm rounded-md">
                <a :href="$page.props.team.data.team_url" target="_blank"
                   class="relative inline-flex items-center px-4 py-2 rounded-md border border-gray-300 dark:border-slate-600 bg-white dark:bg-slate-900 text-sm font-medium text-gray-700 dark:text-slate-300 hover:bg-gray-50 dark:hover:bg-slate-800 focus:z-10 focus:outline-none focus:ring-1 focus:ring-violet-500 focus:border-violet-500">
                  Team page
                </a>
              </span>
            </div>

          </div>
        </section>
        <section aria-labelledby="team-information-title py-4">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="team-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                Team information
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-slate-200">
                Information about {{ $page.props.team.data.name }}
              </p>
            </div>
            <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-6">
              <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    League
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.team.data.league }}
                  </dd>
                </div>
                <div class="sm:col-span-1">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    Gamemode
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200">
                    {{ $page.props.team.data.gamemode }}
                  </dd>
                </div>
                <div class="sm:col-span-2">
                  <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                    <p>Players</p>
                    <p class="text-xs font-normal text-gray-500 dark:text-slate-200">
                      Only players who played an official match with the team are included.
                    </p>
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 dark:text-slate-200 py-4">
                    <ul role="list"
                        class="mx-auto grid grid-cols-2 gap-x-2 gap-y-4 sm:grid-cols-4 md:gap-x-2 lg:max-w-5xl lg:gap-x-2 lg:gap-y-4 xl:grid-cols-6">
                      <li v-for="(player, index) in $page.props.team.data.players" :key="`player_${index}`">
                        <div class="space-y-4">
                          <Link :href="route('player.detail', {user: player.id})">
                            <img class="mx-auto h-12 w-12 rounded-full lg:w-16 lg:h-16" :src="player.img"
                                 :alt="player.name"/>
                          </Link>
                          <div class="space-y-2">
                            <div class="text-xs font-medium truncate">
                              <Link :href="route('player.detail', {user: player.id})">{{ player.name }}</Link>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </section>
        <section aria-labelledby="match-information-title py-4 mb-3">
          <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h2 id="match-information-title" class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
                Matches
              </h2>
              <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-slate-200">
                Matches played by {{ $page.props.team.data.name }}
              </p>
            </div>
            <div class="border-t border-gray-200 dark:border-slate-700 px-4 py-2 sm:px-4">
              <nav class="h-full overflow-y-auto" aria-label="Matches">
                <div v-for="competition in Object.keys($page.props.matches)" :key="competition" class="relative">
                  <div class="z-10 sticky top-0 border-t border-b border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 px-6 py-1 text-sm font-medium text-gray-500 dark:text-slate-200">
                    <h3>{{ competition }}</h3>
                  </div>
                  <div class="mt-8 sm:block">
                    <div class="align-middle inline-block min-w-full border-b border-gray-200 dark:border-slate-700">
                      <table class="min-w-full">
                        <tbody class="bg-white dark:bg-slate-900 divide-y divide-gray-100">
                        <tr v-for="(match, matchIdx) in $page.props.matches[competition]" :key="`match_${matchIdx}`">
                          <td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200">
                            <div class="flex items-center space-x-3 lg:pl-2">
                              <div :class="['flex-shrink-0 w-2.5 h-2.5 rounded-full']" aria-hidden="true" />
                              <a href="#" class="truncate hover:text-gray-600 dark:hover:text-slate-300">
                        <span>
                          {{ match.week }}
                          {{ ' ' }}
                          <span class="text-gray-500 dark:text-slate-200 font-normal">on {{ match.maps_played }}</span>
                        </span>
                              </a>
                            </div>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            <span :class="{
                            'text-red-500': match.won === 'Lost',
                            'text-green-500': match.won === 'Won',
                            'text-orange-500': match.won === 'Tie'
                          }">
                              {{ match.home_team_name }} vs. {{ match.away_team_name }}
                            </span>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            <span :class="{
                            'text-red-500': match.won === 'Lost',
                            'text-green-500': match.won === 'Won',
                            'text-orange-500': match.won === 'Tie'
                          }">
                              {{ match.home_team_score }} - {{ match.away_team_score }}
                            </span>
                          </td>
                          <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 dark:text-slate-200 text-right">
                            {{ match.scheduled_date }}
                          </td>
                          <td class="px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                            <a :href="match.league_match_url" target="_blank" class="text-violet-600 hover:text-violet-900 dark:hover:text-violet-400">
                              Open
                            </a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--<ul role="list" class="relative z-0 divide-y divide-gray-200 dark:divide-slate-700">
                    <li v-for="(match, matchIdx) in $page.props.matches[competition]" :key="`match_${matchIdx}`" class="bg-white dark:bg-slate-900">
                      <div class="relative px-6 py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                        <div class="flex-shrink-0">
                          <img class="h-10 w-10 rounded-full" :src="person.imageUrl" alt="" />
                        </div>
                        <div class="flex-1 min-w-0">
                          <a href="#" class="focus:outline-none">
                            <span class="absolute inset-0" aria-hidden="true" />
                            <p class="text-sm font-medium text-gray-900 dark:text-slate-200">
                              {{ person.name }}
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                              {{ person.role }}
                            </p>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>-->
                </div>
              </nav>
            </div>
          </div>
        </section>
      </div>
    </div>

  </app-layout>
</template>

<script>
import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverOverlay,
  PopoverPanel,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import {Link} from "@inertiajs/inertia-vue3";
import AppLayout from "../Layouts/AppLayout";
import {getClassName} from "../Functions/classes";
import {
  ArrowNarrowLeftIcon,
  HomeIcon,
  PaperClipIcon,
  QuestionMarkCircleIcon,
  SearchIcon,
} from '@heroicons/vue/solid'
import {BellIcon, MenuIcon, XIcon} from '@heroicons/vue/outline'

export default {
  components: {
    Link,
    AppLayout,
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    Popover,
    PopoverButton,
    PopoverOverlay,
    PopoverPanel,
    TransitionChild,
    TransitionRoot,
    ArrowNarrowLeftIcon,
    BellIcon,
    HomeIcon,
    MenuIcon,
    PaperClipIcon,
    QuestionMarkCircleIcon,
    SearchIcon,
    XIcon,
  },
  setup() {
    function onImageError(evt) {
      evt.target.src = "/assets/placeholder.png"
    }

    return {
      getClassName,
      onImageError
    }
  },
}
</script>
