@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.charts-text-input {
  @apply max-w-lg block w-full shadow-sm focus:ring-primary focus:border-primary sm:max-w-xs sm:text-sm border-gray-300 dark:border-slate-600 rounded-md transition ease-in-out duration-300;
}

.charts-textarea {
  @apply max-w-lg shadow-sm block w-full focus:ring-primary focus:border-primary sm:text-sm border border-gray-300 dark:border-slate-600 rounded-md transition ease-in-out duration-300;
}

.charts-form-row {
  @apply sm:grid sm:grid-cols-3 sm:gap-x-4 sm:gap-y-2 sm:items-start sm:border-t sm:border-gray-200 dark:border-slate-700 sm:pt-2;
}

.border-t-transparent {
  border-top-color: transparent;
}

.tippy-box[data-theme~='charts'] {
  @apply bg-white text-black dark:text-slate-200 dark:bg-black;
}
