<template>
  <litepie-datepicker as-single :model-value="modelValue"
                      :placeholder="placeholder"
                      :formatter="formatter"
                      @update:model-value="onValueUpdate"
                      v-slot="{ value, placeholder, clear }">
    <div class="flex">
      <div class="flex-1">
        <button
            type="button"
            class="block w-full bg-gray-50 dark:bg-slate-900 text-gray-400 dark:text-slate-500 hover:text-gray-900 hover:text-gray-800 leading-6 py-1 sm:px-2 border border-gray-200 dark:border-slate-700 rounded-xl flex items-center justify-center space-x-1 sm:space-x-2 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-violet-300 focus:outline-none transition ease-out duration-300"
        >
            <span class="text-gray-900 dark:text-slate-100">
              <!-- If there is a value, parse it according to the date format (by default we use the European format) -->
              {{ value ? moment(value).format(displayFormat) : placeholder }}
            </span>
        </button>
      </div>
      <div class="flex-shrink-0">
        <button
            type="button"
            class="ml-4 block px-3 flex-none bg-primary bg-opacity-25 text-primary leading-6 py-1 sm:px-2 border border-primary rounded-xl flex items-center justify-center space-x-1 sm:space-x-2 focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary focus:outline-none transition ease-out duration-300"
            @click="clear"
        >
          <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
          >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </litepie-datepicker>
</template>

<script>
import {defineComponent, ref} from "vue"
import LitepieDatepicker from 'litepie-datepicker';
import moment from 'moment'

export default defineComponent(
    {
      name: "DatePicker",
      setup() {
        return {
          moment,
        }
      },
      methods   : {
        onValueUpdate(val) {
          if (Array.isArray(val) && val.length > 0) {
            this.$emit('update:modelValue', val[0]);
          } else {
            this.$emit('update:modelValue', val)
          }
        }
      },
      components: {
        LitepieDatepicker
      },
      props     : {
        modelValue   : {},
        placeholder  : {
          required: false,
          default : 'Select date',
          type    : String
        },
        displayFormat: {
          type    : String,
          required: false,
          default : 'DD/MM/YYYY'
        },
        formatter    : {
          type    : Object,
          required: false,
          default : () => {
            return {
              date : 'YYYY-MM-DD',
              month: 'MMM'
            };
          }
        }
      },
      emits     : ['update:modelValue']
    },
)
</script>

<style scoped>

</style>
