<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="bg-white dark:bg-slate-900">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-12 lg:px-8">
      <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
        <div v-for="feature in features" :key="feature.name" class="relative">
          <dt>
            <CheckIcon class="absolute h-6 w-6 text-green-500" aria-hidden="true" />
            <p class="ml-9 text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">{{ feature.name }}</p>
          </dt>
          <dd class="mt-2 ml-9 text-base text-gray-500 dark:text-slate-400">
            {{ feature.description }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
</template>

<script>
import { CheckIcon } from '@heroicons/vue/outline'

const features = [
  {
    name: 'Mass combined log data',
    description: 'Logs can be combined into collections to show performance over a season.',
  },
  {
    name: 'Charts',
    description: 'Looking at numbers is boring, so I made some charts with those numbers instead.',
  },
  {
    name: 'Excel export',
    description: 'Collections can be easily exported to Excel spreadsheets.',
  },
  {
    name: 'Dominations & revenges',
    description: 'If you owned someone all game, you should probably find it there.',
  },
  {
    name: 'Disconnects',
    description: 'Any players who disconnected from the server, for any reason, are listed.',
  },
  {
    name: 'Chat filter',
    description: 'Cancel your friends by searching for the stuff they have said.',
  },
  {
    name: 'Class switches',
    description: 'Want to see offclasses that happened mid-game? Now you can.',
  },
  {
    name: 'Demos',
    description: 'Integration with demos.tf to show demos over an entire season.',
  }
]

export default {
  name: "FeatureList",
  components: {
    CheckIcon,
  },
  setup() {
    return {
      features,
    }
  },
}
</script>