<template>
  <footer class="bg-white dark:bg-slate-900" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="space-y-8 xl:col-span-1">
          <!--<img class="h-10" src="https://tailwindui.com/img/logos/workflow-mark-gray-300.svg" alt="Company name" />-->
          <p class="text-gray-500 dark:text-slate-200 text-base">
            Analyze Team Fortress 2 data. Powered by logs.tf.
          </p>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-3 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-gray-400 dark:text-slate-200 tracking-wider uppercase">
                Leagues
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="https://etf2l.org" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    ETF2L
                  </a>
                </li>
                <li>
                  <a href="https://rgl.gg" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    RGL
                  </a>
                </li>
                <li>
                  <a href="https://ozfortress.com" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    ozfortress
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 dark:text-slate-200 tracking-wider uppercase">
                Similar
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="https://trends.tf" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    Trends
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 dark:text-slate-200 tracking-wider uppercase">
                Other
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="https://demos.tf" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    demos.tf
                  </a>
                </li>
                <li>
                  <a href="https://twitch.tv/kritzkast" target="_blank" class="text-base text-gray-500 hover:text-gray-900 dark:text-slate-200 dark:hover:text-slate-100">
                    KritzKast
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 border-t border-gray-200 dark:border-slate-700 pt-8">
        <p class="text-base text-gray-400 dark:text-slate-200 xl:text-center">
          &copy; 2022 Adje. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import { defineComponent, h } from 'vue'

export default {
  setup() {
    return {
    }
  },
}
</script>