<template>
  <div class="bg-white dark:bg-slate-900">
    <div class="max-w-7xl mx-auto py-12 px-4 divide-y divide-gray-200 dark:divide-slate-700 sm:px-6 lg:py-16 lg:px-8">
      <h2 class="text-3xl font-extrabold text-gray-900 dark:text-slate-200">
        Questions & answers
      </h2>
      <div class="mt-8">
        <dl class="divide-y divide-gray-200 dark:divide-slate-700">
          <div v-for="faq in faqs" :key="faq.id" class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base font-medium text-gray-900 dark:text-slate-200 md:col-span-5">
              {{ faq.question }}
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base text-gray-500 dark:text-slate-400">
                {{ faq.answer }}
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
const faqs = [
  {
    id      : 1,
    question: "What is this?",
    answer  :
        "This is a hobby project of mine that aims to show data pulled from logs.tf in a more modern style while providing some QoL changes. It allows for logs to be mass combined, mainly for the purpose of showing performance of players throughout the context of an entire season and finding logs from past competitions easier.",
  },
  {
    id      : 2,
    question: "What do I do when I see something that doesn't seem correct?",
    answer  :
        "First of all, please check if the data on logs.tf is actually correct. Sometimes, the data from there can be all over the place. Also, if the log is from an early era of logs.tf, there might be missing/incorrect data because they differ too much from the log files nowadays. If the problem is not present with the original logs however, please reach out to the creator and provide your findings.",
  },
  {
    id      : 3,
    question: "Where is additional data like class switches, disconnects etc. coming from?",
    answer  :
        "logs.tf tends to keep a copy of the original log file, which is just plain text. It has a lot of information in there that it does not bother to show as it is not that relevant.",
  },
  {
    id      : 4,
    question: "The DPM values of some logs are different from the ones on logs.tf sometimes. Why is that?",
    answer  :
        "logs.tf calculates DPM based on the duration of the entire game. This causes problems when games are having extensive pauses. charts.tf calculates DPM values based on the round times. If a game of Gullywash lasted 20 minutes but had a 5 minute pause in between, the DPM is calculated based on the in-game times and not the real duration. If the original log file is not present anymore for download, the logs.tf time will be used as a fallback.",
  },
  {
    id      : 5,
    question: "Does this only show data from ETF2L?",
    answer  :
        "No, some data of RGL & ozfortress is also available. However, some features are missing for those leagues due to the lack of API's. Other leagues might follow depending on how easy it is to retrieve the logs and link stuff like demos without too much manual work required.",
  },
  {
    id      : 6,
    question: "Is there a public API?",
    answer  :
        "For now there is no API present.",
  },
  {
    id      : 7,
    question: "I have some cool ideas/feature requests for this projects, how can I reach out?",
    answer  :
        "Contact me on Discord (Adje#1877). Feature requests are welcome, but will not be high on the priority list.",
  },
  {
    id      : 8,
    question: "I encountered a bug, how do I reach out?",
    answer  :
        "Contact me on Discord (Adje#1877). Please understand this is a hobby project and it might take a while for me to attend to your problem however.",
  },
  {
    id      : 9,
    question: "How did you gather the logs?",
    answer  :
        "This will vary on the league but it is semi-automatic. For ETF2L this is mostly automated due to ease of knowing who participated in games on which map & at what time without looking all over the place. With this I can find roughly 80% of logs automatically, the remaining 20% is manual work. This is not foolproof however due to people combining their own logs, servers messing up, logs that start recording pre-game, people getting subs mid-game, different map versions getting played etc. RGL & ozfortress lack public API's so these are done manually for the most part.",
  },
  {
    id      : 10,
    question: "What happens with missing logs for matches?",
    answer  :
        "What is not there, can not be added. Tough luck.",
  },
  {
    id      : 11,
    question: "Can you gather logs for competition <insert competition here>?",
    answer  :
        "No. Gathering the logs is a painstakingly long process and besides the ones I have gathered myself I do not intend to do this for others. However, if you have all the (preferably uncombined) logs then feel free to reach out and I will see what I can do.",
  },
  {
    id      : 11,
    question: "Can I add my own collection/logs?",
    answer  :
        "So far no, due to the current setup I'd rather stay in control of what gets added.",
  },
  {
    id      : 11,
    question: "Why are some collections so slow to load?",
    answer  :
        "Collections that are slow are usually the ones that have on average 80 logs or more. Charts can also take a while to load regardless of player count. If you are experiencing problems with slow sorting, try switching to a smaller subset of players first (ex. only Scouts).",
  },
  {
    id      : 12,
    question: "Why are only ETF2L teams and official matches registered?",
    answer  :
        "The other leagues lack public API's to my knowledge.",
  },
  {
    id      : 13,
    question: "Why are playoff games not registered?",
    answer  :
        "I think it would be a bit odd adding them because it would make comparison pointless when some players have played way more than others. I will look into adding them separately somehow if there is interest for that.",
  },
  {
    id      : 14,
    question: "How do I reach out?",
    answer  :
        "Contact me on Discord (Adje#1877). If you have a feature proposal, please explain why this feature would be useful and what it would add. If you have a bug report related to the data, please provide accurate information on what the problem is & in which game(s) the problem occurs! Be as specific as possible. The more information you provide, the easier it is for me to fix potential issues. Bad example: 'Hey my DPM should be 450 but it is actually 500. Why is it not 500?'. Good example: 'Hey, I have looked at all the logs and I think the DPM should be 500 instead of 450. Here are all the logs, this is how long I played according to these logs, and if I do the math it results in 500.'",
  },
]

export default {
  name: "FrequentlyAskedQuestions",
  setup() {
    return {
      faqs,
    }
  },
}
</script>