<template>
  <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 rounded-md mb-3">
    <div class="flex">
      <div class="flex-shrink-0">
        <ExclamationIcon class="h-5 w-5 text-yellow-400" aria-hidden="true"/>
      </div>
      <div class="ml-3">
        <p class="text-sm text-yellow-700">
          charts.tf will close on <span class="font-medium underline text-yellow-700 hover:text-yellow-600">September 14th, 2022</span>.
          If there is anything you wish to archive, you should do so by then.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {ExclamationIcon} from "@heroicons/vue/solid";

export default {
  name      : "Notice",
  components: {
    ExclamationIcon
  }
}
</script>

<style scoped>

</style>