<template>
  <div class="bg-white dark:bg-slate-900">
    <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-8 sm:space-y-12">
        <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl dark:text-slate-200">Shoutouts</h2>
          <p class="text-xl text-gray-500 dark:text-slate-400">A list of people who have made this possible.</p>
        </div>
        <ul role="list" class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6">
          <li v-for="person in people" :key="person.name">
            <div class="space-y-4">
              <img class="mx-auto h-20 w-20 rounded-full lg:w-24 lg:h-24" :src="person.imageUrl" alt="" />
              <div class="space-y-2">
                <div class="text-xs font-medium lg:text-sm">
                  <h3 class="dark:text-slate-200">{{ person.name }}</h3>
                  <p class="text-violet-600 dark:text-violet-400">{{ person.role }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
const people = [
  {
    name: 'sek',
    role: 'Master of computation',
    imageUrl:
        'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8d/8d5aecf456aa5cefd6afd58d42985e64363ca954_full.jpg',
  },
  {
    name: 'CeeJaey',
    role: 'Caster/streamer',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/54/54f13a04ff7ae589a721ffc92c2cd590e9c49005_full.jpg',
  },
  {
    name: 'proky',
    role: 'Prem HL Sniper',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/ff/ff2b92a6f018fd8d6c750f1aeb74273882ebe1e5_full.jpg',
  },
  {
    name: 'Harry',
    role: 'Professional log combiner',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/9d/9d05fa4e57fed3085bd679ff7bd5263975acc432_full.jpg',
  },
  {
    name: 'Just1s',
    role: 'Cat human',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/35/357f2c055a9ddbebc7da60142c93a2300a51120f_full.jpg',
  },
  {
    name: 'FTH',
    role: '(Retired) King of HL',
    imageUrl:
        'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/ee/ee665770e8ee2f1e0be8f1328f45782174e100d9_full.jpg',
  },
  {
    name: 'Brian',
    role: 'Exterminator of Stuart Little',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/7a/7a580b6dacf1866ead4db3174d10a6d5a03ac755_full.jpg',
  },
  {
    name: 'JENNY',
    role: 'ETF2L Admin',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/60/607bb753cfa6a95e85a26c7cb28cb97755a764e5_full.jpg',
  },
  {
    name: 'zoob',
    role: 'Creator of logs.tf',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/f3/f3a448d157b4f204f04c19a270c35de67bcbe51e_full.jpg',
  },
  {
    name: 'Wiethoofd',
    role: 'Producer at KritzKast',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/cf/cfc75f21f16a5dd9a7efde0c307a151bc1de9b9b_full.jpg',
  },
  {
    name: 'nightmare',
    role: 'Enforcer connoisseur',
    imageUrl:
        'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/55/5560573bb48b41683777ebf630df570f6f556fb6_full.jpg',
  },
  {
    name: 'Wambert',
    role: '🦶',
    imageUrl:
        'https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/91/91b15e8a1188a9b440cba14fff3e549b9d131827_full.jpg',
  },
]

export default {
  setup() {
    return {
      people,
    }
  },
}
</script>