<template>
  <div class="flex justify-start py-2">
    <div class="bg-white dark:bg-slate-900 shadow-xl sm:rounded-lg" :class="{
      'overflow-hidden': overflowHidden
    }">
      <div class="flex flex-col" :style="{
            height: `${tableHeight}px`
        }">
        <div class="flex-grow" :class="{
          'overflow-auto': overflowHidden
        }">
          <table class="resizable-table table-fixed relative w-full border border-gray-300 dark:border-slate-600" :class="{
            'overflow-y-scroll': overflowHidden
          }" scroll-region>
            <thead class="bg-gray-50 dark:bg-slate-800">
            <tr :class="tableHeaderRowClass">
              <th
                  @click="onHeaderClick(column)"
                  :style="{
                                width: `${column.width ? column.width : '100'}px`,
                                position: 'relative'
                            }"
                  v-for="(column, index) in visibleColumns" :key="`column_header_${index}`"
                  :class="tableHeaderCellClass"
                  class="sticky-base-table px-4 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-400 uppercase tracking-wider align-top">
                <div
                    @mouseover="hoverOverColumn(column)"
                    @mouseleave="stopHoverOverColumn(column)"
                    @mouseup="sortColumn(column)"
                >
                  <div class="cursor-pointer">
                    <div class="flex justify-between items-center cursor-pointer">
                      <div :class="tableHeaderLabelClass" class="text-align-top">
                        <slot :name="`header-cell-${column.name}`" v-bind="{
                                column
                            }">
                          {{ column.label ? column.label : column.name }}
                        </slot>
                      </div>
                      <div>
                        <transition
                            enter-active-class="transition ease-out duration-200"
                            enter-class="transform opacity-0 scale-95"
                            enter-to-class="transform opacity-100 scale-100"
                            leave-active-class="transition ease-in duration-75"
                            leave-class="transform opacity-100 scale-100"
                            leave-to-class="transform opacity-0 scale-95">
                          <span v-if="column.sortable && (hovering === column.name || sorting.column === column.name)">
                            <ArrowNarrowUpIcon class="h-4 w-4"
                                               v-if="sorting.column !== column.name || sorting.order === 'asc'"/>
                            <ArrowNarrowDownIcon class="h-4 w-4" v-else-if="sorting.order === 'desc'"/>
                          </span>
                        </transition>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
            </thead>
            <tbody class="divide-y">
            <template v-for="(row, i) in data">
              <tr :class="[tableBodyRowClass, i % 2 !== 0 ? 'bg-gray-50 dark:bg-slate-800' : '']" @click="onRowClick(row, i)"
                  class="transition ease-in-out duration-300 hover:bg-primary dark:hover:bg-primary hover:bg-opacity-40">
                <td @click="onCellClick(column, row)" v-for="(column, index) in visibleColumns"
                    :key="`column_field_${index}`"
                    :class="tableBodyCellClass">
                  <slot :name="`body-cell-value-${column.name}`" v-bind="{
                                row,
                                column
                            }">
                    <div class="flex items-center">
                      <div class="w-full"
                           :class="[`text-${column.align ? column.align : 'center'}`, !row[column.field] ? 'text-gray-400' : '']">
                        {{ row.hasOwnProperty(column.field) ? row[column.field] : '' }}
                      </div>
                    </div>
                  </slot>
                </td>
              </tr>
            </template>
            <template v-if="loading">
              <transition-group enter-active-class="ease-out duration-300"
                                enter-from-class="opacity-0"
                                enter-to-class="opacity-100"
                                leave-active-class="ease-in duration-200"
                                leave-from-class="opacity-100"
                                leave-to-class="opacity-0">
                <tr :class="{
                tableBodyRowClass,
                'bg-gray-50 dark:bg-slate-800': i % 2 !== 0
              }"
                    :key="`loading_row_${loadingIndex}`"
                    v-for="loadingIndex in amountOfSkeletons"
                >
                  <td v-for="(column, index) in visibleColumns"
                      :key="`loading_field_${index}`"
                      class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 overflow-clip overflow-hidden">
                    <slot :name="`body-cell-value-${column.name}`" v-bind="{
                                column
                            }">
                      <div class="flex items-center">
                        <div class="w-full animate-pulse"
                             :class="`text-left`">
                          <div class="h-4 bg-primary rounded"/>
                        </div>
                      </div>
                    </slot>
                  </td>
                </tr>
              </transition-group>
            </template>
            </tbody>
          </table>
          <div class="text-center text-caption font-white" ref="divAsTarget">
            <transition leave-active-class="transition ease-in duration-1000"
                        leave-class="opacity-100"
                        leave-to-class="opacity-0">
                        <span v-if="loading">
                            ...
                        </span>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import debounce from 'lodash/debounce';
import {ArrowNarrowDownIcon, ArrowNarrowUpIcon} from "@heroicons/vue/solid"

export default {
  name      : "BaseTable",
  components: {
    ArrowNarrowDownIcon,
    ArrowNarrowUpIcon
  },
  data() {
    return {
      selectAll : false,
      pagination: {
        page: 1
      },
      resizing  : false,
      hovering  : undefined,
      sorting   : {
        column: undefined,
        order : "asc"
      },
      scroll    : {
        observer: null
      },
    }
  },
  computed: {
    amountOfSkeletons() {
      if (this.meta && this.meta.hasOwnProperty('total')) {
        return (this.meta.total - this.data.length) >= this.limit ? this.limit : this.meta.total - this.data.length;
      }
      return this.limit;
    },
    colSpan() {
      let length = this.visibleColumns.length;
      if (this.selectable) {
        length++;
      }
      return length;
    },
    visibleColumns() {
      return this.columns.filter(col => this.visible.includes(col.name));
    },
    canBeSeen: {
      get() {
        return this.visible;
      },
      set(val) {
        this.$emit('update:visible', val)
      }
    },
  },
  props   : {
    overflowHidden       : {
      type    : Boolean,
      required: false,
      default : true
    },
    tableBodyCellClass   : {
      type    : String,
      required: false,
      default : 'px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200 overflow-clip overflow-hidden cursor-pointer'
    },
    selectable           : {
      type    : Boolean,
      required: false,
      default : false
    },
    limit                : {
      type    : Number,
      required: false,
      default : 20
    },
    sidebar              : {
      type    : Boolean,
      required: false,
      default : false
    },
    translationGroup     : {
      type    : String,
      required: false,
      default : "orders"
    },
    visible              : {
      type    : Array,
      required: false,
      default : () => []
    },
    tableHeaderRowClass  : {
      type    : String,
      required: false,
      default : 'cursor-pointer'
    },
    tableHeaderLabelClass: {
      type    : String,
      required: false,
      default : 'font-medium'
    },
    tableHeaderCellClass : {
      type    : String,
      required: false,
      default : 'bg-gray-200 dark:bg-slate-700'
    },
    tableBodyRowClass    : {
      type    : String,
      required: false,
      default : 'cursor-pointer dark:border-slate-600'
    },
    tableHeight          : {
      type    : Number,
      required: false,
      default : null
    },
    /**
     * Data format is very similar to Quasar: name, field, sortable, label
     * headerFilter determines the filter that will be used for the column.
     * If not specified no filter will be applied for that column.
     */
    columns: {
      type    : Array,
      required: true
    },
    /**
     * Data we are mapping.
     */
    data: {
      type    : Array,
      required: true,
      default : () => []
    },
    /**
     * The meta attribute of Laravel (contains pagination information)
     */
    meta: {
      type    : Object,
      required: false
    },
    /**
     * Show loading state on the table.
     */
    loading: {
      type    : Boolean,
      required: false,
      default : false
    },
    rowKey : {
      type    : String,
      required: false,
      default : "id"
    }
  },
  methods : {
    onHeaderClick(col) {
      this.$emit('header-click', col)
    },
    onRowClick(row, rowIndex) {
      this.$emit('row-click', row);
    },
    onCellClick(column, row) {
      this.$emit('cell-click', {
        column,
        row
      })
    },
    sortColumn(column) {
      if (column.sortable) {
        // If these are not the same, start from ascending order again
        if (column.name !== this.sorting.column) {
          this.sorting.order = "asc"
        } else {
          // If not, change the order.
          this.sorting.order = this.sorting.order === "asc" ? "desc" : "asc";
        }
        this.sorting.column = column.name;
        this.filtersHaveChanged();
        this.$emit('sort-changed', {...this.sorting})
      }
    },
    hoverOverColumn(column) {
      // Store the column we are currently hovering over.
      this.hovering = column.name;
    },
    stopHoverOverColumn(column) {
      // If we are not hovering over the column anymore, undo the state.
      this.hovering = undefined;
    },
    /**
     * FILTERS FUNCTIONALITY
     */
    filtersHaveChanged: debounce(function () {
      this.$emit('filter-changed');
      //console.log("The filter has changed.")
    }, 300),
    paddingDiff(col) {
      if (this.getStyleVal(col, 'box-sizing') === 'border-box') {
        return 0;
      }
      let padLeft  = this.getStyleVal(col, 'padding-left');
      let padRight = this.getStyleVal(col, 'padding-right');
      return (parseInt(padLeft) + parseInt(padRight));
    },
    getStyleVal(elm, css) {
      return (window.getComputedStyle(elm, null).getPropertyValue(css))
    },
    callback(entries, observer) {
      entries.forEach(entry => {
        // We can only trigger the infinite scroll if:
        // - there is an intersection with the div below it
        // - the current page is lower than the last page we are on
        if (entry.isIntersecting && this.meta && this.meta.current_page < this.meta.last_page) {
          this.$emit('infinite-scroll');
        }
      });
    }
  },
  created() {

  },
  mounted() {
    // Only if we have meta data, we should create an observer for infinite scrolling.
    if (this.meta && this.meta.hasOwnProperty('total')) {
      this.observer = new IntersectionObserver(this.callback, {
        root     : null,
        threshold: 0
      })
      // Once we reach the bottom div the scroll will trigger.
      // We're using this instead of scroll events for:
      // - ease of use
      // - better performance
      // - less issues on various screen sizes
      this.observer.observe(this.$refs.divAsTarget);
    }
  }
}
</script>

<style scoped lang="scss">
.sticky-base-table {
  position: sticky !important;
  top: 0;
}

</style>

<style lang="scss">

</style>
