<template>
  <div>
    <div v-for="(sC, index) in sharedCharts" :key="`shared_chart_${index}`"
         class="bg-white dark:bg-slate-900 px-4 py-5 border-b border-gray-200 dark:border-slate-700 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-slate-200">
        {{ sC.name }}
      </h3>
      <p v-if="sC.description" class="mt-1 text-lg text-gray-500 dark:bg-slate-400">
        {{ sC.description }}
      </p>
      <base-bar-chart :dataset="[
      {
        name: sC.name,
        data: sort($page.props.log.data.statlines).desc(sC.field).map(s => s[sC.field])
      }
  ]" :labels="sort($page.props.log.data.statlines).desc(sC.field).map(s => s.in_game_name)"
    :height="$page.props.log.data.statlines.length * 24"/>
    </div>
  </div>
</template>

<script>
import BaseBarChart from "../../Charts/BaseBarChart";
import {sort} from "fast-sort";

export default {
  name      : "Charts",
  components: {
    BaseBarChart
  },
  setup() {
    const sharedCharts = [
      {
        name : 'Kills',
        field: 'kills'
      },
      {
        name : 'Kills per minute',
        field: 'kills_per_minute'
      },
      {
        name : 'Kills per death',
        field: 'kills_per_death'
      },
      {
        name : 'Kills assists per death',
        field: 'kills_assists_per_death'
      },
      {
        name : 'Assists',
        field: 'assists_per_death'
      },
      {
        name : 'Assists per minute',
        field: 'assists_per_minute'
      },
      {
        name : 'Deaths',
        field: 'deaths'
      },
      {
        name : 'Deaths per minute',
        field: 'deaths_per_minute'
      },
      {
        name : 'Damage',
        field: 'damage'
      },
      {
        name : 'Damage per minute',
        field: 'damage_per_minute'
      },
      {
        name : 'Damage taken',
        field: 'damage_taken'
      },
      {
        name : 'Damage taken per minute',
        field: 'damage_taken_per_minute'
      },
      {
        name : 'Heals received',
        field: 'heals_received'
      },
      {
        name : 'Airshots',
        field: 'airshots'
      },
      {
        name : 'Capture points captured',
        field: 'cpc'
      },
      {
        name : 'Suicides',
        field: 'suicides'
      },
    ]
    return {
      sharedCharts,
      sort
    }
  }
}
</script>

<style scoped>

</style>