<template>
  <section aria-labelledby="notes-title">
    <div class="bg-white dark:bg-slate-900 shadow sm:rounded-lg sm:overflow-hidden">
      <div class="divide-y divide-gray-200 dark:divide-slate-700">
        <div class="px-4 py-6 sm:px-6">
          <ul role="list" class="space-y-2">
            <li v-for="(chatMessage, index) in $page.props.log.data.chat" class="px-2" :key="`chat_message_${index}`" :class="{
              'bg-gray-50 dark:bg-slate-800': index % 2
            }">
              <div class="flex space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" :src="chatMessage.img" :alt="chatMessage.in_game_name" />
                </div>
                <div>
                  <div class="text-sm">
                    <a :href="route('player.detail', {user: chatMessage.steam_id})" class="font-medium text-gray-900 dark:text-slate-100">
                      {{ chatMessage.in_game_name }}
                      <span v-if="chatMessage.in_game_name !== chatMessage.common_name">
                        ({{ chatMessage.common_name }})
                      </span>
                    </a>
                  </div>
                  <div class="mt-0.5 text-sm text-gray-700 dark:text-slate-300">
                    <p>{{ chatMessage.message }}</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Chat"
}
</script>

<style scoped>

</style>