<template>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200 dark:divide-slate-700">
      <li v-for="(classSwitch, index) in $page.props.log.data.class_switches" :key="`classSwitch_${index}`"
          class="py-1 px-4" :class="{
        'bg-gray-200 dark:bg-slate-900': index % 2
      }">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img class="h-6 w-6 rounded-full" :src="classSwitch.img" :alt="classSwitch.in_game_name"/>
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 dark:text-slate-200 truncate">
              {{ classSwitch.in_game_name }}
              <span v-if="classSwitch.in_game_name !== classSwitch.common_name">
                        ({{ classSwitch.common_name }})
                      </span>
            </p>
            <div class="flex justify-start items-center gap-x-2">
              <img class="h-4 w-4 rounded-full dark:bg-white" :src="`/assets/${classSwitch.tf_class.toLowerCase()}_icon.png`"
                   :alt="classSwitch.tf_class"/>
              <p class="text-sm text-gray-500 dark:text-slate-200 truncate">
                {{ getClassName(classSwitch.tf_class) }}
              </p>
            </div>

          </div>
          <div>
                    <span
                        class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-violet-100 text-violet-800">
                      {{ classSwitch.time_h }}
                    </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import {getClassName} from "../../../Functions/classes";

export default {
  name: "ClassSwitches",
  setup() {
    return {
      getClassName
    }
  }
}
</script>

<style scoped>

</style>