<template>
  <div class="bg-white dark:bg-slate-900 shadow overflow-hidden sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
      <li v-for="(disconnect, index) in $page.props.log.data.disconnects" :key="`disconnect_${index}`">
        <a :href="disconnect.href" class="block hover:bg-gray-50 dark:hover:bg-slate-800">
          <div class="flex items-center px-4 py-4 sm:px-6">
            <div class="min-w-0 flex-1 flex items-center">
              <div class="flex-shrink-0">
                <img class="h-12 w-12 rounded-full" :src="disconnect.img" :alt="disconnect.in_game_name"/>
              </div>
              <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-x-4 md:gap-y-1">
                <div>
                  <p class="text-sm font-medium text-violet-600 truncate">
                    {{ disconnect.in_game_name }}
                    <span v-if="disconnect.in_game_name !== disconnect.common_name">
                      ({{ disconnect.common_name }})
                    </span>
                  </p>
                </div>
                <div class="text-right text-sm whitespace-nowrap text-gray-500">
                <span
                    class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-violet-100 text-violet-800">
                      {{ disconnect.time_h }}
                    </span>
                </div>
                <div class="hidden md:block">
                  <div>
                    <p class="text-sm text-gray-900 dark:text-slate-200">
                      {{ disconnect.reason }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Disconnects"
}
</script>

<style scoped>

</style>