<template>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200 dark:divide-slate-700">
      <li v-for="(killstreak, index) in $page.props.log.data.killstreaks" :key="`killstreak_${index}`" class="py-2 px-4" :class="{
        'bg-gray-200 dark:bg-slate-900': index % 2
      }">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img class="h-8 w-8 rounded-full" :src="killstreak.img" :alt="killstreak.in_game_name"/>
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 dark:text-slate-200 truncate">
              {{ killstreak.in_game_name }}
              <span v-if="killstreak.in_game_name !== killstreak.common_name">
                        ({{ killstreak.common_name }})
                      </span>
            </p>
            <p class="text-sm text-gray-500 dark:text-slate-200 truncate">
              {{ killstreak.tick }}
            </p>
          </div>
          <div>
                    <span
                        class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-violet-100 text-violet-800">
                      {{ killstreak.streak }}
                    </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Killstreaks"
}
</script>

<style scoped>

</style>