<template>
  <section aria-labelledby="medic-heading" class="mt-6">
    <h2 id="medic-heading" class="sr-only">Medic stats</h2>

    <div class="space-y-8">
      <div v-for="(medic, index) in medics" :key="`medic_${index}`"
           class="bg-white dark:bg-slate-900 border-t border-b border-gray-200 dark:border-slate-700 shadow-sm sm:border sm:rounded-lg">
        <div class="py-6 px-4 sm:px-6 lg:grid lg:grid-cols-12 lg:gap-x-8 lg:p-8">
          <div class="sm:flex lg:col-span-3">
            <div
                class="flex-shrink-0 w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-none sm:w-24 sm:h-24">
              <img src="/assets/medic.png" alt="Medic"
                   class="w-full h-full object-center object-cover sm:w-full sm:h-full"/>
            </div>

            <div class="mt-6 sm:mt-0 sm:ml-6">
              <h3 class="text-base font-medium text-gray-900 dark:text-slate-200">
                <a :href="route('player.detail', {user: medic.steam_id})">
                  {{ medic.in_game_name }}
                  <span v-if="medic.in_game_name !== medic.common_name">
                    ({{ medic.common_name }})
                  </span>
                </a>
              </h3>
              <p class="mt-3 text-sm text-gray-500 dark:text-slate-200">
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                      :class="[medic.team === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                  {{ medic.team }}
                </span>
              </p>
            </div>
          </div>

          <div class="mt-6 lg:mt-0 lg:col-span-9">
            <dl class="grid grid-cols-2 gap-x-6 text-sm">
              <div>
                <dl class="sm:divide-y sm:divide-gray-200 dark:divide-slate-700">
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Healing
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{
                        sumPropertyValue($page.props.log.data.heal_spreads.filter(hs => hs.healer_steam_id === medic.steam_id), 'heal_amount')
                      }}
                      ({{
                        roundNumber(sumPropertyValue($page.props.log.data.heal_spreads.filter(hs => hs.healer_steam_id === medic.steam_id), 'heal_amount') / ($page.props.log.data.duration_real / 60))
                      }}/m)
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Charges
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      <div>
                        <span>
                          Total: {{ medic.charges }}
                        </span>
                      </div>
                      <div v-for="(medigun, medigunIndex) in mediguns" :key="`medic_${index}_${medigunIndex}`"
                           :class="[medigun]">
                        <span v-if="!!medic[medigun]">
                          {{ getMedigunName(medigun) }}: {{ medic[medigun] }}
                        </span>
                      </div>
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Drops
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.drops }}
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Average time to build
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.average_time_to_build }} s
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Average time before using
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.average_time_before_using }} s
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Near full charge deaths
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.deaths_with_95_uber }}
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Average uber length
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.average_charge_length }} s
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Deaths after charge
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.deaths_within_20s_after_uber }}
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Advantages lost
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.advantages_lost }}
                    </dd>
                  </div>
                  <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500 dark:text-slate-200">
                      Biggest advantage lost
                    </dt>
                    <dd class="mt-0.5 text-sm text-gray-900 dark:text-slate-200 sm:mt-0 px-2">
                      {{ medic.biggest_advantage_lost }}
                    </dd>
                  </div>
                </dl>
              </div>
              <div>

                <div class="flex flex-col">
                  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                      <div class="shadow overflow-hidden border-b border-gray-200 dark:border-slate-700 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700">
                          <thead class="bg-gray-50 dark:bg-slate-800">
                          <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                              Heal target
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                              Class
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                              Heals
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                              Heals/m
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                              %
                            </th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr v-for="(hs, hsIndex) in $page.props.log.data.heal_spreads.filter(hs => hs.healer_steam_id === medic.steam_id)"
                              :key="`hs_medic_${index}_${hsIndex}`">
                            <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-200">
                              {{ getStatlineBySteamId(hs.target_steam_id).in_game_name }}
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap text-center text-sm font-medium text-gray-900 dark:text-slate-200">
                              <div class="flex justify-center items-center w-full">
                                <img class="h-4 w-4 rounded-full dark:bg-white"
                                     :src="`/assets/${getStatlineBySteamId(hs.target_steam_id).class_played}_icon.png`"
                                     alt="Class played">
                              </div>
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                              {{ hs.heal_amount }}
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                              {{ roundNumber(hs.heal_amount / ($page.props.log.data.duration_real / 60))}}
                            </td>
                            <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                              {{ roundNumber(hs.heal_amount / sumPropertyValue($page.props.log.data.heal_spreads.filter(hs => hs.healer_steam_id === medic.steam_id), 'heal_amount') * 100) }}
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import {computed} from "vue";
import {Inertia} from "@inertiajs/inertia";
import {sumPropertyValue, roundNumber} from "../../../Functions/calculationHelpers";
import {getMedigunName} from "../../../Functions/weapons";

export default {
  name: "MedicStats",
  setup() {
    const mediguns = ['charges_uber', 'charges_kritzkrieg', 'charges_vaccinator', 'charges_quickfix'];
    const medics   = computed(() => {
      return Inertia.page.props.log.data.statlines.filter(s => s.class_played === 'medic');
    })

    function getStatlineBySteamId(steamId) {
      return Inertia.page.props.log.data.statlines.find(s => s.steam_id === steamId);
    }

    return {
      medics,
      mediguns,
      sumPropertyValue,
      getMedigunName,
      roundNumber,
      getStatlineBySteamId
    }
  }
}
</script>

<style scoped>

</style>