<template>
  <div class="flow-root mt-8">
    <ul role="list" class="-mb-8">
      <li v-for="(revenge, revengeIdx) in $page.props.log.data.revenges" :key="revenge.id">
        <div class="relative pb-6">
          <span v-if="(revengeIdx !== $page.props.log.data.revenges.length - 1)" class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true" />
          <div class="relative flex space-x-3">
            <div>
              <span :class="[revenge.team === 'Blue' ? 'bg-blue-500' : 'bg-red-500', 'h-6 w-6 rounded-full flex items-center justify-center ring-8 ring-white']">
                <img :src="revenge.team === 'Blue' ? '/assets/nemesis_blu.png' : '/assets/nemesis_red.png'" alt="revenge icon">
              </span>
            </div>
            <div class="min-w-0 flex-1 pt-1 flex justify-between space-x-4">
              <div>
                <p class="text-sm text-gray-500">
                  <a :href="route('player.detail', {user: revenge.steam_id})" class="font-medium text-gray-900 dark:text-slate-200">{{ revenge.in_game_name }}</a> got revenge on <a href="#" class="font-medium text-gray-900 dark:text-slate-200">{{ revenge.target_in_game_name }}</a>
                </p>
              </div>
              <div class="text-right text-sm whitespace-nowrap text-gray-500">
                <span
                    class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-violet-100 text-violet-800">{{ revenge.time_h }}</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Revenges"
}
</script>

<style scoped>

</style>