<template>
  <div class="mt-8 flow-root px-4 sm:mt-12 sm:px-0">
    <div class="-my-6 divide-y divide-gray-200 dark:divide-slate-700 sm:-my-10">
      <Disclosure v-for="(round, index) in $page.props.log.data.rounds" :key="`round_${index}`"
                  :default-open="index === 0" as="div" class="border-b border-gray-200 dark:border-slate-700 py-6" v-slot="{ open }">
        <h3 class="-my-3 flow-root">
          <DisclosureButton
              class="py-3 bg-white dark:bg-slate-900 w-full flex items-center justify-between text-sm text-gray-400 dark:text-slate-200 hover:text-gray-500">
                    <span class="font-medium text-gray-900 dark:text-slate-100 px-6">
                      Round {{ index + 1 }}
                    </span>
            <span class="ml-6 px-6 flex items-center">
                      <PlusSmIcon v-if="!open" class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                      <MinusSmIcon v-else class="h-5 w-5 text-violet-500" aria-hidden="true"/>
                    </span>
          </DisclosureButton>
        </h3>
        <DisclosurePanel class="pt-6">
          <div class="flex py-2 sm:py-4">
            <div class="min-w-0 flex-1 lg:flex lg:flex-col">
              <div class="lg:flex-1">
                <div class="flex gap-x-6">
                  <div class="round-info">
                    <h4 class="font-medium text-gray-900 dark:text-slate-100">Round {{ index + 1 }}</h4>
                    <p class="hidden mt-2 text-sm text-gray-500 dark:text-slate-200 sm:block">Lasted for {{ round.duration_h }}</p>

                    <div class="mt-2 font-medium">
                      <dl class="sm:divide-y sm:divide-gray-200 dark:divide-slate-700">
                        <div class="py-0.5 sm:py-1 sm:grid sm:grid-cols-3 sm:gap-x-4 sm:gap-y-2">
                          <dt v-if="round.winner" class="text-sm font-medium text-gray-500 dark:text-slate-200">
                            Winner
                          </dt>
                          <dd v-if="round.winner" class="mt-0.5 text-sm text-gray-900 dark:text-slate-100 sm:mt-0 sm:col-span-2">
                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                        :class="[round.winner === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                  {{ round.winner }}
                  </span>
                          </dd>
                          <dt v-if="round.first_cap" class="text-sm font-medium text-gray-500 dark:text-slate-200">
                            First cap
                          </dt>
                          <dd v-if="round.first_cap" class="mt-0.5 text-sm text-gray-900  dark:text-slate-100 sm:mt-0 sm:col-span-2">
                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                        :class="[round.first_cap === 'Red' ? 'bg-red-100 text-red-800' : 'bg-blue-100 text-blue-800']">
                  {{ round.first_cap }}
                  </span>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                  <div class="team-round-perf">
                    <div class="flex flex-col">
                      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                          <div class="shadow overflow-hidden border-b border-gray-200 dark:border-slate-700 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700">
                              <thead class="bg-gray-50 dark:bg-slate-800">
                              <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Team
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Kills
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Damage
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Charges
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Score
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-100">
                                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                                        :class="['bg-blue-100 text-blue-800']">
                                    Blue
                                  </span>
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm font-medium text-gray-900 dark:text-slate-100">
                                    {{ round.blu_kills }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.blu_damage }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.blu_charges }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.blu_score }}
                                </td>

                              </tr>
                              <tr>
                                <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-100">
                                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                                        :class="['bg-red-100 text-red-800']">
                                    Red
                                  </span>
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm font-medium text-gray-900 dark:text-slate-100">
                                  {{ round.red_kills }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.red_damage }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.red_charges }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ round.red_score }}
                                </td>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="player-round-perf">
                    <div class="flex flex-col">
                      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                          <div class="shadow overflow-hidden border-b border-gray-200 dark:border-slate-700 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200 dark:divide-slate-700">
                              <thead class="bg-gray-50 dark:bg-slate-800">
                              <tr>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Team
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Player
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Kills
                                </th>
                                <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-slate-200 uppercase tracking-wider">
                                  Damage
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr v-for="(player, playerIndex) in round.players" :key="`round_${index}_${playerIndex}`">
                                <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-slate-100">
                                  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
                                        :class="{
                                          'bg-blue-100 text-blue-800': player.team === 'Blue',
                                          'bg-red-100 text-red-800': player.team === 'Red',
                                        }">
                                    {{ !!player.team ? player.team : 'Unknown' }}
                                  </span>
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ player.common_name }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm font-medium text-gray-900 dark:text-slate-100">
                                  {{ player.kills }}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap text-center text-sm text-gray-500 dark:text-slate-200">
                                  {{ player.damage }}
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ml-4 flex-shrink-0 sm:m-0 sm:mr-6 sm:order-first">
              <div class="flow-root">
                <ul role="list" class="-mb-8">
                  <li v-for="(event, roundIndex) in round.events" :key="`round_event_${roundIndex}`">
                    <div class="relative pb-6">
                  <span v-if="(roundIndex !== round.events.length - 1)"
                        class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"/>
                      <div class="relative flex items-start space-x-6">
                        <template v-if="event.type === 'medic_death'">
                          <div class="relative">
                            <img
                                class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                                :src="event.target_img" :alt="event.target_name"/>
                            <span class="absolute -bottom-2 -right-2 bg-white rounded-tl px-0.5 py-px">
                          <font-awesome-icon class="text-violet-500" icon="skull"/>
                        </span>
                          </div>
                          <div class="min-w-0 flex-1">
                            <div>
                              <div class="text-sm">
                                <a target="_blank" :href="route('player.detail', {user: event.killer_steam_id})" class="font-medium text-gray-900 dark:text-slate-100">
                                  {{ event.target_name }}
                                </a>
                              </div>
                              <p class="mt-0.5 text-sm text-gray-500 dark:text-slate-200">
                                killed medic ({{ event.name }}) <span class="text-violet-500 text-xs">{{
                                  event.time_h
                                }}</span>
                              </p>
                            </div>
                          </div>
                        </template>
                        <template v-else-if="event.type === 'drop'">
                          <div class="relative">
                            <img
                                class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                                :src="event.img" :alt="event.name"/>
                            <span class="absolute -bottom-2 -right-2 bg-white rounded-tl px-0.5 py-px">
                          <font-awesome-icon class="text-violet-500" icon="car-crash"/>
                        </span>
                          </div>
                          <div class="min-w-0 flex-1">
                            <div>
                              <div class="text-sm">
                                <a target="_blank" :href="route('player.detail', {user: event.steam_id})" class="font-medium text-gray-900 dark:text-slate-100">
                                  {{ event.name }}
                                </a>
                              </div>
                              <p class="mt-0.5 text-sm text-gray-500 dark:text-slate-200">
                                dropped <span class="text-violet-500 text-xs">{{ event.time_h }}</span>
                              </p>
                            </div>
                          </div>
                        </template>
                        <template v-else-if="event.type === 'charge'">
                          <div class="relative">
                            <img
                                class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                                :src="event.img" :alt="event.name"/>
                            <span class="absolute -bottom-2 -right-2 bg-white rounded-tl px-0.5 py-px">
                          <font-awesome-icon class="text-violet-500" icon="briefcase-medical"/>
                        </span>
                          </div>
                          <div class="min-w-0 flex-1">
                            <div>
                              <div class="text-sm">
                                <a target="_blank" :href="route('player.detail', {user: event.steam_id})" class="font-medium text-gray-900 dark:text-slate-100">
                                  {{ event.name }}
                                </a>
                              </div>
                              <p class="mt-0.5 text-sm text-gray-500 dark:text-slate-200">
                                used {{ event.medigun ? getMedigunName(event.medigun) : 'übercharge (unknown)' }} <span
                                  class="text-violet-500 text-xs">{{ event.time_h }}</span>
                              </p>
                            </div>
                          </div>
                        </template>
                        <template v-else-if="event.type === 'round_win'">
                          <div>
                            <div class="relative px-1">
                              <div
                                  class="h-6 w-6 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                                <font-awesome-icon class="text-violet-500" icon="trophy"/>
                              </div>
                            </div>
                          </div>
                          <div class="min-w-0 flex-1">
                            <div>
                              <div class="text-sm">
                            <span class="font-medium text-gray-900 dark:text-slate-100">
                              {{ event.team }}
                            </span>
                              </div>
                              <p class="mt-0.5 text-sm text-gray-500 dark:text-slate-200">
                                won the round! <span class="text-violet-500 text-xs">{{ event.time_h }}</span>
                              </p>
                            </div>
                          </div>
                        </template>
                        <template v-else-if="event.type === 'pointcap'">
                          <div>
                            <div class="relative px-1">
                              <div
                                  class="h-6 w-6 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                                <font-awesome-icon class="text-violet-500" icon="flag"/>
                              </div>
                            </div>
                          </div>
                          <div class="min-w-0 flex-1">
                            <div>
                              <div class="text-sm">
                                <span class="font-medium text-gray-900 dark:text-slate-100">
                                  {{ event.team }}
                                </span>
                              </div>
                              <p class="mt-0.5 text-sm text-gray-500 dark:text-slate-200">
                                captured point {{ event.point }} <span class="text-violet-500 text-xs">{{
                                  event.time_h
                                }}</span>
                              </p>
                            </div>
                          </div>
                        </template>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </DisclosurePanel>
      </Disclosure>
    </div>
  </div>
</template>

<script>
import {getMedigunName} from "../../../Functions/weapons";
import {PlusSmIcon, MinusSmIcon} from "@heroicons/vue/solid"
import {
  Disclosure,
  DisclosurePanel,
  DisclosureButton
} from '@headlessui/vue'

export default {
  name: "Rounds",
  components: {
    PlusSmIcon,
    MinusSmIcon,
    Disclosure,
    DisclosureButton,
    DisclosurePanel
  },
  setup() {
    return {
      getMedigunName
    }
  }
}
</script>

<style scoped>

</style>