<template>
  <div
      class="overflow-hidden mt-0 mb-1 leading-5 text-gray-800 md:w-1/4 sm:w-full"
  >
    <div
        class="rounded-l-md float-left text-sm py-px px-2 w-1/2 text-white bg-scroll bg-blue-500 bg-repeat bg-none border-b-2 border-t border-gray-300 dark:border-slate-600 dark:border-slate-600 border-solid box-border"
    >
      <h2
          class="float-left my-1 mx-0 text-2xl leading-8 font-bold prose text-white"
      >
        BLU
      </h2>
      <h2
          class="float-right font-bold prose my-1 mx-0 text-2xl leading-8 text-white"
      >
        <slot name="blu_score" />
      </h2>
    </div>
    <div
        class="rounded-r-md float-left text-sm py-px px-2 w-1/2 text-white bg-scroll bg-red-500 bg-repeat bg-none border-b-2 border-t border-gray-300 dark:border-slate-600 dark:border-slate-600 border-solid box-border"
    >
      <h2
          class="float-left my-1 mx-0 text-2xl leading-8 font-bold prose text-white"
      >
        <slot name="red_score" />
      </h2>
      <h2
          class="float-right font-bold prose my-1 mx-0 text-2xl leading-8 text-white"
      >
        RED
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "Scores"
}
</script>

<style scoped>

</style>