<template>
  <div class="bg-white dark:bg-slate-900 shadow overflow-hidden sm:rounded-md mt-6">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
      <li v-for="(vod, vodIdx) in $page.props.vods" :key="`vod_${vodIdx}`">
        <a target="_blank" :href="vod.url" class="block hover:bg-gray-50 dark:hover:bg-slate-800">
          <div class="px-4 py-4 flex items-center sm:px-6">
            <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
              <div class="truncate">
                <div class="flex text-sm">
                  <p class="font-medium text-violet-600 truncate">{{ vod.title }}</p>
                  <p class="ml-1 flex-shrink-0 font-normal text-gray-500 dark:text-slate-200">on {{ vod.channel }}</p>
                </div>
                <div class="mt-2 flex">
                  <div class="flex items-center text-sm text-gray-500 dark:text-slate-200">
                    <VideoCameraIcon class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 dark:text-slate-100" aria-hidden="true"/>
                    <p>
                      Watch on {{ vod.provider }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ml-5 flex-shrink-0">
              <ChevronRightIcon class="h-5 w-5 text-gray-400 dark:text-slate-100" aria-hidden="true"/>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import {ChevronRightIcon, VideoCameraIcon} from "@heroicons/vue/solid";

export default {
  name      : "Vods",
  components: {
    ChevronRightIcon,
    VideoCameraIcon
  }
}
</script>

<style scoped>

</style>