<template>
    <ChartBarIcon class="w-12 h-12 fill-current text-violet-500" />
</template>

<script>
import {ChartBarIcon} from "@heroicons/vue/solid";

export default {
  components: {
    ChartBarIcon
  }
}
</script>