<template>
  <Link :href="href" :class="classes">
    <slot/>
  </Link>
</template>

<script>
import {defineComponent} from 'vue'
import {Link} from '@inertiajs/inertia-vue3';

export default defineComponent({
                                 components: {
                                   Link,
                                 },
                                 props     : ['href', 'active'],

                                 computed: {
                                   classes() {
                                     return this.active
                                            ? 'inline-flex items-center px-1 pt-1 border-b-2 border-violet-400 text-sm font-medium leading-5 text-gray-900 dark:text-slate-100 focus:outline-none focus:border-violet-700 transition'
                                            : 'inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:dark:text-slate-100 hover:text-gray-700 dark:text-slate-200 hover:border-gray-300 dark:border-slate-600 focus:outline-none focus:text-gray-700 focus:border-gray-300 dark:border-slate-600 transition'
                                   }
                                 }
                               })
</script>
