<template>
    <div>
        <button :class="classes" class="w-full text-left" v-if="as == 'button'">
            <slot></slot>
        </button>

        <Link :href="href" :class="classes" v-else>
            <slot />
        </Link>
    </div>
</template>

<script>
    import { defineComponent } from 'vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: ['active', 'href', 'as'],

        computed: {
            classes() {
                return this.active
                    ? 'block pl-3 pr-4 py-2 border-l-4 border-violet-400 text-base font-medium text-violet-700 bg-violet-50 focus:outline-none focus:text-violet-800 focus:bg-violet-100 focus:border-violet-700 transition'
                    : 'block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 dark:text-slate-300 dark:hover:text-slate-200 hover:text-gray-800 hover:bg-gray-50 dark:hover:bg-slate-800 hover:border-gray-300 dark:border-slate-600 focus:outline-none focus:text-gray-800 focus:bg-gray-50 dark:focus:bg-slate-800 focus:border-gray-300 dark:border-slate-600 transition'
            }
        }
    })
</script>
