<template>
  <div>
    <Head :title="title"/>

    <jet-banner/>

    <div class="charts-navbar min-h-screen bg-gray-100 dark:bg-slate-800">
      <nav class="bg-white dark:bg-slate-900 border-b border-gray-100 dark:border-slate-800">
        <!-- Primary Navigation Menu -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between h-16">
            <div class="flex">
              <!-- Logo -->
              <div class="shrink-0 flex items-center">
                <Link :href="route('home')">
                  <jet-application-mark class="block h-9 w-auto"/>
                </Link>
              </div>

              <!-- Navigation Links -->
              <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                <jet-nav-link :href="route('logs')" :active="route().current('logs')">
                  Logs
                </jet-nav-link>
                <jet-nav-link :href="route('collections')" :active="route().current('collections')">
                  Collections
                </jet-nav-link>
                <jet-nav-link :href="route('teams')" :active="route().current('teams')">
                  Teams
                </jet-nav-link>
                <jet-nav-link :href="route('players')" :active="route().current('players')">
                  Players
                </jet-nav-link>
              </div>
            </div>

            <div class="hidden sm:flex sm:items-center sm:ml-6">
              <div>
                <light-theme-button v-if="themePreference === 'dark'" @click="setLightMode"/>
                <dark-theme-button v-else @click="setDarkMode"/>
              </div>
              <div class="ml-3 relative">
                <jet-dropdown v-if="$page.props.user" align="right" width="48">
                  <template #trigger>
                    <button v-if="$page.props.jetstream.managesProfilePhotos"
                            class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 dark:border-slate-600 transition">
                      <img class="h-8 w-8 rounded-full object-cover"
                           :src="$page.props.user.steam_profile_picture_medium"
                           :alt="$page.props.user.name"/>
                    </button>

                    <span v-else class="inline-flex rounded-md">
                                            <button type="button"
                                                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 dark:text-slate-200 bg-white dark:hover:text-slate-300 hover:text-gray-700 focus:outline-none transition">
                                                {{ $page.props.user.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                     viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd"
                                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                          clip-rule="evenodd"/>
                                                </svg>
                                            </button>
                                        </span>
                  </template>

                  <template #content>
                    <!-- Account Management -->
                    <div class="block px-4 py-2 text-xs text-gray-400 dark:text-slate-200">
                      Manage Account
                    </div>

                    <!--<jet-dropdown-link :href="route('profile.show')">
                      Profile
                    </jet-dropdown-link>-->

                    <jet-dropdown-link :href="route('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">
                      API Tokens
                    </jet-dropdown-link>

                    <div class="border-t border-gray-100 dark:border-slate-800"></div>

                    <!-- Authentication -->
                    <form @submit.prevent="logout">
                      <jet-dropdown-link as="button">
                        Log Out
                      </jet-dropdown-link>
                    </form>
                  </template>
                </jet-dropdown>
                <a v-else :href="route('auth.steam')"
                   class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-violet-600 hover:bg-violet-700">
                  Sign in
                </a>
              </div>
            </div>

            <!-- Hamburger -->
            <div class="-mr-2 flex items-center sm:hidden">
              <button @click="showingNavigationDropdown = ! showingNavigationDropdown"
                      class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:focus:bg-slate-700 focus:text-gray-500 transition">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                  <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!-- Responsive Navigation Menu -->
        <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
          <div class="pt-2 pb-3 space-y-1">
            <jet-responsive-nav-link :href="route('logs')" :active="route().current('logs')">
              Logs
            </jet-responsive-nav-link>
            <jet-responsive-nav-link :href="route('collections')" :active="route().current('collections')">
              Collections
            </jet-responsive-nav-link>
            <jet-responsive-nav-link :href="route('teams')" :active="route().current('teams')">
              Teams
            </jet-responsive-nav-link>
            <jet-responsive-nav-link :href="route('players')" :active="route().current('players')">
              Players
            </jet-responsive-nav-link>
          </div>

          <!-- Responsive Settings Options -->
          <div class="pt-4 pb-1 border-t border-gray-200 dark:border-slate-700">
            <div v-if="$page.props.user" class="flex items-center px-4">
              <div v-if="$page.props.jetstream.managesProfilePhotos" class="shrink-0 mr-3">
                <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.user.steam_profile_picture_medium"
                     :alt="$page.props.user.name"/>
              </div>

              <div>
                <div class="font-medium text-base text-gray-800 dark:text-slate-100">{{ $page.props.user.name }}</div>
              </div>
            </div>

            <div v-if="$page.props.user" class="mt-3 space-y-1">
              <!--<jet-responsive-nav-link :href="route('profile.show')" :active="route().current('profile.show')">
                Profile
              </jet-responsive-nav-link>-->

              <jet-responsive-nav-link :href="route('api-tokens.index')" :active="route().current('api-tokens.index')"
                                       v-if="$page.props.jetstream.hasApiFeatures">
                API Tokens
              </jet-responsive-nav-link>

              <!-- Authentication -->
              <form method="POST" @submit.prevent="logout">
                <jet-responsive-nav-link as="button">
                  Log Out
                </jet-responsive-nav-link>
              </form>
            </div>
          </div>
        </div>
      </nav>

      <!-- Page Heading -->
      <header class="charts-header bg-white dark:bg-slate-900 shadow" v-if="$slots.header">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <slot name="header"></slot>
        </div>
      </header>

      <!-- Page Content -->
      <main>
        <slot></slot>
      </main>
      <app-footer/>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue'
import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
import JetBanner from '@/Jetstream/Banner.vue'
import JetDropdown from '@/Jetstream/Dropdown.vue'
import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
import JetNavLink from '@/Jetstream/NavLink.vue'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
import AppFooter from "../Components/Home/Footer";
import {Head, Link} from '@inertiajs/inertia-vue3';
import {setInitialColorPreference, enableDarkMode, enableLightMode} from "../Functions/darkMode";
import DarkThemeButton from "../Components/Buttons/DarkThemeButton";
import LightThemeButton from "../Components/Buttons/LightThemeButton";

export default defineComponent({
                                 props: {
                                   title: String,
                                 },

                                 components: {
                                   Head,
                                   AppFooter,
                                   JetApplicationMark,
                                   JetBanner,
                                   JetDropdown,
                                   JetDropdownLink,
                                   JetNavLink,
                                   JetResponsiveNavLink,
                                   DarkThemeButton,
                                   LightThemeButton,
                                   Link,
                                 },

                                 data() {
                                   return {
                                     showingNavigationDropdown: false,
                                     themePreference          : localStorage.getItem('theme') ? localStorage.getItem('theme') : 'light'
                                   }
                                 },

                                 methods: {
                                   switchToTeam(team) {
                                     this.$inertia.put(route('current-team.update'), {
                                       'team_id': team.id
                                     }, {
                                                         preserveState: false
                                                       })
                                   },
                                   setLightMode() {
                                     enableLightMode();
                                     this.themePreference = 'light';
                                   },
                                   setDarkMode() {
                                     enableDarkMode();
                                     this.themePreference = 'dark';
                                   },
                                   setColorPreference() {
                                     setInitialColorPreference();
                                   },
                                   logout() {
                                     this.$inertia.post(route('logout'));
                                   },
                                 },
                                 created() {
                                   setInitialColorPreference();
                                 }
                               })
</script>
